{% comment %}
  Renders a collection card

  Accepts:
  - card_collection: {Object} collection Liquid object (optional)
  - section: {String} Section (required)
  - block: {String} block (required)
  - class: {String} custom class (optional)

  Usage:
  {% render 'card-collection', section: section, block: block %}
{% endcomment %}
{% liquid
  assign section_st = section.settings
  assign block_st = block.settings
  assign image_ratio = section_st.image_ratio
  assign show_product_count = section_st.show_product_count
  assign content_position = section_st.content_position
  assign content_alignment = section_st.content_alignment
  assign collection_image = block_st.collection_image
  assign collection_title = block_st.collection_title
  assign ratio = '3/4'
  if image_ratio != 'adapt'
    case image_ratio
      when 'square'
        assign ratio = '1/1'
      when 'landscape'
        assign ratio = '4/3'
      when 'portrait'
        assign ratio = '3/4'
    endcase
  else
    if collection_image != blank
      assign ratio = collection_image.aspect_ratio
    elsif card_collection.featured_image
      assign ratio = card_collection.featured_image.aspect_ratio
    endif
  endif

  if collection_image.alt != blank
    assign alt_text = collection_image.alt
  elsif card_collection.featured_image.alt != blank
    assign alt_text = card_collection.featured_image.alt
  elsif collection_title != blank
    assign alt_text = collection_title
  elsif card_collection.title != blank
    assign alt_text = card_collection.title
  else
    assign alt_text = 'sections.collection_list.sample_name' | t
  endif
  assign collection_title_size = 'h6'
  if section_st.items_per_row < 3
    assign collection_title_size = 'h4'
  endif
%}
<div class="hover-afterload">
  <div
    class="collection-item__wrapper item-load hover-effect {{ class }}{% if content_position == 'overlay' %} flex align-end relative{% endif %}"
    {% if content_position == 'overlay' %}
      style="--aspect-ratio: {{ ratio }};"
    {% endif %}
  >
    <div class="collection-item__media{% if content_position == 'overlay' %} inset-0{% endif %}">
      <a
        class="block collection-item__media--ratio rounded{% if content_position == 'overlay' %} w-full h-full{% endif %}"
        draggable="false"
        {% if card_collection.url != blank %}
          href="{{ card_collection.url }}"
        {% else %}
          role="link"
        {% endif %}
        aria-label="{{- alt_text -}}"
        style="--aspect-ratio: {{ ratio }};"
      >
        <div class="{% if content_position == 'overlay' %}overlay-linear {% endif %}inset-0 absolute z-2 rounded"></div>
        {% assign collection_media = card_collection.featured_image %}
        {%- if collection_media or collection_image != blank -%}
          {% if collection_image != blank %}
            {% render 'responsive-image',
              type: 'other',
              image: collection_image,
              image_alt: alt_text,
              container: container,
              column: column,
              column_mobile: column_mobile,
              padding: padding,
              disable_lazy_loading: disable_lazy_loading,
              class: 'rounded center_swiper-arrow',
              motion: true
            %}
          {% else %}
            {% render 'responsive-image',
              type: 'other',
              image: collection_media,
              image_alt: alt_text,
              container: container,
              column: column,
              column_mobile: column_mobile,
              padding: padding,
              disable_lazy_loading: disable_lazy_loading,
              class: 'rounded center_swiper-arrow',
              motion: true
            %}
          {% endif %}
        {%- else -%}
          {% render 'placeholder-render', type: 'collection', class: 'img-placeholder h-full w-full' %}
        {%- endif -%}
      </a>
    </div>
    <div
      class="collection-information flex gap-sp-2 max-w-100 justify-{{ content_alignment }} text-{{ content_alignment }}{% if content_position == 'overlay' %} content_overlay px-sp-8 pb-sp-8 pt-15 z-2 w-full{% else %} mt-sp-4{% endif %}"
      {% if content_position == 'overlay' %}
        style="--color-heading: {{ section_st.overlay_image_color }};--color-text: {{ section_st.overlay_image_color }}"
      {% endif %}
    >
      {%- if block_st.collection_title == blank -%}
        {%- if block_st.collection != blank -%}
          {%- liquid
            assign p_url = ''
            if block_st.collection != blank
              assign p_url = block_st.collection.url
            endif
          -%}
          <a
            class="heading-color outlined-border subheading_weight {{ collection_title_size }}"
            {% if p_url == blank %}
              role="link" aria-disabled="true"
            {% else %}
              href="{{ p_url }}"
            {% endif %}
            aria-label="{{ block_st.collection.title }}"
          >
            {{ block_st.collection.title }}
          </a>
        {%- elsif block_st.collection == blank and card_collection.title -%}
          <a
            class="heading-color outlined-border subheading_weight {{ collection_title_size }}"
            {% if card_collection.title == blank %}
              role="link" aria-disabled="true"
            {% else %}
              href="{{ card_collection.url }}"
            {% endif %}
            aria-label="{{ card_collection.title }}"
          >
            {{- card_collection.title -}}
          </a>
        {%- else -%}
          <a
            class="heading-color outlined-border subheading_weight {{ collection_title_size }}"
            role="link"
            aria-disabled="true"
            aria-label="{{ 'sections.collection_list.sample_name' | t }}"
          >
            {{ 'sections.collection_list.sample_name' | t }}
          </a>
        {%- endif -%}
      {%- else -%}
        {%- liquid
          assign p_url = ''
          if block_st.collection != blank
            assign p_url = block_st.collection.url
          endif
        -%}
        <a
          class="heading-color outlined-border subheading_weight {{ collection_title_size }}"
          {% if p_url == blank %}
            role="link" aria-disabled="true"
          {% else %}
            href="{{ p_url }}"
          {% endif %}
          aria-label="{{ block_st.collection_title }}"
        >
          {{ block_st.collection_title }}
        </a>
      {%- endif -%}
      {%- if show_product_count -%}
        {% if card_collection.products_count %}
          <div class="product-count heading-color fs-13 body_weight">
            {{ card_collection.products_count }}
          </div>
        {% else %}
          <div class="product-count heading-color fs-13 body_weight">
            {%- assign pc = block_st.collection.products_count | default: 0 -%}
            {{ pc }}
          </div>
        {% endif %}
      {%- endif -%}
    </div>
  </div>
</div>
