{{ 'component-flag.css' | asset_url | stylesheet_tag }}
{%- if localization.available_countries.size > 1 -%}
  <noscript class="small-hide medium-hide">
    {%- form 'localization', id: 'HeaderCountryMobileFormNoScript', class: 'localization-form' -%}
      <div class=" relative">
        <h2 class="visually-hidden" id="HeaderCountryMobileLabelNoScript">{{ 'localization.country_label' | t }}</h2>
        <select
          class="localization-form__select localization-selector link show-placehoder"
          name="country_code"
          aria-labelledby="HeaderCountryMobileLabelNoScript"
        >
          {%- for country in localization.available_countries -%}
            <option
              value="{{ country.iso_code }}"
              {%- if country.iso_code == localization.country.iso_code %}
                selected
              {% endif %}
            >
              {{ country.name }} ({{ country.currency.iso_code }}
              {{ country.currency.symbol }})
            </option>
          {%- endfor -%}
        </select>
      </div>
      <button class="button button--tertiary btn-reset pointer">{{ 'localization.update_country' | t }}</button>
    {%- endform -%}
  </noscript>
  <localization-form class="no-js-hidden">
    {%- assign form_id = 'localization-country-' | append: section.id -%}
    {% form 'localization', id: form_id %}
      <div
        class="disclosure flex content-center text-center relative"
        style="--color-heading: #1D1D1F;--color-dark: #444444;"
      >
        <button
          type="button"
          class="button button-localization lh-global inline-flex align-center gap-sp-2 btn-reset color-inherit show-overlay fs-small body_weight pointer text-start not-highlight-tap"
          style="--show-overlay-bg: #0005;"
          aria-expanded="false"
          aria-controls="{{ localPosition }}List"
          aria-describedby="{{ localPosition }}Label"
          aria-label="{{ 'localization.language_label' | t }}"
        >
          <span class="country-flags flags-{{ localization.country.iso_code }}"></span>
          {{ localization.country.name }}
          ({{ localization.country.currency.iso_code }}
          {{ localization.country.currency.symbol }})
          <svg class="icon icon-down icon-rotate transition-drawer ms-sp-2" width="9" height="6" viewBox="0 0 9 6">
            <use href="#icon-arrow-down" />
          </svg>
        </button>

        <div
          class="disclosure__list-wrapper block left-0 invisible visibility-hidden bg-white color-dark z-15 fs-small body_weight transition-drawer absolute left-0 shadow"
          hidden="true"
        >
          <draggable-localization class="drawer__header flex gap-10 space-between align-center drawer-spacing visible-drag-md border-bottom relative hidden-1025" style="--padding-block:1.2rem;">
            <div class="drawer__heading fs-20 heading-style flex gap align-center">{{ 'localization.country_label' | t }}</div>
            <button
              type="button"
              class="modal__close pointer modal-button-close rounded-50 btn-reset w-30 h-full flex content-center flex-end hidden-1025"
              aria-label="Close"
            >
              <svg
                width="12"
                height="12"
                viewBox="0 0 14 14"
                fill="none"
                class="transition-short will-change icon-zoom"
              >
                <use href="#icon-close"></use>
              </svg>
            </button>
          </draggable-localization>
          <ul
            class="disclosure__list h-full flex column gap-2 text-start list-unstyled p-sp-5 p-1025-10 overflow-auto custom-scrollbar"
            role="list"
          >
            {% for country in localization.available_countries %}
              <li class="disclosure__item" tabindex="-1">
                <a
                  href="{{ routes.root_url }}"
                  class="disclosure__item-inner hover-bg_second rounded-10 transition px-sp-3 py-sp-2 flex align-center gap-10"
                  {% if country.iso_code == localization.country.iso_code %}
                    aria-current="true"
                  {% endif %}
                  data-value="{{ country.iso_code }}"
                >
                  <span class="country-flags flags-{{ country.iso_code }}"></span>
                  {{ country.name }}
                  ({{ country.currency.iso_code }}
                  {{ country.currency.symbol }})
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
      </div>
    {% endform %}
  </localization-form>
{% endif %}
