{% comment %}
  Renders gift card recipient form.
  Accepts:
  - product: {Object} product object.
  - form: {Object} the product form object.
  - section: {Object} section to which this snippet belongs.

  Usage:
  {% render 'gift-card-recipient-form', product: product, form: form, section: section %}
{% endcomment %}

<div class="customer">
  {%- assign gift_card_recipient_control_flag = 'properties[__shopify_send_gift_card_to_recipient]' -%}
  <script type="module" src="{{ 'recipient-form.js' | asset_url }}"></script>
  <recipient-form
    class="recipient-form relative"
    data-section-id="{{ section.id }}"
    data-product-variant-id="{{ product.selected_or_first_available_variant.id }}"
  >
    <input
      id="Recipient-checkbox-{{ section.id }}"
      type="checkbox"
      name="{{ gift_card_recipient_control_flag }}"
      disabled
      class="opacity-0 absolute top-0 left-0 z-1 pointer w-custom h-custom mx-0"
      style="--width: 1.6rem; --height: 1.6rem;"
    >
    <label class="recipient-checkbox mb-sp-5 flex gap-5 align-center pointer" for="Recipient-checkbox-{{ section.id }}">
      <svg
        width="1.6rem"
        height="1.6rem"
        viewBox="0 0 16 16"
        aria-hidden="true"
        focusable="false"
        class="checkmark"
      >
        <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect>
      </svg>
      <svg
        aria-hidden="true"
        class="icon icon-checkmark absolute left-0 top-0 opacity-0"
        width="11"
        height="7"
        viewBox="0 0 11 7"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M1.5 3.5L2.83333 4.75L4.16667 6L9.5 1" stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
      <span>{{ 'recipient.form.checkbox' | t }}</span>
    </label>
    <div
      class="product-form__recipient-error-message-wrapper hidden error column align-start"
      role="alert"
      {% unless form.errors %}
        hidden
      {% endunless %}
    >
      <p class="form__message flex align-center gap-5" tabindex="-1" autofocus>
        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" class="flex-auto w-18">
          <use href="#icon-error"></use>
        </svg>
        <span class="error-message">{{ 'templates.contact.form.error_heading' | t }}</span>
      </p>

      <ul class="gap-5">
        {%- if form.errors -%}
          {%- for field in form.errors -%}
            <li>
              {%- if field == 'form' -%}
                {{ form.errors.messages[field] }}
              {%- else -%}
                <a href="#Recipient-{{ field }}-{{ section.id }}" class="color-inherit">
                  {{ form.errors.messages[field] }}
                </a>
              {%- endif -%}
            </li>
          {%- endfor -%}
        {%- endif -%}
      </ul>
    </div>
    <p
      id="Recipient-fields-live-region-{{ section.id }}"
      class="visually-hidden"
      role="status"
    ></p>
    <div class="recipient-fields mt-sp-5 pt-sp-4 border-top">
      <div class="recipient-fields__field relative w-full flex wrap transition mb-15">
        <div class="field relative w-full flex wrap transition gap-5">
          <input
            class="field__input w-full"
            id="Recipient-email-{{ section.id }}"
            type="email"
            required
            placeholder="{{ 'recipient.form.email' | t }}"
            name="properties[Recipient email]"
            value="{{ form.email }}"
            {% if form.errors contains 'email' %}
              aria-invalid="true"
              aria-describedby="RecipientForm-email-error-{{ section.id }}"
            {% endif %}
          >
          <label class="field__label fs-small grey-color" for="Recipient-email-{{ section.id }}">
            <span class="recipient-email-label optional">
              {{- 'recipient.form.email_label_optional_for_no_js_behavior' | t -}}*
            </span>
          </label>
        </div>

        <div
          id="RecipientForm-email-error-{{ section.id }}"
          class="form__message error mt-10{% unless form.errors contains 'email' %} hidden{% endunless %}"
        >
          <svg width="18" height="18" viewBox="0 0 18 18" fill="none" class="flex-auto w-18">
            <use href="#icon-error"></use>
          </svg>
          <span class="error-message">
            {%- if form.errors contains 'email' -%}
              {{ form.errors.messages.email }}.
            {%- endif -%}
          </span>
        </div>
      </div>

      <div class="recipient-fields__field relative w-full flex wrap transition mb-15">
        <div class="field relative w-full flex wrap transition gap-5">
          <input
            class="field__input w-full"
            autocomplete="name"
            type="text"
            id="Recipient-name-{{ section.id }}"
            name="properties[Recipient name]"
            placeholder="{{ 'recipient.form.name' | t }}"
            value="{{ form.name }}"
            {% if form.errors contains 'name' %}
              aria-invalid="true"
              aria-describedby="RecipientForm-name-error-{{ section.id }}"
            {% endif %}
          >
          <label class="field__label fs-small grey-color" for="Recipient-name-{{ section.id }}">
            {{- 'recipient.form.name_label' | t -}}
          </label>
        </div>

        <div
          id="RecipientForm-name-error-{{ section.id }}"
          class="form__message error mt-10{% unless form.errors contains 'name' %} hidden{% endunless %}"
        >
          <svg width="18" height="18" viewBox="0 0 18 18" fill="none" class="flex-auto w-18">
            <use href="#icon-error"></use>
          </svg>
          <span class="error-message">
            {%- if form.errors contains 'name' -%}
              {{ form.errors.messages.name }}.
            {%- endif -%}
          </span>
        </div>
      </div>

      <div class="recipient-fields__field relative w-full flex wrap transition mb-15">
        {%- assign message_label_rendered = 'recipient.form.message_label' | t -%}
        <div class="field relative w-full flex wrap transition gap-5">
          <textarea
            rows="10"
            id="Recipient-message-{{ section.id }}"
            class="text-area field__input w-full"
            name="properties[Message]"
            maxlength="{{ max_chars_message }}"
            placeholder="{{ 'recipient.form.message' | t }}"
            aria-label="{{ message_label_rendered }} {{ max_chars_message_rendered }}"
            {% if form.errors contains 'message' %}
              aria-invalid="true"
              aria-describedby="RecipientForm-message-error-{{ section.id }}"
            {% endif %}
          >{{ form.message }}</textarea>
          <label class="field__label" for="Recipient-message-{{ section.id }}">
            {{ message_label_rendered }}
          </label>
        </div>
        {%- assign max_chars_message = 200 -%}
        {%- assign max_chars_message_rendered = 'recipient.form.max_characters' | t: max_chars: max_chars_message -%}
        <label class="note form__label mb-10 recipient-form-field-label recipient-form-field-label--space-between fs-small grey-color mt-sp-1">
          <span>{{ max_chars_message_rendered }}</span>
        </label>
        <div
          id="RecipientForm-message-error-{{ section.id }}"
          class="form__message error mt-10{% unless form.errors contains 'message' %} hidden{% endunless %}"
        >
          <svg width="18" height="18" viewBox="0 0 18 18" fill="none" class="flex-auto w-18">
            <use href="#icon-error"></use>
          </svg>
          <span class="error-message">
            {%- if form.errors contains 'message' -%}
              {{ form.errors.messages.message }}.
            {%- endif -%}
          </span>
        </div>
      </div>

      <div class="recipient-fields__field relative w-full flex wrap transition mb-15">
        <div class="field relative w-full flex wrap transition gap-5">
          <input
            class="field__input w-full body-font input-style"
            autocomplete="send_on"
            type="date"
            id="Recipient-send-on-{{ section.id }}"
            name="properties[Send on]"
            placeholder="{{ 'recipient.form.send_on' | t }}"
            pattern="\d{4}-\d{2}-\d{2}"
            value="{{ form.send_on }}"
            {% if form.errors contains 'send_on' %}
              aria-invalid="true"
              aria-describedby="RecipientForm-send_on-error-{{ section.id }}"
            {% endif %}
          >
          <label class="field__label" for="Recipient-send-on-{{ section.id }}">
            {{ 'recipient.form.send_on_label' | t }}
          </label>
        </div>

        <div
          id="RecipientForm-send_on-error-{{ section.id }}"
          class="form__message error mt-10{% unless form.errors contains 'send_on' %} hidden{% endunless %}"
        >
          <svg width="18" height="18" viewBox="0 0 18 18" fill="none" class="flex-auto w-18">
            <use href="#icon-error"></use>
          </svg>
          <span class="error-message">
            {%- if form.errors contains 'send_on' -%}
              {{ form.errors.messages.send_on }}.
            {%- endif -%}
          </span>
        </div>
      </div>
    </div>
    <input
      type="hidden"
      name="{{ gift_card_recipient_control_flag }}"
      value="if_present"
      id="Recipient-control-{{ section.id }}"
    >
    <input
      type="hidden"
      name="properties[__shopify_offset]"
      value=""
      id="Recipient-timezone-offset-{{ section.id }}"
      disabled
    >
  </recipient-form>
</div>
