{% if product.metafields.custom.external_affiliate == blank %}
  {%- assign pick_up_availabilities = product.selected_or_first_available_variant.store_availabilities
    | where: 'pick_up_enabled', true
  -%}
  <pickup-availability
    class="product__pickup-availabilities no-js-hidden quick-add-hidden"
    {% if product.selected_or_first_available_variant.available and pick_up_availabilities.size > 0 %}
      available
    {% endif %}
    data-root-url="{{ routes.root_url }}"
    data-variant-id="{{ product.selected_or_first_available_variant.id }}"
    data-has-only-default-variant="{{ product.has_only_default_variant }}"
  >
    <template>
      <pickup-availability-preview class="pickup-availability-preview warning flex flex-column content-center text-center gap-10">
        <svg width="18" height="18" fill="none">
          <g stroke="#907341" stroke-linecap="round" stroke-linejoin="round"><path stroke-width="1.3" d="M7.977 1.198c.573-.482 1.498-.482 2.054 0l1.293 1.105a1.89 1.89 0 0 0 1.039.376h1.39c.868 0 1.58.712 1.58 1.58v1.39c0 .328.171.786.376 1.031l1.105 1.293c.482.573.482 1.497 0 2.054l-1.105 1.292c-.204.246-.376.704-.376 1.031v1.391c0 .867-.712 1.58-1.58 1.58h-1.39c-.328 0-.786.171-1.031.376L10.039 16.8c-.573.483-1.497.483-2.054 0l-1.292-1.104c-.246-.205-.712-.377-1.031-.377H4.23c-.867 0-1.58-.712-1.58-1.579v-1.399c0-.319-.163-.785-.367-1.023l-1.105-1.3c-.474-.565-.474-1.481 0-2.046l1.105-1.3c.204-.246.368-.705.368-1.024V4.267c0-.868.712-1.58 1.579-1.58h1.415c.328 0 .786-.171 1.031-.376l1.301-1.113ZM9 5.846v3.952"/><path stroke-width="2" d="M8.996 12.285h.007"/></g>
        </svg>
        <div class="pickup-availability-info">
          <p class="caption-large mt-0 mb-5">{{ 'products.product.pickup_availability.unavailable' | t }}</p>
          <button class="button pickup-availability-button link link--text underlined-link btn-link btn-reset">
            {{ 'products.product.pickup_availability.refresh' | t }}
          </button>
        </div>
      </pickup-availability-preview>
    </template>
  </pickup-availability>
{% endif %}
<script src="{{ 'pickup-availability.js' | asset_url }}" defer="defer"></script>
