{%- liquid
  if scope != 'detail'
    if first_available_variant
      assign target = product.selected_or_first_available_variant
    else
      assign target = product.variants[0]
    endif
  else
    assign target = product.selected_or_first_available_variant
  endif
  assign compare_at_price = target.compare_at_price
  assign price = target.price | default: 1999

  assign money_price = price | money
  if settings.currency_code_enabled
    assign money_price = price | money_with_currency
  endif
  if product.price_varies and scope != 'detail'
    assign money_price = 'products.product.price.from_price_html' | t: price: money_price
  endif
  assign special_class = ''
  if compare_at_price > price
    assign special_class = ' special-price heading-color sale-color'
    assign savings_amount = compare_at_price | minus: price
    assign savings_percent = savings_amount | times: 100.0 | divided_by: compare_at_price | round
    assign savings_percent_as_money = savings_percent | times: 100
    assign display_percent = false
    if savings_percent_as_money > savings_amount
      assign display_percent = true
    endif
    if settings.currency_code_enabled
      assign savings_amount_money = savings_amount | money_with_currency
    else
      assign savings_amount_money = savings_amount | money
    endif
  endif
-%}
<div
  class="card-product-price relative flex align-center wrap gap row-gap-0 align-center{% if type != 'action_beside' and type != 'action_bellow' and scope != 'detail' %}{% if settings.product_alignment == 'center' %} justify-center{% endif %}{% endif %}{% if scope == 'detail' %} fs-24 lh-normal{% endif %} {{ class }}"
  style="--gap: 2px;--gap-desktop: 4px;"
>
  {%- if compare_at_price > price -%}
    <div class="heading-color price-regular inline-block">
      <span class="visually-hidden visually-hidden--inline">{{ 'products.product.price.sale_price' | t }}</span>
      <span class="price{{ special_class }}">
        {{ money_price }}
      </span>
    </div>
    <div class="price-regular grey-color inline-block">
      <span class="visually-hidden visually-hidden--inline">
        {{- 'products.product.price.regular_price' | t -}}
      </span>
      <s class="price-item compare-price body_weight{% if scope == 'detail' %} text-size{% endif %}">
        {%- if settings.currency_code_enabled -%}
          {{ compare_at_price | money_with_currency }}
        {%- else -%}
          {{ compare_at_price | money }}
        {%- endif -%}
      </s>
    </div>
    {% if scope == 'detail' %}
      <div class="saving-price">
        <span class="price-saving price-item compare-price sale-color ps-sp-1 subheading_weight text-size">
          {% if display_percent %}
            {{ 'products.product.sale_off' | t: discount: savings_percent }}
          {% else %}
            {{ 'products.product.sale_price' | t: price: savings_amount_money }}
          {% endif %}
        </span>
      </div>
    {% endif %}
  {%- else -%}
    <div class="price-regular">
      <span class="visually-hidden visually-hidden--inline">
        {{- 'products.product.price.regular_price' | t -}}
      </span>
      <span class="price heading-color {{ font_weight }}">
        {{ money_price }}
      </span>
    </div>
  {%- endif -%}
  {% if target.unit_price_measurement != null %}
    <small class="unit-price caption">
      <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
      <span class="price-item price-item--last">
        <span class="number">
          {%- if settings.currency_code_enabled -%}
            {{- target.unit_price | money_with_currency -}}
          {%- else -%}
            {{- target.unit_price | money -}}
          {%- endif -%}
        </span>
        <span aria-hidden="true">/</span>
        <span class="visually-hidden">&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
        <span class="unit">
          {%- if target.unit_price_measurement.reference_value != 1 -%}
            {{- target.unit_price_measurement.reference_value -}}
          {%- endif -%}
          {{ target.unit_price_measurement.reference_unit }}
        </span>
      </span>
    </small>
  {% endif %}
</div>
