{{ 'banner.css' | asset_url | stylesheet_tag }}
{% liquid
  assign section_st = section.settings
  assign block_st = block.settings
%}

{%- style -%}
  #shopify-block-{{ block.id }} {
    --col-width: {{ block_st.width }};
  }
  .justify-content-start .justify_block {
    justify-content: start;
  }
  .justify-content-center .justify_block {
    justify-content: center;
  }
  .justify-content-end .justify_block {
    justify-content: end;
  }
{%- endstyle -%}

<div class="group__text w-full h-full flex align-{{ block_st.vertical_alignment }} justify-content-{{ block_st.text_alignment }}">
  <div
    class="color-{{ block.settings.color_scheme }} gradient flex wrap w-full{% if section_st.equal_height_adjustment %} h-full align-content-{{ block_st.vertical_alignment }} justify-content-{{ block_st.text_alignment }}{% else %} justify-content-{{ block_st.text_alignment }}{% endif %} text-{{ block_st.text_alignment }}{% if block_st.padding_content_inline > 5 %} rounded{% endif %} px-custom py-custom{% if block_st.padding_content_inline < 15 %} x-min-value{% endif %}"
    style="--padding-inline: {{ block_st.padding_content_inline }};--padding-block: {{ block_st.padding_content_block }};"
  >
    {% content_for 'blocks' %}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.all.text.label",
  "class": "multi-content__group--text w-full col-md-w-custom col-md-w-custom-50 switch-slide__mobile",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "heading"
    },
    {
      "type": "subheading"
    },
    {
      "type": "highlight-text"
    },
    {
      "type": "description"
    },
    {
      "type": "button"
    },
    {
      "type": "_icon-box"
    },
    {
      "type": "_social-icon"
    },
    {
      "type": "icon"
    }
  ],
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.info",
      "default": "default-color-scheme"
    },
    {
      "type": "select",
      "id": "vertical_alignment",
      "options": [
        {
          "value": "start",
          "label": "t:sections.image-with-text.settings.desktop_vertical_alignment.top"
        },
        {
          "value": "center",
          "label": "t:sections.image-with-text.settings.desktop_vertical_alignment.middle"
        },
        {
          "value": "end",
          "label": "t:sections.image-with-text.settings.desktop_vertical_alignment.bottom"
        }
      ],
      "default": "start",
      "label": "t:sections.image-with-text.settings.vertical_alignment"
    },
    {
      "type": "select",
      "id": "width",
      "label": "t:sections.all.width.label",
      "default": "50%",
      "options": [
        {
          "value": "16.666%",
          "label": "t:sections.footer.settings.width.options__1"
        },
        {
          "value": "20%",
          "label": "t:sections.footer.settings.width.options__2"
        },
        {
          "value": "25%",
          "label": "t:sections.footer.settings.width.options__3"
        },
        {
          "value": "33.333%",
          "label": "t:sections.footer.settings.width.options__4"
        },
        {
          "value": "50%",
          "label": "t:sections.footer.settings.width.options__5"
        },
        {
          "value": "66.666%",
          "label": "t:sections.footer.settings.width.options__6"
        },
        {
          "value": "75%",
          "label": "t:sections.footer.settings.width.options__7"
        },
        {
          "value": "86%",
          "label": "t:sections.footer.settings.width.options__8"
        },
        {
          "value": "100%",
          "label": "t:sections.footer.settings.width.options__9"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.content_setting.label"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "options": [
        {
          "value": "start",
          "label": "t:sections.all.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.text_alignment.options__2.label"
        },
        {
          "value": "end",
          "label": "t:sections.all.text_alignment.options__3.label"
        }
      ],
      "default": "start",
      "label": "t:sections.all.text_alignment.label"
    },
    {
      "type": "range",
      "id": "padding_content_inline",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_inline.label",
      "info": "t:sections.all.padding.padding_inline.info",
      "default": 30
    },
    {
      "type": "range",
      "id": "padding_content_block",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.padding_block.label",
      "info": "t:sections.all.padding.padding_block.info",
      "default": 30
    }
  ],
  "presets": [
    {
      "name": "t:sections.all.text.label",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "description"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
