{%- liquid
  assign theme_st = settings
  assign section_st = section.settings
  assign block_st = block.settings
  assign scroll_animation = theme_st.scroll_animation
  assign align_vertical = block_st.align_vertical
  assign heading_size = section_st.heading_size
  assign header_size = ''
  if heading_size == 'small'
    assign header_size = 'h3'
  elsif heading_size == 'large'
    assign header_size = 'h1'
  endif
  assign heading = section_st.title
  assign drawn_underline = section_st.drawn_underline
  assign drawn_underline_type = section_st.drawn_underline_type
  assign drawn_underline_color = section_st.drawn_underline_color
  if drawn_underline
    assign scroll_animation = 'disable'
  endif
-%}
{% style %}
  .blocks-container .shopify-block:first-child .collection-hover a {
    padding-top: 0;
  }
  @media (min-width: 1025px) and (max-width: 1202px) {
    .collection-list__content {
      padding-block: 15px;
    }
    .collection-hover .collection-list__icon {
      width: 4.5rem;
      height: 4.5rem;
    }
  }
{% endstyle %}

<div class="w-full h-full flex align-{{ align_vertical }}">
  <div class="w-full">
    {%- if heading != blank or section_st.description != blank or section_st.subheading != blank -%}
      {% if scroll_animation != 'disable' or drawn_underline %}
        <motion-effect
          data-animate="{% if scroll_animation != 'disable' %}fade-up{% else %}highlighted-text{% endif %}"
          data-animate-delay="50"
          class="block"
        >
      {% endif %}
      <div
        class="section-header section-header__in-blocks d-none block-1025 text-{{ section_st.text_alignment }}{% if section.blocks.size > 0 %} mb-sp-10{% endif %}"
      >
        {%- if section_st.subheading != blank -%}
          <div class="section-subheading h7 mb-sp-1 mb-md-sp-2 subheading_weight fs-big-2">
            {{ section.settings.subheading }}
          </div>
        {%- endif -%}
        {%- if heading != blank -%}
          <h2 class="block section-heading {{ header_size }}">
            {% if drawn_underline %}
              {%- capture squiggle_svg_1 -%}
                <svg viewBox="0 0 184 26" fill="none"><use href="#squiggle-svg-1" /></svg>
              {%- endcapture -%}
              {%- capture squiggle_svg_2 -%}
                <svg viewBox="0 0 186 24" fill="none"><use href="#squiggle-svg-2" /></svg>
              {%- endcapture -%}
              {%- capture squiggle_svg_3 -%}
                  <svg viewBox="0 0 186 24" fill="none"><use href="#squiggle-svg-3" /></svg>
              {%- endcapture -%}
              {%- capture squiggle_svg_4 -%}
                <svg viewBox="0 0 220 50"fill="none"><use href="#squiggle-svg-4" /></svg>
              {%- endcapture -%}
              {%- capture squiggle_svg_5 -%}
                <svg viewBox="-347 -25 694 80" fill="none" role="presentation" preserveAspectRatio="none"><use href="#squiggle-svg-5" /></svg>
              {%- endcapture -%}
              {%- assign result = heading -%}
              {%- assign parts = result | split: '<em>' -%}
              {%- assign em_count = parts | size | minus: 1 -%}

              {%- for i in (1..em_count) -%}
                {%- assign idx = i | plus: 0 -%}
                {%- assign chunk = parts[idx] | default: '' -%}
                {%- assign text = chunk | split: '</em>' | first | strip_html | strip -%}
                {%- assign len_text = text | size -%}
                {%- capture open_em -%}
                {%- liquid
                  if drawn_underline_type == 'simple_underline'
                    assign svg = squiggle_svg_4 | append: '</em>'
                  elsif drawn_underline_type == 'curve_underline'
                    assign svg = squiggle_svg_5 | append: '</em>'
                  else
                    if len_text <= 4
                      assign svg = squiggle_svg_1 | append: '</em>'
                    elsif len_text <= 6
                      assign svg = squiggle_svg_2 | append: '</em>'
                    else
                      assign svg = squiggle_svg_3 | append: '</em>'
                    endif
                  endif
                -%}
                <em class="highlighted-text relative inline-flex{% if drawn_underline_type == 'simple_underline' %} simple_underline{% endif %} {{ drawn_underline_type }} not-italic" style="--animate-color:{{ drawn_underline_color }}">{{ svg }}</em>
              {%- endcapture -%}
                {%- assign open_em = open_em | remove: '</em>' -%}
                {%- assign heading = heading | replace_first: '<em>', open_em -%}
              {%- endfor -%}
            {% endif %}
            {{- heading -}}
          </h2>
        {%- endif -%}
        {%- if section_st.description != blank -%}
          <div class="section-description mt-sp-4 prose">
            {{ section.settings.description }}
          </div>
        {%- endif -%}
      </div>
      {% if scroll_animation != 'disable' or drawn_underline %}
        </motion-effect>
      {% endif %}
    {%- endif -%}
    {% if request.visual_preview_mode %}
      <div
        class="section-header section-header__in-blocks d-none block-1025 text-{{ section_st.text_alignment }}{% if section.blocks.size > 0 %} mb-sp-10{% endif %}"
      >
        <div class="section-subheading h7 mb-sp-1 mb-md-sp-2 subheading_weight fs-big-2">
          {{ 'general.content.subheading' | t }}
        </div>
        <h2 class="block section-heading {{ header_size }}">
          {{ 'general.content.heading' | t }}
        </h2>
      </div>
    {% endif %}
    {% if scroll_animation != 'disable' and drawn_underline == false %}
      <motion-effect
        data-animate="fade-up"
        data-animate-delay="25"
        class="block"
      >
    {% endif %}
    <div class="blocks-container hight_light-list">
      {% content_for 'blocks' %}
    </div>
    {% if scroll_animation != 'disable' and drawn_underline == false %}
      </motion-effect>
    {% endif %}
  </div>
</div>
{% schema %}
{
  "name": "t:sections.collection-list.name",
  "class": "group--collection-list w-full col-1025-remaining",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "_collection-list"
    }
  ],
  "settings": [
    {
      "type": "select",
      "id": "align_vertical",
      "label": "t:sections.image-with-text.settings.desktop_vertical_alignment.label",
      "options": [
        {
          "value": "start",
          "label": "t:sections.image-with-text.settings.desktop_vertical_alignment.top"
        },
        {
          "value": "center",
          "label": "t:sections.image-with-text.settings.desktop_vertical_alignment.middle"
        },
        {
          "value": "end",
          "label": "t:sections.image-with-text.settings.desktop_vertical_alignment.bottom"
        }
      ],
      "default": "center"
    }
  ],
  "presets": [
    {
      "name": "t:sections.collection-list.name",
      "blocks": [
        {
          "type": "_collection-list"
        },
        {
          "type": "_collection-list"
        },
        {
          "type": "_collection-list"
        }
      ]
    }
  ]
}
{% endschema %}
