{%- if closest.product != blank and closest.product.metafields.custom.promotion_countdown -%}
  {% liquid
    assign promotion_countdown = product.metafields.custom.promotion_countdown | date: '%s'
    assign time_now = 'now' | date: '%s'
  %}
  {%- if promotion_countdown > time_now -%}
    <script src="{{ 'countdown-timer.js' | asset_url }}" defer="defer"></script>
    {%- liquid
      assign heading = block.settings.heading
      assign description = block.settings.description
    -%}
    <div
      class="flex gap-10 rounded countdown_timer-product align-center space-between wrap bg-custom text-color p-15 mb-custom"
      style="--opacity: 1;--padding: 0.3rem 0.5rem;--min-width: 2.8rem; --img-rounded: 10px; --bg-color-custom: {{ settings.sale_background }}; --color-text: {{ settings.sale_color }};"
    >
      {%- if block.settings.heading != blank -%}
        <span class="inline-flex gap-sp-2 align-center text-size heading_weight">
          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="24" fill="none" class="shrink-0">
            <use href="#icon-time"/>
          </svg>
          {{ heading -}}
        </span>
      {% endif %}
      <div class="timer-product inline-flex gap-15 align-center wrap" style="--bg-color-custom: #fff;">
        {%- if block.settings.description != blank -%}
          <span class="description ms-auto heading_weight text-size">{{ description }}</span>
        {% endif %}
        <countdown-timer
          class="flex gap-5 text-center wrap heading_weight"
          data-deadline="{{ product.metafields.custom.promotion_countdown }}"
          data-days="{{ 'sections.countdown.format.days' | t }}"
          data-hours="{{ 'sections.countdown.format.hours' | t }}"
          data-mins="{{ 'sections.countdown.format.mins' | t }}"
          data-secs="{{ 'sections.countdown.format.secs' | t }}"
        >
          <div class="relative flex content-center bg-white countdown-container lh-normal sale-color min-w-custom p-custom rounded-5">
            <span class="days_timer countdown-item">00</span>
            <span class="hidden timer-announcementbar-text">{{ 'sections.countdown.format.days' | t }}</span>
          </div>
          <div class="relative flex content-center bg-white countdown-container lh-normal sale-color min-w-custom p-custom rounded-5">
            <span class="hours_timer countdown-item">00</span>
            <span class="hidden timer-announcementbar-text">{{ 'sections.countdown.format.hours' | t }}</span>
          </div>
          <div class="relative flex content-center bg-white countdown-container lh-normal sale-color min-w-custom p-custom rounded-5">
            <span class="minutes_timer countdown-item">00</span>
            <span class="hidden timer-announcementbar-text">{{ 'sections.countdown.format.mins' | t }}</span>
          </div>
          <div class="relative flex content-center bg-white countdown-container lh-normal sale-color min-w-custom p-custom rounded-5">
            <span class="seconds_timer countdown-item">00</span>
            <span class="hidden timer-announcementbar-text">{{ 'sections.countdown.format.secs' | t }}</span>
          </div>
        </countdown-timer>
      </div>
    </div>
  {% endif %}
{%- endif -%}
{% schema %}
{
  "name": "t:sections.all.product_setting.promotion_countdown.name",
  "class": "block-product__promotion-countdown slideIn-animate",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.all.product_setting.promotion_alert.heading.label",
      "default": "Flash Deals"
    },
    {
      "type": "richtext",
      "id": "description",
      "default": "<p>End in:</p>",
      "label": "t:sections.all.product_setting.promotion_alert.description.label"
    }
  ],
  "presets": [{ "name": "t:sections.all.product_setting.promotion_countdown.name" }]
}
{% endschema %}
