{% if block.settings.show_porgress_circle %}
  <style>
    .counter-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      --circle-bg: #3b3554;
      --circle-color: #0ee95e;
      --circle-text: #fff;
      --circle-size: 150px;
      --circle-stroke: 8;
    }
    .counter-text {
      fill: var(--circle-text);
      font-size: 22px;
      text-anchor: middle;
      dominant-baseline: central;
    }
    @media screen and (max-width: 767.98px) {
      .counter-wrapper {
        --circle-size: 80px;
        --circle-stroke: 4;
      }
      .counter-text {
        font-size: 14px;
      }
    }
    .progress-ring {
      height: var(--circle-size);
      width: var(--circle-size);
      overflow: visible;
    }
    .progress-ring__circle {
      stroke-linecap: round;
      transition: stroke-dashoffset 0.3s;
      transform: rotate(-90deg);
      transform-origin: 50% 50%;
    }
  </style>
{% endif %}
<div
  class="counter-container pb-custom pt-custom{% if request.visual_preview_mode %} bg-white p-sp-5 rounded-5 text-center{% endif %}"
  style="--space-bottom: {{ block.settings.padding_bottom }};--space-top: {{ block.settings.padding_top }};"
>
  {% if block.settings.show_porgress_circle %}
    <counter-animation
      data-counter="{{ block.settings.counter_value | default: 100 }}"
      data-start="{{ block.settings.start_value | default: 0 }}"
      data-duration="{{ block.settings.duration | default: 2000 }}"
      class="counter-wrapper flex w-full{% if block.settings.layout == 'default' %} column{% if block.settings.number_position == 'after' %} column-reverse{% endif %}{% else %} row{% endif %}"
    >
      <svg
        class="progress-ring"
        width="100"
        height="100"
      >
        <circle
          class="progress-ring__bg"
          stroke="var(--circle-bg, #2d2d2d)"
          stroke-width="var(--circle-stroke, 8)"
          fill="transparent"
          r="71"
          cx="75"
          cy="75"
        />
        <circle
          class="progress-ring__circle"
          stroke="var(--circle-color, #f6c90e)"
          stroke-width="var(--circle-stroke, 8)"
          fill="transparent"
          r="71"
          cx="75"
          cy="75"
        />
        <text
          data-counter-target
          x="50%"
          y="50%"
          dominant-baseline="central"
          text-anchor="middle"
          class="counter-text"
        >
          {{ block.settings.start_value | default: 0 }}
        </text>
      </svg>
      <div class="counter-title">
        {{- block.settings.title_text -}}
      </div>
    </counter-animation>

  {% else %}
    <counter-animation
      data-counter="{{ block.settings.counter_value }}"
      data-start="{{ block.settings.start_value }}"
      class="counter-wrapper flex w-full{% if block.settings.layout == 'default' %} column{% if block.settings.number_position == 'after' %} column-reverse{% endif %}{% else %} row{% endif %}"
    >
      <p
        class="counter-number text-{{ block.settings.alignment }} {{ block.settings.type_preset }}{% if request.visual_preview_mode %} h3 text-center{% endif %}"
        data-counter-target
      >
        {{ block.settings.start_value | default: 0 }}
      </p>
      <div class="counter-title">
        {{- block.settings.title_text -}}
      </div>
    </counter-animation>
  {% endif %}
</div>

{% schema %}
{
  "name": "t:sections.custom_section.blocks.counter.name",
  "tag": null,
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.custom_section.blocks.counter.how_to_use"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "default",
          "label": "t:settings_schema.typography.settings.font_weight.default"
        },
        {
          "value": "inline",
          "label": "t:settings_schema.typography.settings.font_weight.inline"
        }
      ],
      "default": "default",
      "label": "t:settings_schema.layout.name"
    },
    {
      "type": "header",
      "content": "t:sections.custom_section.blocks.counter.name"
    },
    {
      "type": "checkbox",
      "id": "show_porgress_circle",
      "label": "t:sections.custom_section.blocks.counter.show_porgress_circle",
      "default": false
    },
    {
      "type": "number",
      "id": "start_value",
      "label": "t:sections.custom_section.blocks.counter.starting_number",
      "default": 0
    },
    {
      "type": "number",
      "id": "counter_value",
      "label": "t:sections.custom_section.blocks.counter.ending_number",
      "default": 100
    },
    {
      "type": "number",
      "id": "animation_duration",
      "label": "t:sections.custom_section.blocks.counter.animation",
      "default": 2000
    },
    {
      "type": "select",
      "id": "type_preset",
      "label": "t:settings_schema.typography.name",
      "options": [
        {
          "value": "rte",
          "label": "t:sections.custom_section.blocks.heading.default"
        },
        {
          "value": "paragraph",
          "label": "t:sections.custom_section.blocks.heading.paragraph"
        },
        {
          "value": "h1",
          "label": "t:sections.custom_section.blocks.heading.h1"
        },
        {
          "value": "h2",
          "label": "t:sections.custom_section.blocks.heading.h2"
        },
        {
          "value": "h3",
          "label": "t:sections.custom_section.blocks.heading.h3"
        },
        {
          "value": "h4",
          "label": "t:sections.custom_section.blocks.heading.h4"
        },
        {
          "value": "h5",
          "label": "t:sections.custom_section.blocks.heading.h5"
        },
        {
          "value": "h6",
          "label": "t:sections.custom_section.blocks.heading.h6"
        }
      ],
      "default": "h3",
      "info": "t:sections.custom_section.blocks.heading.info.edit_presets_in_theme_settings"
    },
    {
      "type": "color",
      "id": "counter_text_color",
      "label": "t:sections.custom_section.blocks.progress_bar.text_color",
      "default": "#000000",
      "alpha": true
    },
    {
      "type": "range",
      "id": "counter_text_stroke",
      "label": "t:sections.custom_section.blocks.counter.text_stroke",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "color",
      "id": "counter_stroke_color",
      "label": "t:sections.custom_section.blocks.counter.stroke_color",
      "default": "#000000",
      "alpha": true
    },
    {
      "type": "checkbox",
      "id": "counter_text_shadow",
      "label": "t:sections.custom_section.blocks.counter.text_shadow",
      "default": false
    },
    {
      "type": "select",
      "id": "alignment",
      "options": [
        {
          "value": "start",
          "label": "t:sections.all.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.text_alignment.options__2.label"
        },
        {
          "value": "end",
          "label": "t:sections.all.text_alignment.options__3.label"
        }
      ],
      "default": "start",
      "label": "t:sections.custom_section.blocks.counter.number_alignment",
      "visible_if": "{{ block.settings.layout == 'default' }}"
    },
    {
      "type": "select",
      "id": "number_position",
      "label": "t:sections.custom_section.blocks.counter.number_position",
      "options": [
        {
          "value": "before",
          "label": "t:sections.custom_section.blocks.counter.before_title"
        },
        {
          "value": "after",
          "label": "t:sections.custom_section.blocks.counter.after_title"
        }
      ],
      "default": "before",
      "visible_if": "{{ block.settings.layout == 'default' }}"
    },
    {
      "type": "header",
      "content": "t:sections.all.section_setting.page_heading.heading.label"
    },
    {
      "type": "text",
      "id": "title_text",
      "label": "t:settings_schema.badges.settings.sale.format.text",
      "default": "Happy Customer"
    },
    {
      "type": "color",
      "id": "title_text_color",
      "label": "t:sections.custom_section.blocks.progress_bar.text_color",
      "default": "#000000",
      "alpha": true
    },
    {
      "type": "range",
      "id": "title_text_stroke",
      "label": "t:sections.custom_section.blocks.counter.text_stroke",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "color",
      "id": "title_stroke_color",
      "label": "t:sections.custom_section.blocks.counter.stroke_color",
      "default": "#000000",
      "alpha": true
    },
    {
      "type": "checkbox",
      "id": "title_text_shadow",
      "label": "t:sections.custom_section.blocks.counter.text_shadow",
      "default": false
    },
    {
      "type": "select",
      "id": "title_alignment",
      "options": [
        {
          "value": "start",
          "label": "t:sections.all.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.text_alignment.options__2.label"
        },
        {
          "value": "end",
          "label": "t:sections.all.text_alignment.options__3.label"
        }
      ],
      "default": "start",
      "label": "t:sections.custom_section.blocks.counter.title_alignment",
      "visible_if": "{{ block.settings.layout == 'default' }}"
    },
    {
      "type": "header",
      "content": "t:sections.custom_section.blocks.page.spacing"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 20
    }
  ],
  "presets": [
    {
      "name": "t:sections.custom_section.blocks.counter.name",
      "category": "t:sections.group.general.name"
    }
  ]
}
{% endschema %}
