<script src="{{ 'countdown-timer.js' | asset_url }}" defer="defer"></script>
{% liquid
  assign theme_st = settings
  assign scroll_animation = theme_st.scroll_animation
  if block.settings.end_times != blank
    assign end_date_parts = block.settings.end_times | split: '-'
    if end_date_parts.size == 3
      assign month = end_date_parts[0]
      assign day = end_date_parts[1]
      assign year = end_date_parts[2]
      assign formatted_date = year | append: '-' | append: month | append: '-' | append: day
      assign end_times = formatted_date | date: '%s'
      assign time_now = 'now' | date: '%s'
    else
      assign end_times = 0
      assign time_now = 1
    endif
  else
    assign end_times = 0
    assign time_now = 1
  endif
%}
<div
  class="pb-custom pt-custom w-full flex justify-content-{{ block.settings.alignment }}{% if request.visual_preview_mode %} bg-white p-sp-5 rounded-5{% endif %}"
  data-section-id="{{ section.id }}"
  style="--space-bottom: {{ block.settings.padding_bottom }};--space-top: {{ block.settings.padding_top }};"
  {{ block.shopify_attributes }}
>
  {%- if scroll_animation != 'disable' -%}
    <motion-effect
      class="block"
    >
  {%- endif -%}
  {%- if end_times > time_now -%}
    <countdown-timer
      class="no-js-hidden flex wrap overflow-hidden text-color align-center"
      data-deadline="{{ block.settings.end_times }}"
      data-days="{{ 'sections.countdown.format.days' | t }}"
      data-hours="{{ 'sections.countdown.format.hours' | t }}"
      data-mins="{{ 'sections.countdown.format.mins' | t }}"
      data-secs="{{ 'sections.countdown.format.secs' | t }}"
      data-message="{{ block.settings.message }}"
      data-hidden="false"
      data-shape="{{ block.settings.shape }}"
      data-border="{{ block.settings.border_style }}"
      style="gap: {{ block.settings.spacing }}px; --bg-color-custom: {{ block.settings.background_color }}; --color-text: {{ block.settings.color }}; {% if block.settings.border_style == 'solid' %}--border-width: {{ block.settings.border_thickness }}px;--border-color: {{ block.settings.border_color }}{% endif %}"
    >
      <div class="countdown-container flex column {% if block.settings.shape == 'rounded' %}rounded-5 {% elsif block.settings.shape == 'circle' %}rounded-circle {% else %}rounded-0 {% endif %}relative bg-custom content-center{% if block.settings.border_style == 'solid' %} border-style{% endif %}">
        <span class="days_timer countdown-item">00</span>
        <span class="timer-announcementbar-text">{{ 'sections.countdown.format.days' | t }}</span>
      </div>
      <div class="countdown-container flex column {% if block.settings.shape == 'rounded' %}rounded-5 {% elsif block.settings.shape == 'circle' %}rounded-circle {% else %}rounded-0 {% endif %}bg-custom relative content-center{% if block.settings.border_style == 'solid' %} border-style{% endif %}">
        <span class="hours_timer countdown-item">00</span>
        <span class="timer-announcementbar-text">{{ 'sections.countdown.format.hours' | t }}</span>
      </div>
      <div class="countdown-container flex column {% if block.settings.shape == 'rounded' %}rounded-5 {% elsif block.settings.shape == 'circle' %}rounded-circle {% else %}rounded-0 {% endif %}bg-custom relative content-center{% if block.settings.border_style == 'solid' %} border-style{% endif %}">
        <span class="minutes_timer countdown-item">00</span>
        <span class="timer-announcementbar-text">{{ 'sections.countdown.format.mins' | t }}</span>
      </div>
      <div class="countdown-container flex column {% if block.settings.shape == 'rounded' %}rounded-5 {% elsif block.settings.shape == 'circle' %}rounded-circle {% else %}rounded-0 {% endif %}bg-custom relative content-center{% if block.settings.border_style == 'solid' %} border-style{% endif %}">
        <span class="seconds_timer countdown-item">00</span>
        <span class="timer-announcementbar-text">{{ 'sections.countdown.format.secs' | t }}</span>
      </div>
    </countdown-timer>
  {%- else -%}
    <span>{{ block.settings.message }}</span>
  {%- endif -%}
  {%- if scroll_animation != 'disable' -%}
    </motion-effect>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "t:sections.image-with-text-overlay.count_down",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.image-with-text-overlay.how_to_use_count_down"
    },
    {
      "type": "text",
      "id": "end_times",
      "label": "t:sections.image-with-text-overlay.end_time.label",
      "info": "t:sections.image-with-text-overlay.end_time.info",
      "default": "11-20-2025"
    },
    {
      "type": "text",
      "id": "message",
      "label": "t:sections.image-with-text-overlay.message.label",
      "info": "t:sections.image-with-text-overlay.message.info",
      "default": "Timer expired"
    },
    {
      "type": "select",
      "id": "shape",
      "options": [
        {
          "value": "square",
          "label": "t:sections.custom_section.blocks.social_icons.square"
        },
        {
          "value": "rounded",
          "label": "t:sections.custom_section.blocks.social_icons.rounded"
        },
        {
          "value": "circle",
          "label": "t:sections.custom_section.blocks.social_icons.circle"
        }
      ],
      "default": "square",
      "label": "t:sections.custom_section.blocks.social_icons.shape"
    },
    {
      "type": "select",
      "id": "alignment",
      "options": [
        {
          "value": "start",
          "label": "t:sections.custom_section.settings.layout.alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.custom_section.settings.layout.alignment.options__2.label"
        },
        {
          "value": "end",
          "label": "t:sections.custom_section.settings.layout.alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.all.text_alignment.alignment"
    },
    {
      "type": "range",
      "id": "spacing",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.space_between",
      "default": 20
    },
    {
      "type": "color",
      "id": "color",
      "label": "t:sections.custom_section.blocks.social_icons.color",
      "default": "#000000",
      "alpha": true
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.custom_section.blocks.social_icons.backgroup_color",
      "default": "#ffffff",
      "alpha": true
    },
    {
      "type": "header",
      "content": "t:settings_schema.colors.settings.general_border.label"
    },
    {
      "type": "select",
      "id": "border_style",
      "options": [
        {
          "value": "none",
          "label": "t:sections.custom_section.settings.appearance.settings.borders.options__1.label"
        },
        {
          "value": "solid",
          "label": "t:sections.custom_section.settings.appearance.settings.borders.options__2.label"
        }
      ],
      "default": "none",
      "label": "t:sections.custom_section.settings.appearance.settings.borders.style"
    },
    {
      "type": "range",
      "id": "border_thickness",
      "label": "t:sections.custom_section.settings.appearance.settings.border_thickness.label",
      "min": 0,
      "max": 10,
      "step": 1,
      "default": 1,
      "unit": "px",
      "visible_if": "{{ block.settings.border_style == 'solid' }}"
    },
    {
      "type": "color",
      "id": "border_color",
      "label": "t:settings_schema.colors.settings.general_border.label_color",
      "default": "#000000",
      "alpha": true,
      "visible_if": "{{ block.settings.border_style == 'solid' }}"
    },
    {
      "type": "header",
      "content": "t:sections.custom_section.blocks.page.spacing"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 20
    }
  ],
  "presets": [{ "name": "t:sections.image-with-text-overlay.count_down", "category": "t:sections.group.general.name" }]
}
{% endschema %}
