<div
  class="block-divider pb-custom pt-custom spacing-style"
  {{ block.shopify_attributes }}
  style="--border-width: {{ block.settings.border_width }}px; --length: {{ block.settings.length }}%;  --space-bottom: {{ block.settings.padding_bottom }};--space-top: {{ block.settings.padding_top }};"
></div>

{% schema %}
{
  "name": "t:sections.custom_section.blocks.divider.name",
  "tag": null,
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.custom_section.blocks.divider.how_to_use"
    },
    {
      "type": "range",
      "id": "border_width",
      "min": 1,
      "max": 10,
      "step": 0.5,
      "unit": "px",
      "label": "t:sections.custom_section.blocks.divider.settings.thickness",
      "default": 1
    },
    {
      "type": "range",
      "id": "length",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.custom_section.blocks.divider.settings.length",
      "default": 100
    },
    {
      "type": "header",
      "content": "t:sections.custom_section.blocks.page.spacing"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 48
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 48
    }
  ],
  "presets": [
    {
      "name": "t:sections.custom_section.blocks.divider.name",
      "category": "t:sections.group.blocks.layout"
    }
  ]
}
{% endschema %}
