{% liquid
  assign contact_id = 'ContactForm-' | append: block.id
%}
{%- form 'contact', id: contact_id, class: 'form-validation isolate field' -%}
  {%- if form.posted_successfully? -%}
    <div
      class="form-status form-status form__message success mb-10 flex align-center gap-10 mb-10"
      tabindex="-1"
      autofocus
    >
      <div class="flex content-center">
        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" class="flex-auto w-18">
          <use href="#icon-success"></use>
        </svg>
      </div>
      {{ 'templates.contact.form.post_success' | t }}
    </div>
  {%- elsif form.errors -%}
    <div class="form__message error mb-10">
      <div
        class="flex align-center gap-10"
        role="alert"
        tabindex="-1"
        autofocus
      >
        <div class="flex content-center">
          <svg width="18" height="18" viewBox="0 0 18 18" fill="none" class="flex-auto w-18">
            <use href="#icon-error"></use>
          </svg>
        </div>
        {{ 'templates.contact.form.error_heading' | t }}
      </div>
      <ul class="list-unstyled w-custom fs-small" style="--width: calc(100% - 24px)">
        <li>
          <a
            href="#ContactForm-email"
            class="color-inherit"
            aria-label=" {{ form.errors.translated_fields.email }}"
          >
            {{ form.errors.translated_fields.email | capitalize }}
            {{ form.errors.messages.email }}
          </a>
        </li>
      </ul>
    </div>
  {%- endif -%}
  {% if request.visual_preview_mode %}<div class="bg-white p-sp-5 rounded-5">{% endif %}
  <div
    class="contact__fields field grid-cols"
  >
    <div class="flex column flex-md-row gap-sp-6 mb-sp-6">
      <div
        class="field relative w-full flex wrap"
      >
        <input
          class="field__input w-full"
          autocomplete="name"
          type="text"
          id="ContactFormName-{{ block.id }}"
          name="contact[name]"
          required
          minlength="2"
          value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
          placeholder="{{ block.settings.name }} *"
        >
        <label class="field__label" for="ContactFormName-{{ block.id }}"> {{ block.settings.name }} * </label>
      </div>
      <div class="field relative w-full flex wrap field--with-error">
        <input
          autocomplete="email"
          type="email"
          id="ContactFormEmail-{{ block.id }}"
          class="field__input w-full"
          name="contact[email]"
          spellcheck="false"
          autocapitalize="off"
          autocorrect="off"
          value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
          aria-required="true"
          {% if form.errors contains 'email' %}
            aria-invalid="true"
            aria-describedby="ContactForm-email-error"
          {% endif %}
          placeholder="{{ block.settings.email }} *"
          required
          pattern=".+\.[a-zA-Z]{2,6}"
        >
        <label class="field__label" for="ContactFormEmail-{{ block.id }}"> {{ block.settings.email }} *</label>
        {%- if form.errors contains 'email' -%}
          <div class="contact__field-error error flex align-center mt-10" id="ContactForm-email-error">
            <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
            <div class="flex content-center">
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" class="flex-auto w-18">
                <use href="#icon-error"></use>
              </svg>
            </div>
            <span class="form__message">
              {{- form.errors.translated_fields.email | capitalize }}
              {{ form.errors.messages.email -}}
            </span>
          </div>
        {%- endif -%}
      </div>
    </div>
    {% if block.settings.phone != blank %}
      <div class="field mb-sp-5">
        <input
          type="tel"
          id="ContactFormPhone-{{ block.id }}"
          class="field__input w-full"
          autocomplete="tel"
          name="contact[{{ block.settings.phone }}]"
          pattern="[0-9\-]*"
          value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
          placeholder="{{ block.settings.phone }} *"
          required
        >
        <label class="field__label" for="ContactFormPhone-{{ block.id }}"> {{ block.settings.phone }} *</label>
      </div>
    {% endif %}
    {% if block.settings.select_label != blank %}
      {% liquid
        assign option_select = block.settings.option_select
        assign select_options = option_select | split: ','
      %}
      <div class="field relative w-full flex wrap mb-sp-6 field-contact-subject">
        <select
          id="ContactFormSubject-{{ block.id }}"
          class="field__input w-full contact-form-subject"
          name="contact[{{ block.settings.select_label }}]"
          required
        >
          <option value="" disabled selected>{{ block.settings.select_label }} *</option>
          {% if option_select != blank %}
            {% for option in select_options %}
              <option value="{{ option | strip }}">{{ option | strip }}</option>
            {% endfor %}
          {% endif %}
        </select>
        <label for="ContactFormSubject-{{ block.id }}" class="field__label">
          {{ block.settings.select_label }} *
        </label>
      </div>
    {% endif %}
  </div>
  <div
    class="field relative w-full flex wrap"
  >
    <textarea
      rows="3"
      id="ContactFormMessage-{{ block.id }}"
      class="text-area field__input w-full"
      aria-required="true"
      aria-invalid="true"
      name="contact[body]"
      placeholder="{{ block.settings.message }} *"
      required
      minlength="2"
      style="--input-padding: 2.5rem;"
    >
        {{- form.body -}}
        </textarea>
    <label class="form__label field__label" for="ContactFormMessage-{{ block.id }}">
      {{ 'templates.contact.form.comment' | t }} *
    </label>
  </div>
  <div
    class="contact__button mt-30 mt-1025-sp-10 flex justify-center"
  >
    {% content_for 'block', type: '_submit-button', id: 'button' %}
  </div>
  {% if request.visual_preview_mode %}</div>{% endif %}
{%- endform -%}

{% schema %}
{
  "name": "t:sections.custom_section.blocks.contact_form.name",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.custom_section.blocks.contact_form.how_to_use"
    },
    {
      "type": "text",
      "id": "name",
      "label": "t:sections.custom_section.blocks.contact_form.settings.name",
      "default": "t:sections.custom_section.blocks.contact_form.settings.name"
    },
    {
      "type": "text",
      "id": "email",
      "label": "t:sections.custom_section.blocks.contact_form.settings.email",
      "default": "t:sections.custom_section.blocks.contact_form.settings.email"
    },
    {
      "type": "text",
      "id": "phone",
      "label": "t:sections.custom_section.blocks.contact_form.settings.phone"
    },
    {
      "type": "text",
      "id": "message",
      "label": "t:sections.custom_section.blocks.contact_form.settings.message",
      "default": "t:sections.custom_section.blocks.contact_form.settings.message"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "t:sections.all.content_setting.button_label.label",
      "default": "Send message"
    },
    {
      "type": "text",
      "id": "select_label",
      "label": "t:sections.custom_section.blocks.contact_form.settings.select_label",
      "default": "t:sections.custom_section.blocks.contact_form.settings.default_select_label"
    },
    {
      "type": "text",
      "id": "option_select",
      "label": "t:sections.custom_section.blocks.contact_form.settings.option",
      "default": "t:sections.custom_section.blocks.contact_form.settings.default_option"
    }
  ],
  "presets": [
    {
      "name": "t:sections.custom_section.blocks.contact_form.name",
      "category": "t:sections.group.blocks.forms",
      "blocks": {
        "button": {
          "type": "_submit-button",
          "static": true
        }
      }
    }
  ]
}
{% endschema %}
