{% liquid
  assign theme_st = settings
  assign section_st = section.settings
  assign block_st = block.settings
  assign scroll_animation = theme_st.scroll_animation
  assign type_preset = block_st.type_preset
  assign enable_background = block_st.enable_background
  assign scroll_animation = 'disable'
  assign content_alignment = section_st.text_alignment
  assign text_alignment_mobile = section_st.text_alignment_mobile
%}
{% capture style %}
--space-bottom: {{ block.settings.padding_bottom }};--space-top: {{ block.settings.padding_top }};
--bg-color-custom: {{ block_st.background_color | default: '#000000' }};
--radius: {{ block_st.border_radius }}px;
{% endcapture %}

{% if request.visual_preview_mode %}
  <div
    class="block__heading inline-block pb-sp-2 rounded-5"
    {{ block.shopify_attributes }}
  >
    <div class="h4">{{ block.settings.heading }}</div>
  </div>
{% else %}
  <div
    class="block__heading mb-custom mt-custom{% if block_st.padding_bottom > 10 %} mb_auto-rsp{% endif %}{% if block_st.padding_top > 10 %} mt_auto-rsp{% endif %} {{ type_preset }} flex justify-content-{{ text_alignment_mobile }} flex-md-{{ content_alignment }}"
    style="{{ style | strip | strip_newlines }}"
    {{ block.shopify_attributes }}
  >
    {%- if scroll_animation != 'disable' -%}
      <motion-effect
        data-animate="fade-up"
        class="block"
      >
    {%- endif -%}
    <div
      class="rounded-custom{% if enable_background %} bg-custom px-sp-5 py-sp-2{% endif %} w-{{ block_st.width }}"
      {{ block.shopify_attributes }}
    >
      {{ block.settings.heading }}
    </div>
    {%- if scroll_animation != 'disable' -%}
      </motion-effect>
    {%- endif -%}
  </div>
{%- endif -%}
{% schema %}
{
  "name": "t:sections.all.content_setting.heading.label",
  "class": "w-full",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.all.product_setting.promotion_alert.heading.how_to_use"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Talk about your brand",
      "label": "t:sections.all.content_setting.heading.label"
    },
    {
      "type": "header",
      "content": "t:settings_schema.layout.name"
    },
    {
      "type": "select",
      "id": "width",
      "label": "t:sections.custom_section.blocks.settings.size.width.label",
      "options": [
        {
          "label": "t:sections.custom_section.blocks.settings.size.options.options__1.label",
          "value": "fit"
        },
        {
          "label": "t:sections.custom_section.blocks.settings.size.options.options__2.label",
          "value": "full"
        }
      ],
      "default": "fit"
    },
    {
      "type": "header",
      "content": "t:settings_schema.typography.name"
    },
    {
      "type": "select",
      "id": "type_preset",
      "label": "t:sections.custom_section.blocks.heading.label",
      "options": [
        {
          "value": "",
          "label": "t:sections.custom_section.blocks.heading.default"
        },
        {
          "value": "h1",
          "label": "t:sections.custom_section.blocks.heading.h1"
        },
        {
          "value": "h2",
          "label": "t:sections.custom_section.blocks.heading.h2"
        },
        {
          "value": "h3",
          "label": "t:sections.custom_section.blocks.heading.h3"
        },
        {
          "value": "h4",
          "label": "t:sections.custom_section.blocks.heading.h4"
        },
        {
          "value": "h5",
          "label": "t:sections.custom_section.blocks.heading.h5"
        },
        {
          "value": "h6",
          "label": "t:sections.custom_section.blocks.heading.h6"
        }
      ],
      "default": "h2",
      "info": "t:sections.custom_section.blocks.heading.info.edit_presets_in_theme_settings"
    },
    {
      "type": "header",
      "content": "t:sections.custom_section.settings.appearance.header"
    },
    {
      "type": "checkbox",
      "id": "enable_background",
      "label": "t:sections.custom_section.blocks.settings.background.label",
      "default": false
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.custom_section.blocks.settings.background_color.label",
      "default": "#000000",
      "visible_if": "{{ block.settings.enable_background == true }}",
      "alpha": true
    },
    {
      "type": "range",
      "id": "border_radius",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "t:sections.custom_section.settings.appearance.settings.corner_radius.label",
      "default": 0,
      "visible_if": "{{ block.settings.enable_background == true }}"
    },
    {
      "type": "header",
      "content": "t:sections.custom_section.blocks.page.spacing"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 10
    }
  ],
  "presets": [{ "name": "t:sections.all.content_setting.heading.label", "category": "t:sections.group.blocks.basic" }]
}
{% endschema %}
