{% liquid
  assign theme_st = settings
  assign block_st = block.settings
  assign has_custom_background = false
  if block_st.background_color != 'rgba(0,0,0,0)' and block_st.background_color != 'transparent' and block_st.background_color != blank and block_st.background_color != blank
    assign has_custom_background = true
  endif
  assign scroll_animation = theme_st.scroll_animation
  assign scroll_animation = 'disable'
%}
{% if request.visual_preview_mode %}
  <div
    class="block__highlight_text btn-rounded py-sp-2 px-15 inline-block mb-sp-5"
    style="color: #ffffff; background-color: #C92419;"
    {{ block.shopify_attributes }}
  >
    <div>{{ block.settings.highlight_text }}</div>
  </div>
{% else %}
  {%- if scroll_animation != 'disable' -%}
    <motion-effect
      data-animate="left-to-right"
      class="block ltr-motion {% if scroll_animation != 'disable' %} desktop_only{% endif %}"
    >
  {%- endif -%}

  <div
    class="block__highlight_text subheading_weight lh-1 mb-custom{% if block_st.spacing_bottom > 10 %} mb_auto-rsp{% endif %}{% if block_st.uppercase %} uppercase{% endif %} fs-{{ block_st.highlight_text_size }} text-color inline-flex align-center gap-sp-2{% if scroll_animation == 'disable' and has_custom_background %} bg-custom py-sp-2 px-15 btn-rounded{% endif %}"
    style="--space-bottom: {{ block_st.spacing_bottom }};--color-text: {{ block_st.text_color }};--bg-color-custom: {{ block_st.background_color }};"
  >
    {%- if scroll_animation != 'disable' -%}
      <div class="ltr-outer inline-block max-w-100">
        <div class="ltr-inner inline-block overflow-hidden relative max-w-100 btn-rounded">
          <div class="ltr-inner-content">
            <div
              class="ltr-wrap inline-flex wrap content-center gap-sp-2 lh-normal max-w-100{% if has_custom_background %} bg-custom py-sp-2 px-15{% endif %}"
            >
    {%- endif -%}
    {%- if block_st.highlight_text_icon == 'star' -%}
      {%- render 'icon-star' -%}
    {%- elsif block_st.highlight_text_icon == 'dot' -%}
      <svg width="5" height="5" viewBox="0 0 8 8" fill="none">
        <use href="#icon-dot"></use>
      </svg>
    {%- endif -%}
    <div class="max-w-100 lh-normal">{{ block.settings.highlight_text | escape }}</div>
    {%- if scroll_animation != 'disable' -%}
      </div>
      </div>
      </div>
      </div>
    {%- endif -%}
  </div>
  {%- if scroll_animation != 'disable' -%}
    </motion-effect>
  {%- endif -%}
{% endif %}
{% schema %}
{
  "name": "t:sections.all.content_setting.highlight_text.label",
  "class": "w-full",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.all.content_setting.highlight_text.how_to_use"
    },
    {
      "type": "text",
      "id": "highlight_text",
      "default": "t:sections.all.content_setting.highlight_text.label",
      "label": "t:sections.all.content_setting.highlight_text.label"
    },
    {
      "type": "select",
      "id": "highlight_text_size",
      "options": [
        {
          "value": "12",
          "label": "t:sections.all.content_header.heading_size.xs_small.label"
        },
        {
          "value": "small",
          "label": "t:sections.all.content_header.heading_size.x_small.label"
        },
        {
          "value": "small-1",
          "label": "t:sections.all.content_header.heading_size.small.label"
        },
        {
          "value": "",
          "label": "t:sections.all.content_header.heading_size.base.label"
        },
        {
          "value": "big-2",
          "label": "t:sections.all.content_header.heading_size.large.label"
        }
      ],
      "default": "",
      "label": "t:sections.all.content_header.heading_size.size"
    },
    {
      "type": "select",
      "id": "highlight_text_icon",
      "options": [
        {
          "value": "none",
          "label": "t:settings_schema.typography.settings.heading.text_transform.unset"
        },
        {
          "value": "star",
          "label": "t:sections.all.content_setting.highlight_text.settings.icons.options__2.label"
        },
        {
          "value": "dot",
          "label": "t:sections.all.content_setting.highlight_text.settings.icons.options__3.label"
        }
      ],
      "default": "star",
      "label": "t:sections.all.content_setting.highlight_text.settings.icons.label"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.image-with-text.settings.background_color",
      "default": "#C03E35",
      "alpha": true
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "t:sections.image-with-text.settings.text_color",
      "default": "#ffffff",
      "alpha": true
    },
    {
      "type": "checkbox",
      "id": "uppercase",
      "default": false,
      "label": "t:settings_schema.typography.settings.heading.text_transform.uppercase"
    },
    {
      "type": "range",
      "id": "spacing_bottom",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.spacing_bottom",
      "default": 10
    }
  ],
  "presets": [
    { "name": "t:sections.all.content_setting.highlight_text.label", "category": "t:sections.group.blocks.basic" }
  ]
}
{% endschema %}
