{{ 'section-product-testimonials.css' | asset_url | stylesheet_tag }}
{% liquid
  assign section_st = section.settings
  assign image_ratio = block.settings.image_ratio

  assign ratio = '1/1'
  if image_ratio != 'adapt'
    case image_ratio
      when 'square'
        assign ratio = '1/1'
      when 'landscape'
        assign ratio = '4/3'
      when 'portrait'
        assign ratio = '3/4'
    endcase
  endif
%}

<div class="w-full h-full slide-image-comparison rounded{% if request.visual_preview_mode %} bg-white w-500 p-sp-5 rounded-5{% endif %}" {{ block.shopify_attributes }}>
  <div
    class="testimonial-wrapper flex overflow-hidden column{% if block.settings.image_desktop_position == 'top' %} flex-wrap{% else %} flex-1025-row{% endif %}"
  >
    <div
      class="testimonial-media relative w-full{% if block.settings.image_desktop_position == 'left' %} col-1025-w-custom media-left{% else %} radius-bottom-0 media-top{% endif %}"
      style="--aspect-ratio: {{ ratio }}"
    >
      <image-comparison class="block ">
        <div class="image-container">
          <div
            class="image-before image-comparison absolute w-full h-full object-fit-cover"
            style="--aspect-ratio: {{ ratio }}"
          >
            {% if block.settings.before_image != blank %}
              {% liquid
                assign image_alt = block.settings.before_image.alt
                if image_alt == blank
                  assign image_alt = 'general.image.image_alt_default' | t
                endif
              %}
              {% render 'responsive-image',
                type: 'banner',
                container: section_st.section_width,
                image: block.settings.before_image,
                image_alt: image_alt,
                motion: true
              %}
            {% else %}
              {% render 'placeholder-render', type: 'blog', class: 'img-placeholder' %}
            {% endif %}
            {% if block.settings.show_after_before_text %}
              <span class="button-comparison button-before absolute left-30 bottom-30 z-1">
                {{- 'sections.button_comparison.before' | t -}}
              </span>
            {% endif %}
          </div>
          <div
            class="image-after image-comparison absolute w-full h-full object-fit-cover"
            style="--aspect-ratio: {{ ratio }}"
          >
            {% if block.settings.after_image != blank %}
              {% liquid
                assign image_alt = block.settings.after_image.alt
                if image_alt == blank
                  assign image_alt = 'general.image.image_alt_default' | t
                endif
              %}
              {% render 'responsive-image',
                type: 'banner',
                container: section_st.section_width,
                image: block.settings.after_image,
                image_alt: image_alt,
                motion: true
              %}
            {% else %}
              {% render 'placeholder-render', type: 'blog', class: 'img-placeholder' %}
            {% endif %}
            {% if block.settings.show_after_before_text %}
              <span class="button-comparison button-after absolute right-30 bottom-30 z-1">
                {{- 'sections.button_comparison.after' | t -}}
              </span>
            {% endif %}
          </div>
        </div>
        <div class="slider absolute top-0 bottom-0 w-custom" tabindex="0" style="--width: 1px;">
          <div
            class="handle absolute w-custom h-custom bg-white rounded flex content-center"
            style="--width: 2.6rem;--height: 4.6rem;--img-rounded: 1.5rem;"
          >
            <svg
              width="10"
              height="12"
              viewBox="0 0 10 12"
              fill="none"
            >
              <rect width="2" height="12" rx="1" fill="currentColor"/>
              <rect x="4" width="2" height="12" rx="1" fill="currentColor"/>
              <rect x="8" width="2" height="12" rx="1" fill="currentColor"/>
            </svg>
          </div>
        </div>
      </image-comparison>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.product_testimonials.blocks.type.image_comparison.name",
  "class": "w-full h-full",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.product_testimonials.blocks.type.image_comparison.how_to_use"
    },
    {
      "type": "header",
      "content": "t:sections.product_testimonials.blocks.settings.media.before_after_image.label"
    },
    {
      "type": "image_picker",
      "id": "before_image",
      "label": "t:sections.product_testimonials.blocks.settings.media.before_image.label"
    },
    {
      "type": "image_picker",
      "id": "after_image",
      "label": "t:sections.product_testimonials.blocks.settings.media.after_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_after_before_text",
      "label": "t:sections.product_testimonials.blocks.type.image_comparison.show_after_before_text.label",
      "default": true
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.all.image.aspect_ratio.adapt"
        },
        {
          "value": "square",
          "label": "t:sections.all.image.aspect_ratio.options__1"
        },
        {
          "value": "portrait",
          "label": "t:sections.all.image.aspect_ratio.options__2"
        },
        {
          "value": "landscape",
          "label": "t:sections.all.image.aspect_ratio.options__3"
        }
      ],
      "default": "adapt",
      "label": "t:sections.all.image.aspect_ratio.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.product_testimonials.blocks.type.image_comparison.name",
      "category": "t:sections.group.blocks.basic"
    }
  ]
}
{% endschema %}
