{%- liquid
  assign block_st = block.settings
  assign image = block_st.image
  assign image_mobile = block_st.image_mobile | default: image
  assign link = block_st.link
  assign desktop_image_width = block_st.desktop_image_width
  assign image_ratio = block_st.image_ratio
  assign ratio = '3/4'
  assign ratio_mobile = '3/4'
  if image_ratio != 'adapt'
    case image_ratio
      when 'square'
        assign ratio = '1/1'
        assign ratio_mobile = '1/1'
      when 'landscape'
        assign ratio = '4/3'
        assign ratio_mobile = '4/3'
      when 'portrait'
        assign ratio = '3/4'
        assign ratio_mobile = '3/4'
    endcase
  else
    if image != blank
      assign ratio = block_st.image.aspect_ratio
      assign ratio_mobile = block_st.image_mobile.aspect_ratio | default: ratio
    else
      assign ratio = '3/4'
      assign ratio_mobile = '3/4'
    endif
  endif
  assign borders = block_st.borders
  assign border_width = block_st.border_width
  assign border_opacity = block_st.border_opacity
  assign border_radius = block_st.border_radius
-%}
{% capture style %}
  --space-bottom: {{ block.settings.padding_bottom }};--space-top: {{ block.settings.padding_top }};
  --border-style: {{ borders }};
    --border-width: {{ border_width }}px;
  --border-color: rgba(from var(--color-border) r g b / {{ border_opacity | divided_by: 100.0 }});
  --border-radius: {{ border_radius }}px;
  --desktop-width: {{ desktop_image_width }}%;
  --mobile-width: {{ block_st.mobile_image_width }}%;
{% endcapture %}
<div
  class="image-block desktop-image__{{ block_st.desktop_image_type }} mobile-image__{{ block_st.mobile_image_type }} pb-custom pt-custom spacing-style border-style image-height__{{ block_st.height_type }}{% if request.visual_preview_mode %} bg-white w-500 px-sp-5 rounded-5{% endif %}"
  style="{{ style | strip | strip_newlines }}"
  {{ block.shopify_attributes }}
>
  <a
    class="rounded block{% if image == blank %} placeholder{% endif %}"
    {% if link != blank %}
      href="{{ link }}"
    {% else %}
      role="link"
    {% endif %}
    aria-label="{{ 'general.image.image_alt_default' | t }}"
    style="--aspect-ratio: {{ ratio }};--aspect-ratio-mb: {{ ratio_mobile }};"
  >
    {%- if image != blank -%}
      {%- liquid
        assign image_alt_default = 'general.image.image_alt_default' | t
        assign image_alt = image.alt | default: image_alt_default | escape
      -%}
      {% render 'responsive-image',
        type: 'banner',
        container: section.settings.section_width,
        image: image,
        image_mobile: image_mobile,
        image_alt: image_alt,
        animate: 'zoom-out-small',
        motion: true
      %}
    {%- else -%}
      {%- render 'placeholder-render', type: 'lifestyle-1', class: 'img-placeholder h-full w-full' -%}
    {%- endif -%}
  </a>
</div>
{% schema %}
{
  "name": "t:sections.all.image.label",
  "class": "w-full",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.all.image.how_to_use"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.all.image.label"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "t:sections.all.image.mobile_image"
    },
    {
      "type": "url",
      "id": "link",
      "label": "t:sections.all.content_setting.link.label"
    },
    {
      "type": "header",
      "content": "t:sections.custom_section.blocks.settings.size.label"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.all.image.aspect_ratio.adapt"
        },
        {
          "value": "square",
          "label": "t:sections.all.image.aspect_ratio.options__1"
        },
        {
          "value": "portrait",
          "label": "t:sections.all.image.aspect_ratio.options__2"
        },
        {
          "value": "landscape",
          "label": "t:sections.all.image.aspect_ratio.options__3"
        }
      ],
      "default": "adapt",
      "label": "t:sections.all.image.aspect_ratio.label"
    },
    {
      "type": "select",
      "id": "desktop_image_type",
      "label": "t:sections.custom_section.blocks.settings.size.desktop_width.label",
      "options": [
        {
          "label": "t:sections.custom_section.blocks.settings.size.options.options__1.label",
          "value": "fit"
        },
        {
          "label": "t:sections.custom_section.blocks.settings.size.options.options__2.label",
          "value": "fill"
        },
        {
          "label": "t:sections.custom_section.blocks.settings.size.options.options__3.label",
          "value": "custom"
        }
      ]
    },
    {
      "type": "range",
      "id": "desktop_image_width",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 50,
      "label": "t:sections.all.image.width",
      "info": "t:sections.all.image.info_width",
      "visible_if": "{{ block.settings.desktop_image_type == 'custom' }}"
    },
    {
      "type": "select",
      "id": "mobile_image_type",
      "label": "t:sections.custom_section.blocks.settings.size.mobile_width.label",
      "options": [
        {
          "label": "t:sections.custom_section.blocks.settings.size.options.options__1.label",
          "value": "fit"
        },
        {
          "label": "t:sections.custom_section.blocks.settings.size.options.options__2.label",
          "value": "fill"
        },
        {
          "label": "t:sections.custom_section.blocks.settings.size.options.options__3.label",
          "value": "custom"
        }
      ]
    },
    {
      "type": "range",
      "id": "mobile_image_width",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 50,
      "label": "t:sections.all.image.width",
      "info": "t:sections.all.image.info_width",
      "visible_if": "{{ block.settings.mobile_image_type == 'custom' }}"
    },
    {
      "type": "select",
      "id": "height_type",
      "label": "t:sections.custom_section.blocks.settings.size.height.label",
      "options": [
        {
          "label": "t:sections.custom_section.blocks.settings.size.options.options__1.label",
          "value": "fit"
        },
        {
          "label": "t:sections.custom_section.blocks.settings.size.options.options__2.label",
          "value": "fill"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.custom_section.settings.appearance.settings.borders.label"
    },
    {
      "type": "select",
      "id": "borders",
      "options": [
        {
          "value": "none",
          "label": "t:sections.custom_section.settings.appearance.settings.borders.options__1.label"
        },
        {
          "value": "solid",
          "label": "t:sections.custom_section.settings.appearance.settings.borders.options__2.label"
        }
      ],
      "default": "none",
      "label": "t:sections.custom_section.settings.appearance.settings.borders.style"
    },
    {
      "type": "range",
      "id": "border_width",
      "min": 1,
      "max": 10,
      "step": 0.5,
      "unit": "px",
      "label": "t:sections.custom_section.settings.appearance.settings.border_thickness.label",
      "default": 1,
      "visible_if": "{{ block.settings.borders == 'solid' }}"
    },
    {
      "type": "range",
      "id": "border_opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.custom_section.settings.appearance.settings.border_opacity.label",
      "default": 100,
      "visible_if": "{{ block.settings.borders == 'solid' }}"
    },
    {
      "type": "range",
      "id": "border_radius",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.custom_section.settings.appearance.settings.corner_radius.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.custom_section.blocks.page.spacing"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 20
    }
  ],
  "presets": [{ "name": "t:sections.all.image.label", "category": "t:sections.group.blocks.basic" }]
}
{% endschema %}
