{% capture style %}
  --space-bottom: {{ block.settings.padding_bottom }};--space-top: {{ block.settings.padding_top }};
  --height: {% if block.settings.unit_desktop == 'pixel' %}{{ block.settings.height_pixel }}px{% else %}{{ block.settings.height_percent }}%{% endif %};
  --width: {% if block.settings.unit_mobile == 'pixel' %}{{ block.settings.width_pixel }}px{% else %}{{ block.settings.width_percent }}%{% endif %};
{% endcapture %}
<div
  class="h3 inline-flex align-center logo-block pb-custom pt-custom spacing-style{% if request.visual_preview_mode %} bg-white px-sp-5 rounded-5{% endif %}"
  style="{{ style | strip | strip_newlines }}"
  {{ block.shopify_attributes }}
>
  {%- if settings.logo != blank -%}
    {%- assign img_alt = settings.logo.alt | default: shop.name | escape -%}
    {%- assign logo_height = block.settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
    {%- liquid
      assign logo_class = 'header__heading-logo'
    -%}
    {{
      settings.logo
      | image_url: width: settings.logo_width
      | image_tag:
        class: logo_class,
        widths: '50, 100, 150, 200, 250, 300, 400, 500, 600',
        height: logo_height,
        width: settings.logo_width,
        alt: img_alt,
        sizes: '100vw'
    }}
  {%- else -%}
    <span class="site-logo {{ logo_class }}">{{ shop.name }}</span>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "t:sections.custom_section.blocks.logo.name",
  "tag": null,
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.custom_section.blocks.logo.how_to_use"
    },
    {
      "type": "header",
      "content": "t:sections.custom_section.blocks.logo.settings.size.name"
    },
    {
      "type": "select",
      "id": "unit_desktop",
      "label": "t:sections.custom_section.blocks.logo.settings.size.unit.label",
      "options": [
        {
          "value": "pixel",
          "label": "t:sections.custom_section.blocks.logo.settings.size.unit.option__1.label"
        },
        {
          "value": "percent",
          "label": "t:sections.custom_section.blocks.logo.settings.size.unit.option__2.label"
        }
      ]
    },
    {
      "type": "range",
      "id": "height_pixel",
      "label": "t:sections.custom_section.blocks.logo.settings.size.height.label",
      "min": 16,
      "max": 320,
      "step": 8,
      "unit": "px",
      "default": 48,
      "visible_if": "{{ block.settings.unit_desktop == 'pixel' }}"
    },
    {
      "type": "range",
      "id": "height_percent",
      "label": "t:sections.custom_section.blocks.logo.settings.size.height.label",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100,
      "visible_if": "{{ block.settings.unit_desktop == 'percent' }}"
    },
    {
      "type": "checkbox",
      "id": "custom_mobile",
      "label": "t:sections.custom_section.blocks.logo.settings.size.custom_mobile_size.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.custom_section.blocks.logo.settings.size.mobile.name",
      "visible_if": "{{ block.settings.custom_mobile == true }}"
    },
    {
      "type": "select",
      "id": "unit_mobile",
      "label": "t:sections.custom_section.blocks.logo.settings.size.unit.label",
      "options": [
        {
          "value": "pixel",
          "label": "t:sections.custom_section.blocks.logo.settings.size.unit.option__1.label"
        },
        {
          "value": "percent",
          "label": "t:sections.custom_section.blocks.logo.settings.size.unit.option__2.label"
        }
      ],
      "visible_if": "{{ block.settings.custom_mobile == true }}"
    },
    {
      "type": "range",
      "id": "width_pixel",
      "label": "t:sections.custom_section.blocks.logo.settings.size.height.label",
      "min": 16,
      "max": 160,
      "step": 8,
      "unit": "px",
      "default": 120,
      "visible_if": "{{ block.settings.unit_mobile == 'pixel' and block.settings.custom_mobile == true }}"
    },
    {
      "type": "range",
      "id": "width_percent",
      "label": "t:sections.custom_section.blocks.logo.settings.size.height.label",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100,
      "visible_if": "{{ block.settings.unit_mobile == 'percent' and block.settings.custom_mobile == true }}"
    },
    {
      "type": "header",
      "content": "t:sections.custom_section.blocks.page.spacing"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 20
    }
  ],
  "presets": [
    {
      "name": "t:sections.custom_section.blocks.logo.name",
      "category": "t:sections.group.blocks.basic"
    }
  ]
}
{% endschema %}
