<div
  class="progress-block progress-block-{{ block.id }} pb-custom pt-custom w-full{% if request.visual_preview_mode %} bg-white w-500 p-sp-5 rounded-5{% endif %}"
  data-section-id="{{ block.id }}"
  style="--space-bottom: {{ block.settings.padding_bottom }};--space-top: {{ block.settings.padding_top }};"
  {{ block.shopify_attributes }}
>
  {% if block.settings.show_title %}
    <div class="progress-title text-start {{ block.settings.type_preset }} mb-sp-2">{{ block.settings.title }}</div>
  {% endif %}

  <progress-bar-block class="w-full block">
    <div class="progress-bar-container overflow-hidden relative w-full">
      <div class="progress-bar overflow-hidden relative">
        <span class="text-inner overflow-hidden inline-block absolute">{{ block.settings.text_inner }}</span>
        {% if block.settings.show_percentage %}
          <span class="progress-percentage absolute" data-percentage="{{ block.settings.percentage }}">0%</span>
        {% endif %}
      </div>
    </div>
  </progress-bar-block>
</div>

{%- style -%}
    .progress-block-{{ block.id }} .progress-title {
      color: {{ block.settings.title_color }};
      {% if block.settings.title_shadow %}
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
      {% endif %}
    }

    .progress-block-{{ block.id }} .progress-description {
      color: {{ block.settings.text_color }};
      {% if block.settings.text_shadow %}
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
      {% endif %}
    }

    .progress-block-{{ block.id }} .progress-bar-container {
      background-color: {{ block.settings.background_color }};
      height: {{ block.settings.bar_height }}px;
      border-radius: {{ block.settings.border_radius }}px;
    }

    .progress-block-{{ block.id }} .progress-bar {
      width: 0;
      height: 100%;
      background-color: {{ block.settings.progress_color }};
      animation: progressAnimation {{ block.settings.percentage | times: 0.02 }}s ease-in-out forwards;
    }

    @keyframes progressAnimation {
      from { width: 0; }
      to { width: {{ block.settings.percentage }}%; }
    }

    {% if block.settings.show_percentage %}
    .progress-block-{{ block.id }} .progress-percentage {
      top: 50%;
      right: 10px;
      color: {{ block.settings.text_color }};
      transform: translateY(-50%);
      {% if block.settings.text_shadow %}
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
      {% endif %}
    }
    {% endif %}

    .progress-block-{{ block.id }} .text-inner {
      top: 50%;
      left: 10px;
      color: {{ block.settings.text_color }};
      transform: translateY(-50%);
      {% if block.settings.text_shadow %}
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
      {% endif %}
       width: max-content;
    }
  }
{%- endstyle -%}

{% schema %}
{
  "name": "t:sections.custom_section.blocks.progress_bar.name",
  "class": "w-full",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.custom_section.blocks.progress_bar.how_to_use"
    },
    {
      "type": "header",
      "content": "t:sections.all.section_setting.page_heading.heading.label"
    },
    {
      "type": "text",
      "id": "title",
      "label": "t:settings_schema.badges.settings.sale.format.text",
      "default": "My Skills"
    },
    {
      "type": "select",
      "id": "type_preset",
      "label": "t:sections.custom_section.blocks.heading.label",
      "options": [
        {
          "value": "rte",
          "label": "t:sections.custom_section.blocks.heading.default"
        },
        {
          "value": "paragraph",
          "label": "t:sections.custom_section.blocks.heading.paragraph"
        },
        {
          "value": "h1",
          "label": "t:sections.custom_section.blocks.heading.h1"
        },
        {
          "value": "h2",
          "label": "t:sections.custom_section.blocks.heading.h2"
        },
        {
          "value": "h3",
          "label": "t:sections.custom_section.blocks.heading.h3"
        },
        {
          "value": "h4",
          "label": "t:sections.custom_section.blocks.heading.h4"
        },
        {
          "value": "h5",
          "label": "t:sections.custom_section.blocks.heading.h5"
        },
        {
          "value": "h6",
          "label": "t:sections.custom_section.blocks.heading.h6"
        }
      ],
      "default": "h2",
      "info": "t:sections.custom_section.blocks.heading.info.edit_presets_in_theme_settings"
    },
    {
      "type": "checkbox",
      "id": "show_title",
      "label": "t:sections.custom_section.blocks.progress_bar.display_title",
      "default": true
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "t:sections.custom_section.blocks.progress_bar.text_color",
      "default": "#1D1D1F",
      "visible_if": "{{ block.settings.show_title}}",
      "alpha": true
    },
    {
      "type": "checkbox",
      "id": "title_shadow",
      "label": "t:sections.custom_section.blocks.progress_bar.text_shadow",
      "default": false,
      "visible_if": "{{ block.settings.show_title}}"
    },
    {
      "type": "header",
      "content": "t:sections.custom_section.blocks.progress_bar.name"
    },
    {
      "type": "range",
      "id": "percentage",
      "label": "t:sections.custom_section.blocks.progress_bar.percentage",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 50
    },
    {
      "type": "checkbox",
      "id": "show_percentage",
      "label": "t:sections.custom_section.blocks.progress_bar.display_percentage",
      "default": true
    },
    {
      "type": "color",
      "id": "progress_color",
      "label": "t:sections.divider.settings.color.label",
      "default": "#1F473E",
      "visible_if": "{{ block.settings.show_percentage}}",
      "alpha": true
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:settings_schema.badges.settings.background_color.label",
      "default": "#ECE7DA",
      "visible_if": "{{ block.settings.show_percentage}}",
      "alpha": true
    },
    {
      "type": "range",
      "id": "bar_height",
      "label": "t:sections.divider.settings.height.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 30,
      "visible_if": "{{ block.settings.show_percentage}}"
    },
    {
      "type": "range",
      "id": "border_radius",
      "label": "t:sections.custom_section.blocks.progress_bar.border_radius",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 30,
      "visible_if": "{{ block.settings.show_percentage}}"
    },
    {
      "type": "header",
      "content": "t:sections.custom_section.blocks.progress_bar.inner_text"
    },
    {
      "type": "text",
      "id": "text_inner",
      "label": "t:settings_schema.badges.settings.sale.format.text",
      "default": "Skill"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "t:sections.custom_section.blocks.progress_bar.text_color",
      "default": "#FFFFFF",
      "alpha": true
    },
    {
      "type": "checkbox",
      "id": "text_shadow",
      "label": "t:sections.custom_section.blocks.progress_bar.text_shadow",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.custom_section.blocks.page.spacing"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 20
    }
  ],
  "presets": [
    {
      "name": "t:sections.custom_section.blocks.progress_bar.name",
      "category": "t:sections.group.general.name"
    }
  ]
}
{% endschema %}

<script type="module">
  document.addEventListener('shopify:section:load', function (event) {
    const section = event.target.querySelector('.progress-section');
    if (section) {
      const progressBarBlock = section.querySelector('progress-bar-block');
      if (progressBarBlock) {
        progressBarBlock.resetAndAnimate();
      }
    }
  });
</script>
