<div
  class="pb-custom block-social-icon-{{ block.id }} pt-custom spacing-style flex justify-content-{{ block.settings.text_alignment }}{% if request.visual_preview_mode %} bg-white justify-center px-sp-5 rounded-5{% endif %}"
  style="--space-bottom: {{ block.settings.padding_bottom }};--space-top: {{ block.settings.padding_top }}; gap: {{ block.settings.spacing }}px;"
>
  {% content_for 'blocks' %}
</div>

{% style %}
  .block-social-icon-{{ block.id }} .block-social-icon-item {
    border-radius: {% if block.settings.shape == 'rounded' %}15px{% elsif block.settings.shape == 'circle' %}100px{% else %}0px{% endif %};
    width: {{ block.settings.size_icon }}px;
    height: {{ block.settings.size_icon }}px;
  }
{% endstyle %}

{% schema %}
{
  "name": "t:sections.custom_section.blocks.social_icons.name",
  "blocks": [
    {
      "type": "_social-icons-item"
    }
  ],
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.custom_section.blocks.social_icons.how_to_use"
    },
    {
      "type": "select",
      "id": "shape",
      "options": [
        {
          "value": "square",
          "label": "t:sections.custom_section.blocks.social_icons.square"
        },
        {
          "value": "rounded",
          "label": "t:sections.custom_section.blocks.social_icons.rounded"
        },
        {
          "value": "circle",
          "label": "t:sections.custom_section.blocks.social_icons.circle"
        }
      ],
      "default": "square",
      "label": "t:sections.custom_section.blocks.social_icons.shape"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "options": [
        {
          "value": "start",
          "label": "t:sections.all.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.text_alignment.options__2.label"
        },
        {
          "value": "end",
          "label": "t:sections.all.text_alignment.options__3.label"
        }
      ],
      "default": "start",
      "label": "t:sections.all.text_alignment.alignment"
    },
    {
      "type": "range",
      "id": "size_icon",
      "min": 40,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "t:settings_schema.typography.settings.text_preset.settings.size.label",
      "default": 50
    },
    {
      "type": "range",
      "id": "spacing",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "t:sections.all.padding.space_between",
      "default": 20
    },
    {
      "type": "header",
      "content": "t:sections.custom_section.blocks.page.spacing"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 20
    }
  ],
  "presets": [
    {
      "name": "t:sections.custom_section.blocks.social_icons.name",
      "category": "t:sections.group.general.name",
      "blocks": [
        {
          "type": "_social-icons-item",
          "settings": {
            "custom_svg": "<svg width=\"6\" height=\"12\" viewbox=\"0 0 6 12\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n<path d=\"M1.33335 2.66669V4.00004H0V6.00003H1.33335V12H4V6.00003H5.77335L6 4.00004H4V2.83335C4 2.29338 4.05334 2.00669 4.88665 2.00669H6V0H4.21336C2.08004 5.72915e-05 1.33335 1.00002 1.33335 2.66669Z\" fill=\"#444444\"></path>\n</svg>"
          }
        },
        {
          "type": "_social-icons-item",
          "settings": {
            "custom_svg": "<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"35\" height=\"35\" viewbox=\"0 0 40 40\" fill=\"none\" class=\"icon-zoom transition-short will-change\">\n  <path fill-rule=\"evenodd\" clip-rule=\"evenodd\" d=\"M17.9184 14H14.066L18.5298 20.6281L14 26H15.5877L19.2347 21.6747L22.1476 26H26L21.3764 19.1347L25.7059 14H24.1183L20.6714 18.0879L17.9184 14ZM19.4993 19.9239L16.2821 15.2286H17.2134L19.9508 19.2237L20.3878 19.8614L23.7755 24.8054H22.8442L19.9793 20.6242L19.4993 19.9239Z\" fill=\"currentColor\"></path>\n</svg>"
          }
        },
        {
          "type": "_social-icons-item",
          "settings": {
            "custom_svg": "<svg aria-hidden=\"true\" focusable=\"false\" class=\"icon icon-youtube\" width=\"18\" height=\"18\" viewbox=\"0 0 20 20\">\n  <path fill=\"currentColor\" d=\"M18.16 5.87c.34 1.309.34 4.08.34 4.08s0 2.771-.34 4.08a2.125 2.125 0 0 1-1.53 1.53c-1.309.34-6.63.34-6.63.34s-5.321 0-6.63-.34a2.125 2.125 0 0 1-1.53-1.53c-.34-1.309-.34-4.08-.34-4.08s0-2.771.34-4.08a2.173 2.173 0 0 1 1.53-1.53C4.679 4 10 4 10 4s5.321 0 6.63.34a2.173 2.173 0 0 1 1.53 1.53ZM8.3 12.5l4.42-2.55L8.3 7.4v5.1Z\"></path>\n</svg>"
          }
        }
      ]
    }
  ]
}
{% endschema %}
