{% liquid
  assign section_st = section.settings
  assign image = section_st.image
  assign mobile_image = section_st.mobile_image | default: image
  assign image_height = section_st.image_height
  assign show_text_bellow_mobile = section_st.show_text_bellow_mobile

  if section_st.section_width == 'fix_width'
    assign section_width = 'container'
  elsif section_st.section_width == 'full_width'
    assign section_width = 'full-width'
  else
    assign section_width = 'fluid_container'
  endif
%}

{%- capture style -%}
  --section-pt: {{ section_st.padding_top }}; --section-pb: {{ section_st.padding_bottom }};
{%- endcapture -%}

{%- if image_height == 'adapt' -%}
  {%- capture style_ratio -%}
    {%- if image_height == 'adapt' -%}
      {% if image != blank %}
      --aspect-ratio: {{ image.aspect_ratio }}; {% else %} --aspect-ratio: 5/2;{% endif %}
      {%- if mobile_image != blank -%} --aspect-ratio-mb: {{ mobile_image.aspect_ratio }};{%- endif -%}{% if mobile_image == blank and section_st.image != blank %}--aspect-ratio-mb: {{ section_st.image.aspect_ratio }};{% endif %}
    {%- endif -%}
{%- endcapture -%}
{% endif %}

<div
  class="section section__image-with-text-overlay color-{{ section_st.color_scheme }} gradient"
  style="{{ style | strip | strip_newlines }}"
>
  <div class="{{ section_width }}">
    <div
      class="w-full flex relative h-{{ image_height }} overflow-hidden{% if show_text_bellow_mobile %} column flex-md-row text-bellow-mb{% endif %}"
      {%- if section_st.image_height == 'adapt' -%}
        style="{{ style_ratio | strip | strip_newlines }}"
      {%- endif -%}
    >
      <div
        class="banner__media absolute{% if image == blank %} placeholder inset-0{% endif %}{% if image_height != 'adapt' %} inset-0{% endif %}"
        {%- if image_height == 'adapt' and section_st.image != blank -%}
          style="--aspect-ratio: {{ image.aspect_ratio }}"
        {%- endif -%}
      >
        {%- if image != blank or mobile_image != blank -%}
          {%- liquid
            assign alt_default = 'accessibility.promotion_banner' | t
            assign alt = section_st.banner_image.alt | default: alt_default | escape
          -%}
          {% render 'responsive-image',
            type: 'banner',
            container: section_st.section_width,
            image: image,
            image_mobile: mobile_image,
            image_alt: alt
          %}
        {%- else -%}
          {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
      </div>
      <div
        class="banner__content media__content relative z-2{% if show_text_bellow_mobile == false %} flex{% else %} flex-md{% endif %} w-full {{ section_st.desktop_content_position }} text-{{ section_st.text_alignment_mobile }} text-md-{{ section_st.text_alignment }}"
      >
        <div
          class="banner__box max-w-custom image-with-text__text-item"
          style="--max-width: {{ section_st.max_width }}%;"
        >
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'heading' -%}
                <h2
                  class="email-signup-banner__heading {{ block.settings.heading_size }}"
                  {{ block.shopify_attributes }}
                >
                  {{ block.settings.heading | escape }}
                </h2>
              {%- when 'paragraph' -%}
                <div class="newsletter__subheading rte prose" {{ block.shopify_attributes }}>
                  {{ block.settings.text }}
                </div>
              {%- when 'email_form' -%}
                <div {{ block.shopify_attributes }}>
                  {% form 'customer', class: 'newsletter-form' %}
                    <input type="hidden" name="contact[tags]" value="newsletter">
                    <div class="newsletter-form__field-wrapper">
                      <div class="field relative w-full flex wrap content-center transition">
                        <input
                          id="NewsletterForm--{{ section.id }}"
                          type="email"
                          name="contact[email]"
                          class="field__input flex-1"
                          value="{{ form.email }}"
                          aria-required="true"
                          autocorrect="off"
                          autocapitalize="off"
                          autocomplete="email"
                          {% if form.errors %}
                            autofocus
                            aria-invalid="true"
                            aria-describedby="Newsletter-error--{{ section.id }}"
                          {% elsif form.posted_successfully? %}
                            aria-describedby="Newsletter-success--{{ section.id }}"
                          {% endif %}
                          placeholder="{{ 'newsletter.label' | t }}"
                          required
                          pattern=".+\.[a-zA-Z]{2,6}"
                        >
                        <label
                          class="field__label invisible visually-hidden"
                          for="NewsletterForm--{{ section.id }}"
                        >
                          {{ 'newsletter.label' | t }}
                        </label>
                        <button
                          type="submit"
                          class="newsletter-form__button"
                          name="commit"
                          id="Subscribe"
                          aria-label="{{ 'newsletter.button_label' | t }}"
                        >
                          {{ 'newsletter.button_label' | t }}
                        </button>
                      </div>
                      {%- if form.errors -%}
                        <small class="newsletter-form__message form__message" id="Newsletter-error--{{ section.id }}">
                          <svg width="20" height="20" viewBox="0 0 24 24" fill="none" class="flex-auto w-20">
                            <use href="#icon-error"></use>
                          </svg>
                          {{- form.errors.translated_fields.email | capitalize }}
                          {{ form.errors.messages.email -}}
                        </small>
                      {%- endif -%}
                    </div>
                    {%- if form.posted_successfully? -%}
                      <div
                        class="newsletter-form__message newsletter-form__message--success form__message"
                        id="Newsletter-success--{{ section.id }}"
                        tabindex="-1"
                        autofocus
                      >
                        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" class="flex-auto w-20">
                          <use href="#icon-success">
                        </svg>
                        {{- 'newsletter.success' | t }}
                      </div>
                    {%- endif -%}
                  {% endform %}
                </div>
            {%- endcase -%}
          {%- endfor -%}
        </div>
      </div>
      <div
        class="overlay absolute inset-0 bg-dark{% if section_width != "full-width" %} rounded{% endif %}{% if show_text_bellow_mobile %} d-none block-md{% endif %}"
        style="--opacity: {{ section_st.overlay_opacity | times: 0.01 }}"
      ></div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.email-signup-banner.name",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.general"
    },
    {
      "type": "select",
      "id": "section_width",
      "options": [
        {
          "value": "fix_width",
          "label": "t:sections.all.layout.fix_width"
        },
        {
          "value": "stretch_width",
          "label": "t:sections.all.layout.stretch_width"
        },
        {
          "value": "full_width",
          "label": "t:sections.all.layout.full_width"
        }
      ],
      "default": "fix_width",
      "label": "t:sections.all.layout.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.info",
      "default": "default-color-scheme"
    },
    {
      "type": "header",
      "content": "t:sections.all.image.label"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.all.image.label"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "t:sections.all.image.mobile_image"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.slideshow.settings.blocks.image.image_overlay_opacity.label",
      "default": 10
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__1.label"
        },
        {
          "value": "full_screen",
          "label": "t:sections.slideshow.settings.slide_height.full_screen"
        },
        {
          "value": "base_on_content",
          "label": "t:sections.main-collection-banner.settings.image_height.option__2"
        },
        {
          "value": "small",
          "label": "t:sections.slideshow.settings.slide_height.small"
        },
        {
          "value": "medium",
          "label": "t:sections.slideshow.settings.slide_height.medium"
        },
        {
          "value": "large",
          "label": "t:sections.slideshow.settings.slide_height.large"
        }
      ],
      "default": "adapt",
      "label": "t:sections.scrolling_text.settings.blocks.image.image_height.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.content_setting.label"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "default": "middle-left",
      "label": "t:sections.all.desktop_content_position.label",
      "info": "t:sections.all.desktop_content_position.info",
      "options": [
        {
          "group": "t:sections.all.desktop_content_position.group.top.label",
          "value": "top-left",
          "label": "t:sections.all.desktop_content_position.options__1.label"
        },
        {
          "group": "t:sections.all.desktop_content_position.group.top.label",
          "value": "top-center",
          "label": "t:sections.all.desktop_content_position.options__2.label"
        },
        {
          "group": "t:sections.all.desktop_content_position.group.top.label",
          "value": "top-right",
          "label": "t:sections.all.desktop_content_position.options__3.label"
        },
        {
          "group": "t:sections.all.desktop_content_position.group.middle.label",
          "value": "middle-left",
          "label": "t:sections.all.desktop_content_position.options__4.label"
        },
        {
          "group": "t:sections.all.desktop_content_position.group.middle.label",
          "value": "middle-center",
          "label": "t:sections.all.desktop_content_position.options__5.label"
        },
        {
          "group": "t:sections.all.desktop_content_position.group.middle.label",
          "value": "middle-right",
          "label": "t:sections.all.desktop_content_position.options__6.label"
        },
        {
          "group": "t:sections.all.desktop_content_position.group.bottom.label",
          "value": "bottom-left",
          "label": "t:sections.all.desktop_content_position.options__7.label"
        },
        {
          "group": "t:sections.all.desktop_content_position.group.bottom.label",
          "value": "bottom-center",
          "label": "t:sections.all.desktop_content_position.options__8.label"
        },
        {
          "group": "t:sections.all.desktop_content_position.group.bottom.label",
          "value": "bottom-right",
          "label": "t:sections.all.desktop_content_position.options__9.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_alignment",
      "options": [
        {
          "value": "start",
          "label": "t:sections.all.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.text_alignment.options__2.label"
        },
        {
          "value": "end",
          "label": "t:sections.all.text_alignment.options__3.label"
        }
      ],
      "default": "start",
      "label": "t:sections.all.text_alignment.label"
    },
    {
      "type": "range",
      "id": "max_width",
      "min": 40,
      "max": 100,
      "unit": "%",
      "default": 100,
      "label": "t:sections.rich-text.settings.max_width.label",
      "info": "t:sections.rich-text.settings.max_width.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.mobile_options.mobile_layout.label"
    },
    {
      "type": "checkbox",
      "id": "show_text_bellow_mobile",
      "label": "t:sections.all.mobile_options.mobile_layout.show_text_bellow.label",
      "info": "t:sections.all.mobile_options.mobile_layout.show_text_bellow.info"
    },
    {
      "type": "select",
      "id": "text_alignment_mobile",
      "options": [
        {
          "value": "start",
          "label": "t:sections.all.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.text_alignment.options__2.label"
        },
        {
          "value": "end",
          "label": "t:sections.all.text_alignment.options__3.label"
        }
      ],
      "default": "start",
      "label": "t:sections.all.text_alignment.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.all.content_setting.heading.label",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Opening soon",
          "label": "t:sections.all.content_setting.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h4",
              "label": "t:sections.all.content_header.heading_size.x_small.label"
            },
            {
              "value": "h3",
              "label": "t:sections.all.content_header.heading_size.options__1.label"
            },
            {
              "value": "h2",
              "label": "t:sections.all.content_header.heading_size.options__2.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.content_header.heading_size.options__3.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.content_header.heading_size.x_large.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.content_header.heading_size.label"
        }
      ]
    },
    {
      "type": "paragraph",
      "name": "t:sections.all.content_setting.description.label",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Be the first to know when we launch.</p>",
          "label": "t:sections.all.content_setting.description.label"
        }
      ]
    },
    {
      "type": "email_form",
      "name": "t:sections.email-signup-banner.email_form.name",
      "limit": 1
    }
  ],
  "presets": [
    {
      "name": "t:sections.email-signup-banner.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "paragraph"
        },
        {
          "type": "email_form"
        }
      ]
    }
  ],
  "enabled_on": {
    "templates": ["password"]
  }
}
{% endschema %}
