{%- liquid
  assign theme_st = settings
  assign section_st = section.settings
  assign scroll_animation = theme_st.scroll_animation
  assign show_faqs_message = section_st.show_faqs_message
  assign show_image = section_st.show_image
  assign image_desktop_position = section_st.image_desktop_position
  assign button_link = section_st.button_link

  if section_st.section_width == 'fix_width'
    assign section_width = 'container'
  elsif section_st.section_width == 'full_width'
    assign section_width = 'full-width'
  else
    assign section_width = 'fluid_container'
  endif
  assign heading = section_st.heading
  assign drawn_underline = section_st.drawn_underline
  assign drawn_underline_type = section_st.drawn_underline_type
  assign drawn_underline_color = section_st.drawn_underline_color
  if drawn_underline
    assign scroll_animation = 'disable'
  endif
-%}
{%- capture style -%}
  --section-pt: {{ section_st.padding_top }}; --section-pb: {{ section_st.padding_bottom }};
{%- endcapture -%}

{% style %}
  .faq-container .shopify-block:first-child summary {
    padding-top: 0;
  }
{% endstyle %}
<section
  class="section section__faq color-{{ section_st.color_scheme }} gradient{% if section_st.show_divider %} border-top{% endif %}"
  style="{{ style | strip | strip_newlines }}"
>
  <div class="{{ section_width }}">
    <div
      class="section__faqs{% if show_image %} flex column flex-1025-row{% endif %} gap{% if image_desktop_position == 'right' %} flex-1025-row-reverse{% endif %}"
      style="{% if show_image %}--gap: clamp(3rem, 5vw, 10rem);--gap-desktop: clamp(3rem, 5vw, 10rem);{% endif %}"
    >
      {% if show_image %}
        <div class="image-faq__media-item col-1025-w-custom" style="--col-width: 46.45%;">
          <div class="sticky-md top-30">
            <div
              class="image-faq__media banner__media rounded"
              {% if section_st.image != blank %}
                style="--aspect-ratio: {{ section_st.image.aspect_ratio }}";
              {% else %}
                style="--aspect-ratio: 655/750";
              {% endif %}
            >
              {%- liquid
                assign alt = 'general.image.image_alt_default' | t
                if section_st.image.alt
                  assign alt = section_st.image.alt | escape
                endif
              -%}
              {%- if section_st.image != blank -%}
                {% render 'responsive-image',
                  type: 'other',
                  container: section_width,
                  image: section_st.image,
                  image_alt: alt,
                  animate: 'zoom-out-small',
                  motion: true
                %}
              {% else %}
                {% render 'placeholder-render', type: 'collection-6', class: 'img-placeholder h-full w-full rounded' %}
              {% endif %}
            </div>
          </div>
        </div>
      {% endif %}
      <div
        class="section__faqs-content w-full flex{% if show_faqs_message and show_image == false %} column flex-1025-row gap{% endif %}{% if show_faqs_message and show_image  %} column gap-30 gap-1025-40 justify-center{% endif %}{% if show_image and show_faqs_message == false %} align-center{% endif %}"
        style="{% if show_faqs_message and show_image == false %}--gap: clamp(2.4rem, 5vw, 10rem);--gap-desktop: clamp(2.4rem, 5vw, 10rem);--col-width: 27%;{% endif %}"
      >
        {% if show_faqs_message %}
          <div class="faqs__info{% if show_faqs_message and show_image == false %} col-1025-w-custom{% else %} w-full{% endif %} text-{{ section_st.text_alignment }} flex block-1025 column">
            {% assign animate_delay = 25 %}
            {% if show_faqs_message and show_image == false %}
              <div class="sticky-md top-30">
            {% endif %}
            {%- if section.settings.subheading != blank -%}
              {%- if scroll_animation != 'disable' -%}
                <motion-effect
                  data-animate="fade-up"
                  data-animate-delay="{{ animate_delay }}"
                  class="block"
                >
              {%- endif -%}
              <div class="faqs__subheading h7 heading-letter-spacing subheading_weight mb-sp-2">
                {{ section.settings.subheading }}
              </div>
              {%- if scroll_animation != 'disable' -%}
                </motion-effect>
              {%- endif -%}
            {%- endif -%}
            {%- if section.settings.heading != blank -%}
              {% assign animate_delay = animate_delay | plus: 50 %}
              {% if scroll_animation != 'disable' or drawn_underline %}
                <motion-effect
                  data-animate="{% if scroll_animation != 'disable' %}fade-up{% else %}highlighted-text{% endif %}"
                  data-animate-delay="{{ animate_delay }}"
                  class="block"
                >
              {%- endif -%}
              <h2 class="faqs__heading h2">
                {% if drawn_underline %}
                  {%- capture squiggle_svg_1 -%}
                <svg viewBox="0 0 184 26" fill="none"><use href="#squiggle-svg-1" /></svg>
              {%- endcapture -%}
                  {%- capture squiggle_svg_2 -%}
               <svg viewBox="0 0 186 24" fill="none"><use href="#squiggle-svg-2" /></svg>
              {%- endcapture -%}
                  {%- capture squiggle_svg_3 -%}
                 <svg viewBox="0 0 186 24" fill="none"><use href="#squiggle-svg-3" /></svg>
              {%- endcapture -%}
                  {%- capture squiggle_svg_4 -%}
                <svg viewBox="0 0 220 50"fill="none"><use href="#squiggle-svg-4" /></svg>
              {%- endcapture -%}
                  {%- capture squiggle_svg_5 -%}
                <svg viewBox="-347 -25 694 80" fill="none" role="presentation" preserveAspectRatio="none"><use href="#squiggle-svg-5" /></svg>
              {%- endcapture -%}
                  {%- assign result = heading -%}
                  {%- assign parts = result | split: '<em>' -%}
                  {%- assign em_count = parts | size | minus: 1 -%}

                  {%- for i in (1..em_count) -%}
                    {%- assign idx = i | plus: 0 -%}
                    {%- assign chunk = parts[idx] | default: '' -%}
                    {%- assign text = chunk | split: '</em>' | first | strip_html | strip -%}
                    {%- assign len_text = text | size -%}
                    {%- capture open_em -%}
                {%- liquid
                  if drawn_underline_type == 'simple_underline'
                    assign svg = squiggle_svg_4 | append: '</em>'
                  elsif drawn_underline_type == 'curve_underline'
                    assign svg = squiggle_svg_5 | append: '</em>'
                  else
                    if len_text <= 4
                      assign svg = squiggle_svg_1 | append: '</em>'
                    elsif len_text <= 6
                      assign svg = squiggle_svg_2 | append: '</em>'
                    else
                      assign svg = squiggle_svg_3 | append: '</em>'
                    endif
                  endif
                -%}
                <em class="highlighted-text relative inline-flex{% if drawn_underline_type == 'simple_underline' %} simple_underline{% endif %} {{ drawn_underline_type }} not-italic" style="--animate-color:{{ drawn_underline_color }}">{{ svg }}</em>
              {%- endcapture -%}
                    {%- assign open_em = open_em | remove: '</em>' -%}
                    {%- assign heading = heading | replace_first: '<em>', open_em -%}
                  {%- endfor -%}
                {% endif %}
                {{- heading -}}
              </h2>
              {% if scroll_animation != 'disable' or drawn_underline %}
                </motion-effect>
              {%- endif -%}
            {%- endif -%}
            {%- if section.settings.description != blank -%}
              {% assign animate_delay = animate_delay | plus: 50 %}
              {%- if scroll_animation != 'disable' -%}
                <motion-effect
                  data-animate="fade-up"
                  data-animate-delay="{{ animate_delay }}"
                  class="block"
                >
              {%- endif -%}
              <div class="faqs__description mt-sp-4 prose">
                {{ section.settings.description }}
              </div>
              {%- if scroll_animation != 'disable' -%}
                </motion-effect>
              {%- endif -%}
            {%- endif -%}
            {%- if section.settings.button_label != blank -%}
              {% assign animate_delay = animate_delay | plus: 50 %}
              {%- if scroll_animation != 'disable' -%}
                <motion-effect
                  data-animate="fade-up"
                  data-animate-delay="{{ animate_delay }}"
                  class="block"
                >
              {%- endif -%}
              <a
                {% if button_link == blank %}
                  role="link" aria-disabled="true"
                {% else %}
                  href="{{ button_link | default: "#" }}"
                {% endif %}
                aria-label="{{ section.settings.button_label }}"
                class="btn pointer btn-primary inline-block mt-sp-6 mt-1025-sp-10 min-w-custom w-full w-1025-auto text-center"
                style="--min-width: 20rem;"
              >
                {{ section.settings.button_label }}
              </a>
              {%- if scroll_animation != 'disable' -%}
                </motion-effect>
              {%- endif -%}
            {%- endif -%}
            {% if show_faqs_message and show_image == false %}
              </div>
            {% endif %}
          </div>
        {% endif %}
        <div class="faq-container{% if show_faqs_message and show_image == false %} col-1025-remaining{% else %} w-full{% endif %}">
          {% if scroll_animation != 'disable' %}
            <motion-items-effect>
          {% endif %}
          {% content_for 'blocks' %}
          {% if scroll_animation != 'disable' %}
            </motion-items-effect>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "t:sections.faq.name",
  "tag": "section",
  "class": "section",
  "max_blocks": 10,
  "disabled_on": {
    "groups": ["header", "footer", "custom.overlay"]
  },
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "_item-faq"
    }
  ],
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.faq.how_to_use"
    },
    {
      "type": "header",
      "content": "t:sections.all.general"
    },
    {
      "type": "select",
      "id": "section_width",
      "options": [
        {
          "value": "fix_width",
          "label": "t:sections.all.layout.fix_width"
        },
        {
          "value": "stretch_width",
          "label": "t:sections.all.layout.stretch_width"
        },
        {
          "value": "full_width",
          "label": "t:sections.all.layout.full_width"
        }
      ],
      "default": "fix_width",
      "label": "t:sections.all.layout.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.info",
      "default": "default-color-scheme"
    },
    {
      "type": "checkbox",
      "id": "open_all_question",
      "label": "t:sections.faq.settings.open_all_question",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.all.image.label"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "label": "t:sections.faq.settings.show_image",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.all.image.label",
      "visible_if": "{{ section.settings.show_image }}"
    },
    {
      "type": "select",
      "id": "image_desktop_position",
      "visible_if": "{{ section.settings.show_image }}",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.image.desktop_position.left"
        },
        {
          "value": "right",
          "label": "t:sections.all.image.desktop_position.right"
        }
      ],
      "default": "left",
      "label": "t:sections.all.image.desktop_position.label"
    },
    {
      "type": "header",
      "content": "t:sections.faq.heading.content"
    },
    {
      "type": "checkbox",
      "id": "show_faqs_message",
      "label": "t:sections.faq.settings.show_faqs_message",
      "default": true
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.all.content_setting.subheading.label",
      "default": "Have a Question?",
      "visible_if": "{{ section.settings.show_faqs_message }}"
    },
    {
      "type": "richtext",
      "id": "heading",
      "default": "<p>Help Center!</p>",
      "label": "t:sections.all.content_setting.heading.label",
      "visible_if": "{{ section.settings.show_faqs_message }}"
    },
    {
      "type": "checkbox",
      "id": "drawn_underline",
      "default": true,
      "label": "t:sections.all.content_setting.drawn_underline.label",
      "info": "t:sections.all.content_setting.heading.info",
      "visible_if": "{{ section.settings.show_faqs_message }}"
    },
    {
      "type": "select",
      "id": "drawn_underline_type",
      "label": "t:sections.all.content_setting.drawn_underline.type",
      "default": "squiggle_underline",
      "visible_if": "{{ section.settings.drawn_underline != false and section.settings.show_faqs_message }}",
      "options": [
        {
          "value": "simple_underline",
          "label": "t:sections.all.content_setting.drawn_underline.value.simple_underline"
        },
        {
          "value": "curve_underline",
          "label": "t:sections.all.content_setting.drawn_underline.value.curve_underline"
        },
        {
          "value": "squiggle_underline",
          "label": "t:sections.all.content_setting.drawn_underline.value.squiggle_underline"
        }
      ]
    },
    {
      "type": "color",
      "id": "drawn_underline_color",
      "label": "t:sections.all.content_setting.drawn_underline.color",
      "default": "#FFB005",
      "alpha": true,
      "visible_if": "{{ section.settings.drawn_underline != false and section.settings.show_faqs_message }}"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.all.content_setting.description.label",
      "default": "<p>Add a short description for this block.</p>",
      "visible_if": "{{ section.settings.show_faqs_message }}"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "t:sections.all.content_setting.button_label.label",
      "info": "t:sections.all.content_setting.button_label.info",
      "default": "Button label",
      "visible_if": "{{ section.settings.show_faqs_message }}"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.all.content_setting.link.label",
      "visible_if": "{{ section.settings.show_faqs_message }}"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "visible_if": "{{ section.settings.show_faqs_message }}",
      "options": [
        {
          "value": "start",
          "label": "t:sections.all.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.text_alignment.options__2.label"
        },
        {
          "value": "end",
          "label": "t:sections.all.text_alignment.options__3.label"
        }
      ],
      "default": "start",
      "label": "t:sections.all.text_alignment.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 48
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 48
    },
    {
      "type": "header",
      "content": "t:sections.all.divider.section_divider_heading"
    },
    {
      "type": "checkbox",
      "id": "show_divider",
      "label": "t:sections.all.divider.show_divider",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "t:sections.faq.name",
      "category": "t:sections.group.storytelling",
      "blocks": [
        {
          "type": "_item-faq"
        },
        {
          "type": "_item-faq"
        },
        {
          "type": "_item-faq"
        }
      ]
    }
  ]
}
{% endschema %}

<script>
  const faqContainer = document.querySelector('.faq-container');
  if (faqContainer) {
    const firstDetails = faqContainer.querySelector('details');

    if (firstDetails) {
      firstDetails.classList.add('detail-open');
      firstDetails.setAttribute('open', '');
    }
  }
</script>
