{%- if product.metafields.custom.info_gallery.value -%}
  {%- liquid
    assign theme_st = settings
    assign scroll_animation = theme_st.scroll_animation
    assign section_st = section.settings
    if section_st.section_width == 'fix_width'
      assign section_width = 'container'
    elsif section_st.section_width == 'full_width'
      assign section_width = 'full-width'
    else
      assign section_width = 'fluid_container'
    endif
    assign heading_size = section_st.heading_size
    assign text_alignment = section_st.text_alignment
    assign desktop_content_position = section_st.desktop_content_position
    assign content_alignment = section_st.content_alignment
    assign header_size = ''
    if heading_size == 'small'
      assign header_size = 'h3'
    elsif heading_size == 'large'
      assign header_size = 'h1'
    endif
    assign image_height = section_st.image_height
    assign heading = section_st.heading
    assign drawn_underline = section_st.drawn_underline
    assign drawn_underline_type = section_st.drawn_underline_type
    assign drawn_underline_color = section_st.drawn_underline_color
    if drawn_underline
      assign scroll_animation = 'disable'
    endif
  -%}
  {%- capture style -%}
  --section-pt: {{ section_st.padding_top }}; --section-pb: {{ section_st.padding_bottom }};
{%- endcapture -%}
  {% style %}
    .info-gallery__list {
      --transition: all 0.6s ease;
    }
    :is(.h-gallery-small, .h-gallery-medium, .h-gallery-large) {
      min-height: var(--item-height-mb);
    }
    .h-gallery-small {
      --item-height-mb: 100px;
      --item-height-mb-active: 350px;
      --item-height: 400px;
    }
    .h-gallery-medium {
      --item-height-mb: 120px;
      --item-height-mb-active: 400px;
      --item-height: 500px;
    }
    .h-gallery-large {
      --item-height-mb: 150px;
      --item-height-mb-active: 500px;
      --item-height: 600px;
    }
    .sec__content-inner {
      opacity: 0;
      position: relative;
      z-index: 5;
      white-space: nowrap;
      overflow: hidden;
      -webkit-transform: translateY(20px);
      transform: translateY(20px);
      transition: 0.4s;
      -webkit-transition: 0.4s;
    }
    .info-gallery__card.active .sec__content-inner {
      opacity: 1;
      -webkit-transform: translate(0);
      transform: translate(0);
    }
    .info-gallery__label {
      inset-inline-start: 20px;
      inset-block-start: 20px;
    }
    @media screen and (max-width: 767.98px) {
      .info-gallery__card.active :is(.h-gallery-small, .h-gallery-medium, .h-gallery-large) {
        min-height: var(--item-height-mb-active);
      }
    }
    @media screen and (min-width: 768px) {
      :is(.h-gallery-small, .h-gallery-medium, .h-gallery-large) {
        min-height: var(--item-height);
      }
      .info-gallery__card.active {
        flex: max(calc(var(--flex-gallery) - 1), 1.5);
      }
      .sec__content-inner {
        -webkit-transform: translateX(-20px) translateY(0);
        transform: translateX(-20px) translateY(0);
      }
    }
    @media screen and (min-width: 1015px) {
      .info-gallery__label {
        inset-inline-start: 40px;
        inset-block-start: 40px;
      }
    }
  {% endstyle %}
  <div
    class="section color-{{ section_st.color_scheme }} section__info-gallery-product gradient"
    style="{{ style | strip | strip_newlines }}"
  >
    <div class="{{ section_width }}">
      {%- if section_st.heading != blank or section_st.description != blank or section_st.subheading != blank -%}
        <div
          class="section-header text-{{ text_alignment }}"
        >
          {% assign animate_delay = 25 %}
          {%- if section_st.subheading != blank -%}
            {%- if scroll_animation != 'disable' -%}
              <motion-effect
                data-animate="fade-up"
                data-animate-delay="{{ animate_delay }}"
                class="block"
              >
            {%- endif -%}
            <div class="section-subheading mb-sp-2 h7 subheading_weight">
              {{ section.settings.subheading }}
            </div>
            {%- if scroll_animation != 'disable' -%}
              </motion-effect>
            {%- endif -%}
          {%- endif -%}
          {%- if section_st.heading != blank -%}
            {% assign animate_delay = animate_delay | plus: 50 %}
            {% if scroll_animation != 'disable' or drawn_underline %}
              {% assign animate_delay = animate_delay | plus: 50 %}
              <motion-effect
                data-animate="{% if scroll_animation != 'disable' %}fade-up{% else %}highlighted-text{% endif %}"
                data-animate-delay="{{ animate_delay }}"
                class="block"
              >
            {% endif %}
            <h2 class="block section-heading {{ header_size }}">
              {% if drawn_underline %}
                {%- capture squiggle_svg_1 -%}
                  <svg viewBox="0 0 184 26" fill="none"><use href="#squiggle-svg-1" /></svg>
                {%- endcapture -%}
                {%- capture squiggle_svg_2 -%}
                 <svg viewBox="0 0 186 24" fill="none"><use href="#squiggle-svg-2" /></svg>
                {%- endcapture -%}
                {%- capture squiggle_svg_3 -%}
                   <svg viewBox="0 0 186 24" fill="none"><use href="#squiggle-svg-3" /></svg>
                {%- endcapture -%}
                {%- capture squiggle_svg_4 -%}
                  <svg viewBox="-347 -25 694 80" fill="none" role="presentation" preserveAspectRatio="none"><use href="#squiggle-svg-4" /></svg>
                {%- endcapture -%}
                {%- capture squiggle_svg_5 -%}
                  <svg viewBox="0 0 220 50" fill="none"><use href="#squiggle-svg-5" /></svg>
                {%- endcapture -%}
                {%- assign result = heading -%}
                {%- assign parts = result | split: '<em>' -%}
                {%- assign em_count = parts | size | minus: 1 -%}

                {%- for i in (1..em_count) -%}
                  {%- assign idx = i | plus: 0 -%}
                  {%- assign chunk = parts[idx] | default: '' -%}
                  {%- assign text = chunk | split: '</em>' | first | strip_html | strip -%}
                  {%- assign len_text = text | size -%}
                  {%- capture open_em -%}
                  {%- liquid
                    if drawn_underline_type == 'simple_underline'
                      assign svg = squiggle_svg_4 | append: '</em>'
                    elsif drawn_underline_type == 'curve_underline'
                      assign svg = squiggle_svg_5 | append: '</em>'
                    else
                      if len_text <= 4
                        assign svg = squiggle_svg_1 | append: '</em>'
                      elsif len_text <= 6
                        assign svg = squiggle_svg_2 | append: '</em>'
                      else
                        assign svg = squiggle_svg_3 | append: '</em>'
                      endif
                    endif
                  -%}
                  <em class="highlighted-text relative inline-flex{% if drawn_underline_type == 'simple_underline' %} simple_underline{% endif %} {{ drawn_underline_type }} not-italic" style="--animate-color:{{ drawn_underline_color }}">{{ svg }}</em>
                {%- endcapture -%}
                  {%- assign open_em = open_em | remove: '</em>' -%}
                  {%- assign heading = heading | replace_first: '<em>', open_em -%}
                {%- endfor -%}
              {% endif %}
              {{- heading -}}
            </h2>
            {% if scroll_animation != 'disable' or drawn_underline %}
              </motion-effect>
            {% endif %}
          {%- endif -%}
          {%- if section_st.description != blank -%}
            {% assign animate_delay = animate_delay | plus: 50 %}
            {% if scroll_animation != 'disable' %}
              <motion-effect
                data-animate="fade-up"
                data-animate-delay="{{ animate_delay }}"
                class="block"
              >
            {% endif %}
            <div class="section-description mt-sp-4 prose">
              {{ section.settings.description }}
            </div>
            {%- if scroll_animation != 'disable' -%}
              </motion-effect>
            {%- endif -%}
          {%- endif -%}
        </div>
      {%- endif -%}
      <div class="info-gallery__wrapper">
        <ul
          class="info-gallery__list list-unstyled flex column flex-md-row gap"
          role="list"
          style="--flex-gallery: {{ product.metafields.custom.info_gallery.value.count }};--gap-desktop: 2.4rem;--gap: 0.8rem;"
        >
          {%- for info_gallery in product.metafields.custom.info_gallery.value -%}
            <li class="info-gallery__card flex-1 transition relative{% if forloop.index == 2 %} active{% endif %}">
              {%- assign image_alt = info_gallery.image.alt | default: product.title | escape -%}
              <div
                class="info-gallery__media h-gallery-{{ image_height }} rounded transition"
              >
                {% render 'responsive-image',
                  type: 'banner',
                  image: info_gallery.image,
                  image_alt: image_alt,
                  class: 'absolute inset-0 w-full h-full object-fit-cover'
                %}
                {%- if info_gallery.highlights_text -%}
                  <div
                    class="info-gallery__label whitespace-nowrap overflow-hidden max-w-custom-all absolute inline-flex align-center gap-custom px-15 bg-primary color-white btn-rounded py-6 fs-small"
                    style="--gap: 8; --max-width: 80%;"
                  >
                    <svg width="5" height="5" fill="none" class="flex-auto w-custom" style="--width: 5px;">
                      <circle cx="2.5" cy="2.5" r="2.5" fill="#fff"/>
                    </svg>
                    <span>{{ info_gallery.highlights_text }}</span>
                  </div>
                {% endif %}
              </div>
              {%- if info_gallery.subheading or info_gallery.heading or info_gallery.description -%}
                <div class="info-gallery__info absolute inset-0 flex">
                  <div class="sec__content w-full flex {{ desktop_content_position }} text-md-{{ content_alignment }} p-sp-5 p-1025-40 relative z-2">
                    {% assign animate_delay = 25 %}
                    <div class="prose max-w-100">
                      {%- if info_gallery.subheading -%}
                        <div class="sec__content-inner sec__content-subheading">
                          <motion-effect
                            data-animate="fade-up"
                            data-animate-delay="{{ animate_delay }}"
                            class="block h7 subheading_weight mb-sp-1 mb-1025-sp-2"
                          >
                            {{ info_gallery.subheading }}
                          </motion-effect>
                        </div>
                      {%- endif -%}
                      {%- if info_gallery.heading -%}
                        <div class="sec__content-inner sec__content-heading mb-sp-2 mb-1025-sp-4 {{ heading_size }}">
                          {% assign animate_delay = animate_delay | plus: 50 %}
                          <motion-effect
                            data-animate="fade-up"
                            data-animate-delay="{{ animate_delay }}"
                            class="block h2"
                          >
                            {{ info_gallery.heading }}
                          </motion-effect>
                        </div>
                      {%- endif -%}
                      {%- if info_gallery.description -%}
                        <div class="sec__content-inner sec__content-des mt-15">
                          {% assign animate_delay = animate_delay | plus: 50 %}
                          <motion-effect
                            data-animate="fade-up"
                            data-animate-delay="{{ animate_delay }}"
                            class="block"
                          >
                            {{ info_gallery.description | metafield_tag }}
                          </motion-effect>
                        </div>
                      {%- endif -%}
                    </div>
                  </div>
                </div>
              {%- endif -%}
            </li>
          {%- endfor -%}
        </ul>
      </div>
    </div>
  </div>
{%- endif -%}
{% schema %}
{
  "name": "t:sections.info-gallery-products.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.general"
    },
    {
      "type": "select",
      "id": "section_width",
      "options": [
        {
          "value": "fix_width",
          "label": "t:sections.all.layout.fix_width"
        },
        {
          "value": "stretch_width",
          "label": "t:sections.all.layout.stretch_width"
        },
        {
          "value": "full_width",
          "label": "t:sections.all.layout.full_width"
        }
      ],
      "default": "fix_width",
      "label": "t:sections.all.layout.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.info",
      "default": "default-color-scheme"
    },
    {
      "type": "header",
      "content": "t:sections.all.content_header.label"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.all.content_setting.subheading.label"
    },
    {
      "type": "richtext",
      "id": "heading",
      "label": "t:sections.all.content_setting.heading.label"
    },
    {
      "type": "checkbox",
      "id": "drawn_underline",
      "default": true,
      "label": "t:sections.all.content_setting.drawn_underline.label",
      "info": "t:sections.all.content_setting.heading.info"
    },
    {
      "type": "select",
      "id": "drawn_underline_type",
      "label": "t:sections.all.content_setting.drawn_underline.type",
      "default": "squiggle_underline",
      "visible_if": "{{ section.settings.drawn_underline != false }}",
      "options": [
        {
          "value": "simple_underline",
          "label": "t:sections.all.content_setting.drawn_underline.value.simple_underline"
        },
        {
          "value": "curve_underline",
          "label": "t:sections.all.content_setting.drawn_underline.value.curve_underline"
        },
        {
          "value": "squiggle_underline",
          "label": "t:sections.all.content_setting.drawn_underline.value.squiggle_underline"
        }
      ]
    },
    {
      "type": "color",
      "id": "drawn_underline_color",
      "label": "t:sections.all.content_setting.drawn_underline.color",
      "default": "#FFB005",
      "alpha": true,
      "visible_if": "{{ section.settings.drawn_underline != false }}"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.all.content_setting.description.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "large",
          "label": "t:sections.all.content_header.heading_size.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.all.content_header.heading_size.options__2.label"
        },
        {
          "value": "small",
          "label": "t:sections.all.content_header.heading_size.options__3.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.all.content_header.heading_size.label"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.text_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.text_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.all.text_alignment.alignment"
    },
    {
      "type": "header",
      "content": "t:sections.all.image.label"
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "small",
          "label": "t:sections.slideshow.settings.slide_height.small"
        },
        {
          "value": "medium",
          "label": "t:sections.slideshow.settings.slide_height.medium"
        },
        {
          "value": "large",
          "label": "t:sections.slideshow.settings.slide_height.large"
        }
      ],
      "default": "medium",
      "label": "t:sections.scrolling_text.settings.blocks.image.image_height.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.content_setting.label"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "default": "middle-left",
      "label": "t:sections.all.desktop_content_position.label",
      "info": "t:sections.all.desktop_content_position.info",
      "options": [
        {
          "group": "t:sections.all.desktop_content_position.group.top.label",
          "value": "top-left",
          "label": "t:sections.all.desktop_content_position.options__1.label"
        },
        {
          "group": "t:sections.all.desktop_content_position.group.top.label",
          "value": "top-center",
          "label": "t:sections.all.desktop_content_position.options__2.label"
        },
        {
          "group": "t:sections.all.desktop_content_position.group.top.label",
          "value": "top-right",
          "label": "t:sections.all.desktop_content_position.options__3.label"
        },
        {
          "group": "t:sections.all.desktop_content_position.group.middle.label",
          "value": "middle-left",
          "label": "t:sections.all.desktop_content_position.options__4.label"
        },
        {
          "group": "t:sections.all.desktop_content_position.group.middle.label",
          "value": "middle-center",
          "label": "t:sections.all.desktop_content_position.options__5.label"
        },
        {
          "group": "t:sections.all.desktop_content_position.group.middle.label",
          "value": "middle-right",
          "label": "t:sections.all.desktop_content_position.options__6.label"
        },
        {
          "group": "t:sections.all.desktop_content_position.group.bottom.label",
          "value": "bottom-left",
          "label": "t:sections.all.desktop_content_position.options__7.label"
        },
        {
          "group": "t:sections.all.desktop_content_position.group.bottom.label",
          "value": "bottom-center",
          "label": "t:sections.all.desktop_content_position.options__8.label"
        },
        {
          "group": "t:sections.all.desktop_content_position.group.bottom.label",
          "value": "bottom-right",
          "label": "t:sections.all.desktop_content_position.options__9.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "content_alignment",
      "options": [
        {
          "value": "start",
          "label": "t:sections.all.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.text_alignment.options__2.label"
        },
        {
          "value": "end",
          "label": "t:sections.all.text_alignment.options__3.label"
        }
      ],
      "default": "start",
      "label": "t:sections.all.text_alignment.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 80,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 48
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 80,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 48
    }
  ],
  "presets": [
    {
      "name": "t:sections.info-gallery-products.name",
      "category": "t:sections.group.banners"
    }
  ],
  "enabled_on": {
    "templates": ["product"]
  }
}
{% endschema %}
