{{ 'blog.css' | asset_url | stylesheet_tag }}
{% liquid
  assign theme_st = settings
  assign section_st = section.settings
  assign scroll_animation = theme_st.scroll_animation
  assign aspect_ratio = '1/1'
  case section_st.image_ratio
    when 'adapt'
      assign aspect_ratio = 'adapt'
    when 'square'
      assign aspect_ratio = '1/1'
    when 'portrait'
      assign aspect_ratio = '3/4'
    else
      assign aspect_ratio = '4/3'
  endcase

  if section_st.section_width == 'fix_width'
    assign section_width = 'container'
  elsif section_st.section_width == 'full_width'
    assign section_width = 'full-width'
  else
    assign section_width = 'fluid_container'
  endif

  assign column_gap_slide = 0
  if section_st.column_gap == 'large'
    assign column_gap_slide = 30
  elsif section_st.column_gap == 'medium'
    assign column_gap_slide = 24
  elsif section_st.column_gap == 'small'
    assign column_gap_slide = 16
  endif

  assign text_alignment = section_st.text_alignment
  assign heading_size = section_st.heading_size

  assign header_size = ''
  if heading_size == 'small'
    assign header_size = 'h3'
  elsif heading_size == 'large'
    assign header_size = 'h1'
  endif

  assign active = ''
  if blog.url contains request.path
    assign active = 'active'
  endif

  assign pagination = section_st.pagination_type
  assign scroll_animation = settings.scroll_animation
%}
{%- capture style -%}
  --section-pt: {{ section_st.padding_top }}; --section-pb: {{ section_st.padding_bottom }};
{%- endcapture -%}
{%- capture col_style -%}
  --col-number: 1;--col-tablet: 2;--col-desktop: {{ section_st.post_per_row_desktop }};
  {% if column_gap_slide < 20 %}--gap: {{ column_gap_slide }}px;{% else %}--gap: var(--sp-6);--gap-desktop: {{  column_gap_slide }}px;{% endif %};--row-gap: clamp(3rem, 5vw ,6rem);
{%- endcapture -%}

<div
  class="main-blog section section color-{{ section_st.color_scheme }} gradient{% if section_st.show_divider %} border-top{% endif %}"
  id="main-items"
  style="{{ style | strip | strip_newlines }}"
>
  <div class="{{ section_width }}">
    <div
      class="section-header mb-sp-10 text-{{ text_alignment }}"
    >
      {% assign animate_delay = 25 %}

      {% assign animate_delay = animate_delay | plus: 50 %}
      {%- if scroll_animation != 'disable' -%}
        <motion-effect
          data-animate="fade-up"
          data-animate-delay="{{ animate_delay }}"
          class="block"
        >
      {%- endif -%}
      <h2 class="section-heading mb-15 {{ header_size }}">
        {{ blog.title }}
      </h2>
      {%- if scroll_animation != 'disable' -%}
        </motion-effect>
      {%- endif -%}
    </div>
    {%- if blog.articles.size > 0 -%}
      {%- paginate blog.articles by section_st.maximum_posts_to_show -%}
        {%- if section_st.show_all_tags -%}
          <ul class="blog-tags-list w-full flex justify-content-center list-unstyled inline-flex wrap gap-sp-3 lh-1 whitespace-nowrap section-header pb-sp-5">
            <li class="post-tags flex">
              <a
                href="{{ blog.url }}"
                class="btn btn-outline heading-style capitalize border text-color inline-flex content-center blog-tag-list px-1025-40 {{ active }}"
                aria-label="{{ 'blogs.article.label_all' | t }}"
              >
                {{- 'blogs.article.label_all' | t -}}
              </a>
            </li>
            {%- for tag in blog.all_tags -%}
              <li class="post-tags flex">
                <a
                  href="{{ blog.url }}/tagged/{{ tag | handle }}"
                  class="btn btn-outline heading-style capitalize border text-color inline-flex content-center blog-tag-list{% if current_tags contains tag %} active{% endif %}"
                  aria-label="{{ 'blogs.article.tags' | t }}"
                >
                  {{- tag -}}
                </a>
              </li>
            {%- endfor -%}
          </ul>
        {%- endif -%}
        <div
          class="grid-cols gap grid"
          style="{{ col_style | strip | strip_newlines }}"
          id="section__content-items"
        >
          {%- liquid
            assign form_positions = ''
            for block in section.blocks
              assign position = block.settings.form_position
              assign form_positions = form_positions | append: position | append: ','
            endfor
          -%}
          {% assign arr = form_positions | split: ',' %}
          {%- for article in blog.articles limit: section_st.maximum_posts_to_show -%}
            {%- liquid
              assign index = forloop.index0 | plus: 1
              assign found = false
              for item in arr
                assign item_int = item | plus: 0
                if item_int == index
                  assign found = true
                  break
                endif
              endfor
            -%}
            {%- if found -%}
              {%- for block in section.blocks -%}
                <div
                  class="blog-subscribe flex column justify-center p-30{% if section_st.post_per_row_desktop < 4 %} p-1025-40{% else %} p-1025-20{% endif %} text-center rounded blog-subscribe bg-secondary"
                  id="blocks blog-subscribe-{{ block.id }}"
                  {{ block.shopify_attributes }}
                >
                  {% if block.settings.form_title != blank or block.settings.form_description != blank %}
                    <div class="mb-30">
                      {% if block.settings.show_email_icon %}
                        <svg width="46" height="45" fill="none" class="heading-style mb-sp-5">
                          <use href="#icon-email-newletter" />
                        </svg>
                      {% endif %}
                      {% if block.settings.form_title != blank %}
                        <h3 class="subscribe-title mb-sp-2">
                          {{ block.settings.form_title }}
                        </h3>
                      {% endif %}
                      {% if block.settings.form_description != blank %}
                        <div class="short-des prose">
                          {{ block.settings.form_description }}
                        </div>
                      {% endif %}
                    </div>
                  {% endif %}
                  {% form 'customer', class: 'form-validation subscribe-form' %}
                    <input type="hidden" name="contact[tags]" value="subscribe">
                    <div class="subscribe-form__field-wrapper flex flex column gap-10">
                      <div class="field relative w-full transition">
                        <div class="input-group flex column gap-sp-3 gap-1025-sp-4">
                          <div class="relative flex-1">
                            <input
                              id="subscribeForm-blog--{{ block.id }}"
                              type="email"
                              name="contact[email]"
                              class="field__input w-full"
                              value="{{ form.email }}"
                              aria-required="true"
                              autocorrect="off"
                              autocapitalize="off"
                              autocomplete="email"
                              {% if form.errors %}
                                autofocus
                                aria-invalid="true"
                                aria-describedby="subscribe-error--{{ section.id }}"
                              {% elsif form.posted_successfully? %}
                                aria-describedby="subscribe-success--{{ section.id }}"
                              {% endif %}
                              placeholder="{{ 'subscribe.label' | t }}"
                              required
                              style="--color-border: #DDDAD0;"
                            >
                            <label class="field__label" for="subscribeForm-blog--{{ block.id }}">
                              {{- 'subscribe.label' | t -}}
                            </label>
                          </div>
                          <button
                            type="submit"
                            class="subscriber-form__button btn btn-primary btn-hover w-full"
                            name="commit"
                            id="Subscribe-{{ section.id }}"
                            aria-label="{{ 'subscribe.button_label' | t }}"
                          >
                            <span class="hidden-on-load transition-short">
                              {{ block.settings.button_label }}
                            </span>
                            {%- render 'loader' -%}
                          </button>
                        </div>
                        {%- if block.settings.note != blank -%}
                          <div class="footer__block-note rich__text-m0 fs-small mt-sp-4">
                            {{ block.settings.note }}
                          </div>
                        {%- endif -%}
                      </div>
                      {%- if form.posted_successfully? -%}
                        <div
                          class="subscribe-form__message subscribe-form__message--success form__message success form__message fs-small inline-flex align-center gap-10"
                          id="ContactFooter-success"
                          tabindex="-1"
                        >
                          <svg width="18" height="18" viewBox="0 0 18 18" fill="none" class="flex-auto w-18">
                            <use href="#icon-success">
                          </svg>
                          {{- 'subscribe.success' | t }}
                        </div>
                      {%- elsif form.errors -%}
                        <small class="subscribe-form__message form__message" id="subscribe-error--{{ section.id }}">
                          <svg width="18" height="18" viewBox="0 0 18 18" fill="none" class="flex-auto w-18">
                            <use href="#icon-error"></use>
                          </svg>
                          {{- form.errors.translated_fields.email | capitalize }}
                          {{ form.errors.messages.email -}}
                        </small>
                      {%- endif -%}
                    </div>
                  {% endform %}
                </div>
              {%- endfor -%}
            {%- endif -%}
            {% render 'article-card',
              article: article,
              media_aspect_ratio: aspect_ratio,
              show_image: true,
              show_date: section_st.show_date,
              show_author: section_st.show_author,
              show_excerpt: section_st.show_excerpt,
              show_cate: section_st.show_category,
              show_tags: section_st.show_tags,
              customClass: scroll_animation,
              indexFor: forloop.index,
              isPageBlog: true,
              content_alignment: section_st.content_alignment
            %}
          {%- endfor -%}
        </div>
        {%- if paginate.pages > 1 -%}
          {%- render 'pagination',
            paginate: paginate,
            section_st: section_st,
            anchor: '',
            number_page: section_st.maximum_posts_to_show,
            pagination: pagination
          -%}
        {%- endif -%}
      {%- endpaginate -%}
    {%- else -%}
      <p>{{ 'blogs.article.empty' | t }}</p>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-blog.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-blog.how_to_use"
    },
    {
      "type": "header",
      "content": "t:sections.all.general"
    },
    {
      "type": "select",
      "id": "section_width",
      "options": [
        {
          "value": "fix_width",
          "label": "t:sections.all.layout.fix_width"
        },
        {
          "value": "stretch_width",
          "label": "t:sections.all.layout.stretch_width"
        },
        {
          "value": "full_width",
          "label": "t:sections.all.layout.full_width"
        }
      ],
      "default": "fix_width",
      "label": "t:sections.all.layout.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.info",
      "default": "default-color-scheme"
    },
    {
      "type": "checkbox",
      "id": "show_all_tags",
      "label": "t:sections.main-blog.settings.show_all_tags.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.all.content_header.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "large",
          "label": "t:sections.all.content_header.heading_size.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.all.content_header.heading_size.options__2.label"
        },
        {
          "value": "small",
          "label": "t:sections.all.content_header.heading_size.options__3.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.all.content_header.heading_size.label"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "options": [
        {
          "value": "start",
          "label": "t:sections.all.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.text_alignment.options__2.label"
        },
        {
          "value": "end",
          "label": "t:sections.all.text_alignment.options__3.label"
        }
      ],
      "default": "start",
      "label": "t:sections.all.text_alignment.alignment"
    },
    {
      "type": "header",
      "content": "t:sections.main-blog.settings.header.content_post"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.all.image.aspect_ratio.adapt"
        },
        {
          "value": "square",
          "label": "t:sections.all.image.aspect_ratio.options__1"
        },
        {
          "value": "portrait",
          "label": "t:sections.all.image.aspect_ratio.options__2"
        },
        {
          "value": "landscape",
          "label": "t:sections.all.image.aspect_ratio.options__3"
        }
      ],
      "default": "adapt",
      "label": "t:sections.all.image.aspect_ratio.label"
    },
    {
      "type": "range",
      "id": "maximum_posts_to_show",
      "min": 4,
      "max": 24,
      "step": 1,
      "default": 16,
      "label": "t:sections.main-blog.settings.maximum_posts_to_show.label"
    },
    {
      "type": "range",
      "id": "post_per_row_desktop",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3,
      "label": "t:sections.main-blog.settings.post_per_row_desktop.label"
    },
    {
      "type": "select",
      "id": "column_gap",
      "options": [
        {
          "value": "no_gap",
          "label": "t:sections.all.padding.column_gap.no_gap"
        },
        {
          "value": "small",
          "label": "t:sections.all.padding.column_gap.small"
        },
        {
          "value": "medium",
          "label": "t:sections.all.padding.column_gap.medium"
        },
        {
          "value": "large",
          "label": "t:sections.all.padding.column_gap.large"
        }
      ],
      "default": "medium",
      "label": "t:sections.all.padding.column_gap.label"
    },
    {
      "type": "select",
      "id": "pagination_type",
      "options": [
        {
          "value": "default",
          "label": "t:sections.all.pagination_type.options__1.label"
        },
        {
          "value": "button",
          "label": "t:sections.all.pagination_type.options__2.label"
        },
        {
          "value": "infinity",
          "label": "t:sections.all.pagination_type.options__3.label"
        }
      ],
      "default": "default",
      "label": "t:sections.all.pagination_type.label"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "options": [
        {
          "value": "start",
          "label": "t:sections.all.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.text_alignment.options__2.label"
        },
        {
          "value": "end",
          "label": "t:sections.all.text_alignment.options__3.label"
        }
      ],
      "default": "start",
      "label": "t:sections.all.text_alignment.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": true,
      "label": "t:sections.all.blog_setting.show_author"
    },
    {
      "type": "checkbox",
      "id": "show_category",
      "default": true,
      "label": "t:sections.all.blog_setting.show_category"
    },
    {
      "type": "checkbox",
      "id": "show_tags",
      "default": false,
      "label": "t:sections.all.blog_setting.show_tags"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.all.blog_setting.show_date"
    },
    {
      "type": "checkbox",
      "id": "show_excerpt",
      "default": true,
      "label": "t:sections.all.blog_setting.show_excerpt"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 48
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 48
    },
    {
      "type": "header",
      "content": "t:sections.all.divider.section_divider_heading"
    },
    {
      "type": "checkbox",
      "id": "show_divider",
      "label": "t:sections.all.divider.show_divider",
      "default": false
    }
  ],
  "max_blocks": 1,
  "blocks": [
    {
      "type": "subcribe_form",
      "name": "t:sections.main-blog.blocks.name",
      "settings": [
        {
          "type": "range",
          "id": "form_position",
          "min": 1,
          "max": 24,
          "step": 1,
          "default": 6,
          "label": "t:sections.main-blog.blocks.settings.form_position"
        },
        {
          "type": "checkbox",
          "id": "show_email_icon",
          "default": true,
          "label": "t:sections.main-blog.blocks.settings.show_email_icon"
        },
        {
          "type": "text",
          "id": "form_title",
          "label": "t:sections.all.content_setting.heading.label",
          "default": "Newsletter"
        },
        {
          "type": "richtext",
          "id": "form_description",
          "label": "t:sections.all.content_setting.description.label",
          "default": "<p>Add a short description for this block.</p>"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "t:sections.all.content_setting.button_label.label",
          "default": "Button label"
        },
        {
          "type": "richtext",
          "id": "note",
          "label": "t:sections.footer.blocks.newsletter_block.settings.note.label"
        }
      ]
    }
  ]
}
{% endschema %}
