{{ 'password.css' | asset_url | stylesheet_tag }}
{{ 'page-password.css' | asset_url | stylesheet_tag }}
<style type="text/css">
  .password-logo {
    max-width: {{ settings.desktop_logo_width }}px;
  }
</style>
{% liquid
  assign st = section.settings
  assign banner_img = st.banner_img
  assign banner_position = st.banner_position
  assign text_horizontal_position = st.text_horizontal_position
  assign content_width = st.content_width

  if banner_img != blank
    assign show_banner = ' show-banner'
  endif
  assign banner_position_class = ''
  if banner_position == 'position-right'
    assign banner_position_class = ' flex-row-reverse'
    if text_horizontal_position == 'left'
      assign text_horizontal_position = 'right'
    elsif text_horizontal_position == 'right'
      assign text_horizontal_position = 'left'
    endif
  endif
%}

<div class="bls-main-password {{ banner_position_class }}   {% if   banner_img != blank  %} justify-content-{{ text_horizontal_position }} {%  else %} justify-content-center {% endif %} ">
  {% if banner_img != blank %}
    <div class="image_banner">
      <div class="bls__password-banner relative d-none block-xl">
        {%- assign image_alt = banner_img.alt | default: 'banner_image' -%}
        <img
          loading="lazy"
          src="{{ banner_img | image_url }}"
          alt="{{ image_alt }}"
          width="{{ banner_img.width }}"
          height="{{ banner_img.height }}"
        >
      </div>
    </div>
  {% endif %}
  <div class="main-content section-full">
    <div class="wrapper flex justify-between flex-column">
      <div class="color-{{ section.settings.color_scheme }} gradient">
        <div class="password-header">
          <div class="password-logo-layout">
            {%- if settings.logo != blank -%}
              {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
              {%- assign logo_height = settings.desktop_logo_width | divided_by: settings.logo.aspect_ratio -%}
              {{
                settings.logo
                | image_url: width: 500
                | image_tag:
                  class: 'password-logo',
                  widths: '50, 100, 150, 200, 250, 300, 400, 500',
                  width: settings.logo_width,
                  height: logo_height,
                  alt: logo_alt
              }}
            {%- else -%}
              <h1 class="h2">{{ shop.name }}</h1>
            {% endif %}
            <svg xmlns="http://www.w3.org/2000/svg" width="1" height="20" viewBox="0 0 1 20" fill="none">
              <rect width="1" height="20" fill="#111111"/>
            </svg>
            <p>{{ 'general.password_page.coming_soon' | t }}</p>
          </div>

          <password-modal>
            <div class="password-modal modal" style="--popup-max-width: 58rem;">
              <div class="modal__toggle" aria-haspopup="dialog">
                <div class="modal__toggle-open password-link link underlined-link">
                  {% render 'icon-padlock' %}
                  <h2 class="password-modal__content-heading" id="DialogHeading">
                    {{ 'general.password_page.login_password_button' | t }}
                  </h2>
                </div>
              </div>
              <div
                class="modal__content"
                role="dialog"
                aria-labelledby="DialogHeading"
                aria-modal="true"
              >
                <div
                  class="password-modal__content"
                  tabindex="-1"
                  data-title="{{ 'general.password_page.login_form_heading' | t }}"
                >
                  <h2 class="password-modal-title">{{ 'general.password_page.login_form_heading' | t }}</h2>
                  {%- form 'storefront_password', class: 'password-form' -%}
                    <div class="password-field field{% if form.errors %} password-field--error{% endif %}">
                      <input
                        type="password"
                        name="password"
                        id="Password"
                        class="field__input field__input-pass"
                        autocomplete="current-password"
                        {% if form.errors %}
                          aria-invalid="true"
                          aria-describedby="PasswordLoginForm-password-error"
                        {% endif %}
                        placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
                      >

                      {%- if form.errors -%}
                        <div id="PasswordLoginForm-password-error" role="status">
                          <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                          <span class="form__message">
                            {%- render 'icon-error' %}
                            {{ 'general.password_page.login_form_error' | t -}}
                          </span>
                        </div>
                      {% endif %}
                    </div>
                    <button name="commit" class="password-button btn btn-primary">
                      {{ 'general.password_page.login_form_submit' | t }}
                    </button>
                  {%- endform -%}
                  <small class="password__footer-text">{{ 'general.password_page.admin_link_html' | t }}</small>
                </div>
              </div>
            </div>
          </password-modal>
        </div>
        {%- if shop.password_message != blank -%}
          <div class="password-content mb-10">
            {{ shop.password_message }}
          </div>
        {% endif %}
      </div>

      <div
        class="row flex-nowrap {{ banner_position_class }} bls__banner-text--grid"
      >
        <div class="bls__banner-text--content {{ show_banner }} text-{{ st.text_align }}">
          <div
            class="bls__password-with-banner bls__banner-text--content-inner content-horizontal-{{ text_horizontal_position }}"
            style="--content-width:{{ content_width }}%"
          >
            {% content_for 'blocks' %}
          </div>
        </div>
      </div>
      <div></div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-password-content.name",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-password-content.settings.header__1.content",
      "info": "t:sections.main-password-content.settings.header__1.info"
    },
    {
      "type": "image_picker",
      "id": "banner_img",
      "label": "t:sections.main-password-content.settings.banner_img.label"
    },
    {
      "type": "select",
      "id": "banner_position",
      "label": "t:sections.main-password-content.settings.banner_position.label",
      "default": "position-right",
      "options": [
        {
          "value": "position-left",
          "label": "t:sections.main-password-content.settings.banner_position.options__1.label"
        },
        {
          "value": "position-right",
          "label": "t:sections.main-password-content.settings.banner_position.options__2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.main-password-content.settings.header__2.content"
    },
    {
      "type": "select",
      "id": "text_horizontal_position",
      "label": "t:sections.main-password-content.settings.text_horizontal_position.label",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "t:sections.main-password-content.settings.text_horizontal_position.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.main-password-content.settings.text_horizontal_position.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.main-password-content.settings.text_horizontal_position.options__3.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "t:sections.all.section_header.alignment.label",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.content_settings.content_alignment.left.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.content_settings.content_alignment.center.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.content_settings.content_alignment.right.label"
        }
      ]
    },
    {
      "type": "range",
      "id": "content_width",
      "label": "t:sections.main-password-content.settings.content_width.label",
      "min": 30,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100
    }
  ],
  "blocks": [
    {
      "type": "heading"
    },
    {
      "type": "subheading"
    },
    {
      "type": "description"
    },
    {
      "type": "timer"
    },
    {
      "type": "form-subscribe"
    }
  ]
}
{% endschema %}
