{{ 'page-password.css' | asset_url | stylesheet_tag }}
<script type="module" src="{{ 'password-modal.js' | asset_url }}" defer="defer"></script>

{% liquid
  assign section_st = section.settings
  assign banner_img = section_st.banner_img
  assign banner_position = section_st.banner_position
  assign content_width = section_st.content_width

  assign theme_st = settings
  assign logo_img = theme_st.logo
  assign logo_transparent = theme_st.logo_on_transparent

  if banner_img != blank
    assign show_banner = 'show-banner'
  endif
  assign banner_position_class = ''
  if banner_position == 'position-right'
    assign banner_position_class = ' row-reverse'
  endif
%}

<div
  class="main-password flex {{ banner_position_class }} p-30 justify-center"
  style="--image-aspect-ratio: {{ banner_img.aspect_ratio }}"
>
  {% if banner_img != blank %}
    <div class="image_banner">
      <div class="bls__password-banner relative" style="--aspect-ratio: {{ banner_img.aspect_ratio }}">
        {%- assign image_alt = banner_img.alt | default: 'accessibility.promotion_banner' | t -%}
        {% render 'responsive-image',
          type: 'other',
          image: banner_img,
          image_alt: image_alt,
          class: 'w-full',
          animate: 'none',
          motion: true
        %}
      </div>
    </div>
  {% endif %}
  <div class="main-content section-full flex content-center">
    <div class="max-w-custom" style="--max-width:{{ content_width }}%">
      <div class="color-{{ section.settings.color_scheme }} gradient">
        <div class="password-header flex justify-content-{{ section_st.text_align }}">
          <newsletter-popup-password
            class="flex gap-20{% if logo_img == blank and logo_transparent == blank %} align-center{% endif %} password-header_logo"
            data-required="{{ 'customer.validate.password' | t }}"
            data-minlength="{{ 'customer.validate.min_password' | t }}"
          >
            <div class="password-logo">
              {%- render 'logo', section_st: section_st -%}
            </div>
            <div class="modal__toggle" aria-haspopup="dialog">
              <div class="modal__toggle-open password-link link underlined-link text-center justify-center text-size">
                {% render 'icon-padlock' %}
                <div class="password-modal__content-heading heading-color" id="DialogHeading">
                  {{ 'general.password_page.login_password_button' | t }}
                </div>
              </div>
            </div>

            <template>
              <div class="newsletter-popup">
                <newsletter-modal-popup
                  class="modal modal_type_popup active-modal-js modal-newsletter-popup fixed inset-0 z-31 flex align-center invisible"
                >
                  <modal-overlay class="modal-overlay invisible transition-drawer cursor-crosshair"></modal-overlay>
                  <div
                    class="modal-popup-inner invisible modal-focus modal-body modal-draggable transition rounded max-w-custom m-auto w-full bg-white z-15"
                    style="--max-width: 50rem;"
                    tabindex="-1"
                  >
                    <button
                      is="button-close-model"
                      class="modal__close hidden flex-1025 modal-button-close rounded-50 pointer btn-reset wh-58 content-center absolute z-3 top-12 right-12"
                      aria-label="Close"
                    >
                      <svg
                        width="12"
                        height="12"
                        viewBox="0 0 14 14"
                        fill="none"
                        class="transition-short will-change icon-zoom"
                      >
                        <use href="#icon-close"></use>
                      </svg>
                    </button>
                    <div class="drawer__body drawer__body-item h-full">
                      <div
                        class="flex gap"
                      >
                        <draggable-modal
                          class="password-modal__content draggable-modal visible-drag-md drawer-spacing w-full newsletter_content-inner password-page flex column gap-10 gap-md-20 max-h-100 align-self-center overflow-hidden"
                        >
                          <h2 class="password-modal-title text-center fs-20">
                            {{ 'general.password_page.login_form_heading' | t }}
                          </h2>
                          <button
                            is="button-close-model"
                            class="modal__close pointer modal-button-close rounded-50 btn-reset flex hidden-1025 content-center absolute z-3 top-14 right-20"
                            aria-label="Close"
                          >
                            <svg
                              width="12"
                              height="12"
                              viewBox="0 0 14 14"
                              fill="none"
                              class="transition-short will-change icon-zoom"
                            >
                              <use href="#icon-close"></use>
                            </svg>
                          </button>
                          {%- form 'storefront_password', class: 'password-form-popup' -%}
                            <div class="field relative password-field{% if form.errors %} password-field--error flex column gap-10{% endif %}">
                              <input
                                type="password"
                                name="password"
                                id="Password--storefront"
                                required
                                class="field__input field__input-pass no-js-validation"
                                autocomplete="current-password"
                                {% if form.errors %}
                                  aria-invalid="true"
                                  aria-describedby="PasswordLoginForm-password-error"
                                {% endif %}
                                placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
                              >
                              <label for="Password--storefront" class="field__label">
                                {{ 'customer.login_page.password' | t }} *
                              </label>
                              {%- if form.errors -%}
                                <div
                                  id="PasswordLoginForm-password-error error fs-small inline-flex align-start w-full column"
                                  role="status"
                                >
                                  <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                                  <div class="error fs-small inline-flex align-start w-full mt-sp-1">
                                    <svg
                                      width="18"
                                      height="18"
                                      viewBox="0 0 18 18"
                                      fill="none"
                                      class="flex-auto w-18"
                                    >
                                      <use href="#icon-error"></use>
                                    </svg>
                                    {{ 'general.password_page.login_form_error' | t }}
                                  </div>
                                </div>
                              {% endif %}
                            </div>
                            <button
                              class="password-button mt-sp-3 w-full btn btn-primary"
                              aria-label="{{ 'general.password_page.login_form_submit' | t }}"
                            >
                              <span class="hidden-on-load transition-short">
                                {{- 'general.password_page.login_form_submit' | t -}}
                              </span>
                              {%- render 'loader' -%}
                            </button>
                          {%- endform -%}

                          <div class="password__footer-text text-center prose">
                            {{ 'general.password_page.admin_link_html' | t }}
                          </div>
                        </draggable-modal>
                      </div>
                    </div>
                  </div>
                </newsletter-modal-popup>
              </div>
            </template>
          </newsletter-popup-password>
        </div>
        {%- if shop.password_message != blank -%}
          <div class="password-content">
            {{ shop.password_message }}
          </div>
        {% endif %}
      </div>

      <div
        class="row {{ banner_position_class }} banner-text--grid"
      >
        <div class="banner-text--content {{ show_banner }} text-{{ section_st.text_align }}">
          <div
            class="password-with-banner banner-text--content-inner"
          >
            {% content_for 'blocks' %}
          </div>
        </div>
      </div>
      <div></div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-password-content.name",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "banner_img",
      "label": "t:sections.all.image.label"
    },
    {
      "type": "select",
      "id": "banner_position",
      "label": "t:sections.main-collection-banner.settings.image_position.label",
      "default": "position-right",
      "options": [
        {
          "value": "position-left",
          "label": "t:sections.main-collection-banner.settings.image_position.option__1"
        },
        {
          "value": "position-right",
          "label": "t:sections.main-collection-banner.settings.image_position.option__2"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.main-password-content.settings.header__2.content"
    },
    {
      "type": "select",
      "id": "text_align",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.text_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.text_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.all.text_alignment.alignment"
    },
    {
      "type": "range",
      "id": "content_width",
      "label": "t:sections.main-password-content.settings.content_width.label",
      "min": 30,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },

    {
      "type": "subheading"
    },
    {
      "type": "heading"
    },
    {
      "type": "description"
    },
    {
      "type": "_countdown_timer"
    },
    {
      "type": "form-subscribe"
    }
  ]
}
{% endschema %}
