{%- liquid
  assign section_st = section.settings
-%}
<div class="color-{{ section_st.color_scheme }} gradient">
  <div class="password-header">
    {%- if settings.logo != blank -%}
      {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
      {{
        settings.logo
        | image_url: width: 500
        | image_tag:
          class: 'password-logo',
          widths: '50, 100, 150, 200, 250, 300, 400, 500',
          width: settings.logo_width,
          alt: logo_alt
      }}
    {%- else -%}
      <h1>{{ shop.name }}</h1>
    {%- endif -%}

    {%- if shop.password_message != blank -%}
      <div class="password-content">
        {{ shop.password_message }}
      </div>
    {%- endif -%}

    <password-modal>
      <details class="password-modal modal">
        <summary class="modal__toggle" aria-haspopup="dialog">
          <div class="modal__toggle-open password-link">
            <svg width="16" height="21" viewBox="0 0 16 21" fill="none">
              <use href="#icon-padlock"></use>
            </svg>
            {{ 'general.password_page.login_password_button' | t }}
          </div>
          <div class="modal__toggle-close" aria-hidden="true">
            <svg width="13" height="14" viewBox="0 0 13 14" fill="none">
              <use href="#icon-close"></use>
            </svg>
          </div>
        </summary>
        <div
          class="modal__content"
          role="dialog"
          aria-labelledby="DialogHeading"
          aria-modal="true"
        >
          <div class="password-modal__content" tabindex="-1">
            <button
              type="button"
              class="button modal__close-button"
              aria-label="{{ 'accessibility.close' | t }}"
            >
              <svg width="13" height="14" viewBox="0 0 13 14" fill="none">
                <use href="#icon-close"></use>
              </svg>
            </button>
            <h2 class="heading-letter-spacing password-modal__content-heading" id="DialogHeading">
              {{ 'general.password_page.login_form_heading' | t }}
            </h2>
            {%- form 'storefront_password', class: 'password-form' -%}
              <div class="password-field relative w-full flex flex-wrap transition field relative w-full flex wrap{% if form.errors %} password-field--error{% endif %}">
                <input
                  type="password"
                  name="password"
                  id="storefront_password--header"
                  class="field__input w-full"
                  autocomplete="current-password"
                  {% if form.errors %}
                    aria-invalid="true"
                    aria-describedby="PasswordLoginForm-password-error"
                  {%- endif -%}
                  placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
                >
                <label class="field__label" for="storefront_password--header">
                  {{- 'general.password_page.login_form_password_placeholder' | t -}}
                </label>
              </div>
              <button name="commit" class="password-button">
                {{ 'general.password_page.login_form_submit' | t }}
              </button>
              {%- if form.errors -%}
                <div id="PasswordLoginForm-password-error" role="status">
                  <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                  <span class="form__message error">
                    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" class="flex-auto w-20">
                      <use href="#icon-error"></use>
                    </svg>
                    {{ 'general.password_page.login_form_error' | t -}}
                  </span>
                </div>
              {%- endif -%}
            {%- endform -%}
            <small class="password__footer-text">{{ 'general.password_page.admin_link_html' | t }}</small>
          </div>
        </div>
      </details>
    </password-modal>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-password-header.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.general"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-password-header.settings.logo_help.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.info",
      "default": "default-color-scheme"
    }
  ]
}
{% endschema %}
