{{ 'customer.css' | asset_url | stylesheet_tag }}
{%- liquid
  assign section_st = section.settings
-%}
{%- capture style -%}
  --section-pt: {{ section_st.padding_top }}; --section-pb: {{ section_st.padding_bottom }};
{%- endcapture -%}

<div
  class="customer reset-password section stretch_width flex column content-center w-full max-w-custom-all mx-auto"
  style="{{ style | strip | strip_newlines }}--max-width: 56rem;--bs-gutter-x: 3rem;"
>
  <div class="w-full">
    <h1 class="heading-title text-center mb-sp-4">
      {{ 'customer.reset_password.title' | t }}
    </h1>
    <p class="text-center mb-60">
      {{ 'customer.reset_password.subtext' | t }}
    </p>
    {%- form 'reset_customer_password' -%}
      {%- if form.errors -%}
        <div class="form__message error fs-small inline-flex align-start mb-sp-5 w-full column" tabindex="-1" autofocus>
          <div class="inline-flex align-center gap-10">
            <span class="visually-hidden">{{ 'accessibility.error' | t }} </span>
            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" class="flex-auto w-18">
              <use href="#icon-error"></use>
            </svg>
            {{ 'templates.contact.form.error_heading' | t }}
          </div>
          <div>
            {%- for field in form.errors -%}
              <ul class="list-unstyled">
                <li>
                  {%- if field == 'form' -%}
                    {{ form.errors.messages[field] }}
                  {%- else -%}
                    <a href="#RegisterForm-{{ field }}" class="color-inherit">
                      {{ form.errors.translated_fields[field] | capitalize }}
                      {{ form.errors.messages[field] }}
                    </a>
                  {%- endif -%}
                </li>
              </ul>
            {%- endfor -%}
          </div>
        </div>
      {%- endif -%}
      <div class="field form-group relative w-full flex wrap transition">
        <label for="password" class="mb-5" class="field__label">
          {{ 'customer.reset_password.password' | t }}
        </label>
        <input
          type="password"
          name="customer[password]"
          id="password"
          autocomplete="new-password"
          {% if form.errors contains 'password' %}
            aria-invalid="true"
            aria-describedby="password-error"
          {% endif %}
          placeholder="{{ 'customer.reset_password.password' | t }}"
          class="field__input"
        >
        {%- if form.errors contains 'password' -%}
          <div id="password-error" class="form__message error w-full flex align-center gap-10 mt-10">
            <div class="flex content-center">
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" class="flex-auto w-18">
                <use href="#icon-error"></use>
              </svg>
            </div>
            {{ form.errors.translated_fields.password | capitalize }}
            {{ form.errors.messages.password }}
          </div>
        {%- endif -%}
      </div>

      <div class="field form-group relative w-full flex wrap transition">
        <label for="password_confirmation" class="mt-sp-5 mb-5">
          {{ 'customer.reset_password.password_confirm' | t }}
        </label>
        <input
          type="password"
          name="customer[password_confirmation]"
          id="password_confirmation"
          autocomplete="new-password"
          {% if form.errors contains 'password_confirmation' %}
            aria-invalid="true"
            aria-describedby="password_confirmation-error"
          {% endif %}
          placeholder="{{ 'customer.reset_password.password_confirm' | t }}"
          class="w-full fs-small-1 text-color"
        >
        {%- if form.errors contains 'password_confirmation' -%}
          <div
            id="password_confirmation-error"
            class="error form__message fs-small inline-flex align-center gap-10 mt-10 w-full h-custom"
            style="--height: 5.6rem;"
          >
            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" class="flex-auto w-18">
              <use href="#icon-error"></use>
            </svg>
            {{ form.errors.translated_fields.password_confirmation | capitalize }}
            {{ form.errors.messages.password_confirmation }}
          </div>
        {%- endif -%}
      </div>

      <button class="btn btn-primary w-full relative word-wrap relative mt-30">
        {{ 'customer.reset_password.submit' | t }}
      </button>
    {%- endform -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-reset-password.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 48
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 48
    }
  ]
}
{% endschema %}
