{%- liquid
  assign theme_st = settings
  assign section_st = section.settings
  if section_st.section_width == 'fix_width'
    assign section_width = 'container'
  elsif section_st.section_width == 'full_width'
    assign section_width = 'full-width'
  else
    assign section_width = 'fluid_container'
  endif
  assign product_enable_color_swatches = theme_st.product_enable_color_swatches
  assign color_swatch_trigger = theme_st.color_swatch_trigger
  if color_swatch_trigger != blank and product_enable_color_swatches != false
    assign option_name = color_swatch_trigger | split: ','
  else
    assign option_name = 'Color'
  endif
  assign color_swatch_custom = theme_st.color_swatch_custom
  assign color_swatch_shape = theme_st.color_swatch_shape
  assign scroll_animation = theme_st.scroll_animation
  assign items_per_row = section_st.items_per_row
  assign pagination_type = section_st.pagination_type
  assign filter_layout = section_st.filter_layout
  assign products_to_show = section_st.products_to_show
  assign enable_sorting = section_st.enable_sorting
  assign show_product_counts = section_st.show_product_counts
  assign enable_filtering = section_st.enable_filtering
  assign product_image_ratio = theme_st.product_image_ratio
  assign show_promotion = false
  assign show_step = false
  for block in section.blocks
    case block.type
      when 'promotion'
        assign products_to_show = products_to_show | minus: 1
        assign show_promotion = true
      when 'steps'
        assign show_step = true
    endcase
  endfor
  assign all_product = collection.products_count
  if all_product <= products_to_show
    assign products_to_show = all_product
  endif
  if all_product == 0 and collection.filters.size == 0
    assign enable_filtering = false
  endif
  assign sort_by = collection.sort_by | default: collection.default_sort_by
  if collection.url
    assign results_url = collection.url
    if collection.sort_by
      assign results_url = collection.url | append: '?sort_by=' | append: collection.sort_by
    endif
  endif
  assign items_per_row_tablet = items_per_row
  if items_per_row > 3
    assign items_per_row_tablet = items_per_row | minus: 1
  endif
  assign column_gap_slide = 0
  assign column_gap_mb = 0
  if section_st.column_gap == 'large'
    assign column_gap_slide = 32
    assign column_gap_mb = 24
  elsif section_st.column_gap == 'medium'
    assign column_gap_slide = 24
    assign column_gap_mb = 16
  elsif section_st.column_gap == 'small'
    assign column_gap_slide = 16
    assign column_gap_mb = 8
  endif
  assign index_promotion = 1
  assign total_active_values = 0
  for filter in collection.filters
    assign total_active_values = total_active_values | plus: filter.active_values.size
    if filter.type == 'price_range'
      if filter.min_value.value != null or filter.max_value.value != null
        assign total_active_values = total_active_values | plus: 1
      endif
    endif
  endfor

  assign ratio = '3/5'
  if product_image_ratio != 'adapt'
    case product_image_ratio
      when 'square'
        assign ratio = '1/1'
      when 'landscape'
        assign ratio = '4/3'
      when 'portrait'
        assign ratio = '3/4'
    endcase
  endif
-%}
{%- capture style -%}
  --section-pt: {{ section_st.padding_top }}; --section-pb: {{ section_st.padding_bottom }};
{%- endcapture -%}
{%- capture col_style -%}
  --col-desktop: {{ items_per_row }};--col-number:2;--col-tablet: {{ items_per_row_tablet }};--gap-desktop: {{ column_gap_slide }}px;--gap: {{ column_gap_mb }}px;
{%- endcapture -%}
<div
  id="Collection-{{ section.id }}"
  class="section-main-collection section"
  style="{{ style | strip | strip_newlines }}"
>
  <div
    id="ProductsGridContainer"
    class="{{ section_width }} filter-layout {{ filter_layout }}-filter{% if enable_filtering and filter_layout == 'vertical' %} flex gap{% endif %}"
    {% if enable_filtering and filter_layout == 'vertical' %}
      style="--col-width: 30rem;--gap-desktop: 6rem;--gap: 3rem;"
    {% endif %}
  >
    {%- paginate collection.products by products_to_show -%}
      {%- if enable_filtering and filter_layout == 'vertical' -%}
        <div id="CollectionSidebar" class="collection__sidebar col-1025-w-custom hidden block-1025 mt-10">
          <div class="sticky-md top-30">
            {% render 'facets',
              results: collection,
              filter_layout: 'vertical',
              paginate: paginate,
              results_url: results_url,
              total_active_values: total_active_values,
              products_count: collection.products_count
            %}
          </div>
        </div>
      {%- endif -%}
      <div
        id="CollectionResultsGird"
        class="collection__results-gird w-full{% if enable_filtering and filter_layout == 'vertical' %} col-1025-remaining{% endif %}"
      >
        <div class="sticky-md top-30">
          {%- if show_step -%}
            <div class="collection-steps pb-sp-4 pb-1025-45 overflow-hidden-mb">
              {% if scroll_animation != 'disable' %}
                <motion-items-effect>
              {% endif %}
              <div class="free-scroll">
                <slide-section
                  class="swiper overflow-visible-mb"
                  data-section-id="{{ section.id }}"
                  data-autoplay="false"
                  data-effect="slide"
                  data-loop="false"
                  data-speed="300"
                  data-spacing="{{ column_gap_slide }}"
                  data-mobile="1.3"
                  data-desktop="3"
                  data-tablet="2"
                  data-arrow-center="true"
                >
                  <div class="swiper-wrapper">
                    {%- for block in section.blocks -%}
                      {%- liquid
                        assign block_st = block.settings
                        assign image = block_st.image
                        assign heading = block_st.heading
                        assign description = block_st.description
                        assign button_label = block_st.button_label
                        assign button_link = block_st.button_link
                      -%}
                      {%- if block.type == 'steps' -%}
                        <div class="swiper-slide motion-item hover-afterload" {{ block.shopify_attributes }}>
                          <div class="product__promotion-banner hover-effect">
                            <a
                              {% if button_link == blank %}
                                role="link" aria-disabled="true"
                              {% else %}
                                href="{{ button_link | default: "#" }}"
                              {% endif %}
                              aria-label="{{ button_label }}"
                              class="block banner__media rounded"
                              style="--aspect-ratio: {% if image != blank %}{{ image.aspect_ratio }}{%- else -%}4/3{%- endif -%}"
                            >
                              {%- liquid
                                assign banner_alt = 'sections.collection_template.promotion_banner' | t
                                assign banner_alt = heading | default: banner_alt
                                assign banner_alt = image.alt | default: banner_alt
                              -%}
                              {%- if image -%}
                                {% render 'responsive-image',
                                  type: 'product',
                                  image: image,
                                  image_alt: banner_alt,
                                  container: section_width,
                                  column: items_per_row,
                                  column_mobile: 2,
                                  padding: column_gap_slide,
                                  motion: false,
                                  class: 'center_swiper-arrow'
                                %}
                              {%- else -%}
                                {% render 'placeholder-render', type: 'product', motion: false %}
                              {%- endif -%}
                            </a>
                            {%- if heading != blank or description != blank -%}
                              <div class="promotion-information mb-sp-4 mt-sp-5" {{ block.shopify_attributes }}>
                                {%- if heading != blank -%}
                                  <div class="heading h7">{{ heading }}</div>
                                {%- endif -%}
                                {%- if description != blank -%}
                                  <div class="description heading-color">{{ description }}</div>
                                {%- endif -%}
                                {%- if button_label != blank -%}
                                  <a
                                    {% if button_link == blank %}
                                      role="link" aria-disabled="true"
                                    {% else %}
                                      href="{{ button_link | default: "#" }}"
                                    {% endif %}
                                    aria-label="{{ button_label }}"
                                    class="btn-link border-animation inline-block mt-10 pointer"
                                    style="--btn-link-color: var(--color-heading);"
                                  >
                                    {{ button_label }}
                                  </a>
                                {%- endif -%}
                              </div>
                            {%- endif -%}
                          </div>
                        </div>
                      {%- endif -%}
                    {%- endfor -%}
                  </div>
                  <div class="swiper-pagination"></div>
                </slide-section>
              </div>
              {% if scroll_animation != 'disable' %}
                </motion-items-effect>
              {% endif %}
            </div>
          {%- endif -%}
          <sticky-toolbar
            class="facets-toolbar hidden flex align-center gap space-between mb-sp-2"
            style="--gap-desktop: 50px; --gap: 15px;"
          >
            {%- if enable_filtering -%}
              <div class="facet-drawer flex grow-1{% if enable_filtering and filter_layout == 'drawer' %}{% else %} inline-flex hidden-1025{% endif %} py-sp-4">
                <button
                  id="FacetsDrawer"
                  class="button heading color btn-reset inline-flex gap-5 align-center body_weight pointer text-size"
                  aria-label="{{ 'products.facets.filter' | t }}"
                >
                  <svg width="22" height="22" fill="none">
                    <path stroke="currentColor" stroke-linecap="round" stroke-width="1.8" d="M2.75 6.417h16.5M5.5 11h11M9.164 15.583h3.667"/>
                  </svg>
                  <span class="hidden block-1025">{{ 'products.facets.filter' | t }}</span>
                  <span class="block hidden-1025">{{ 'products.facets.filter_and_sort' | t }}</span>
                </button>
                <facet-drawer
                  id="{{ section.id }}"
                  data-layout="{{ filter_layout }}"
                  class="modal invisible transition-drawer fixed inset-0 z-15 pointer-none active-modal-js content-hidden"
                  style="--drawer-width: 45rem;"
                  drawer
                >
                  <modal-overlay class="modal-overlay cursor-crosshair"></modal-overlay>
                  <div
                    class="modal-inner transition-drawer draw-mb drawer-left drawer-left-mb inset-y-0 color-default w-full fixed left-0 inset-y-0 z-2 bg-white"
                    role="dialog"
                    aria-modal="true"
                    aria-label="{{ 'products.facets.filter' | t }}"
                    tabindex="-1"
                  >
                    <div class="drawer__body flex h-full column">
                      <div
                        class="drawer__header h5 flex gap-10 space-between align-center drawer-spacing border-bottom"
                        style="--padding-block-desktop: 1.7rem;--padding-block:1.2rem;"
                      >
                        <div class="facets-filter js-filter-facet flex content-center">
                          <span class="hidden block-1025">{{ 'products.facets.filter' | t }}</span>
                          <span class="block hidden-1025">{{ 'products.facets.filter_and_sort' | t }}</span>
                          {% if total_active_values > 0 %}
                            <span
                              class="ms-8 fs-12 w-custom h-custom bg-primary color-white inline-flex content-center rounded-50"
                              style="--width: 2.3rem;--height: 2.3rem"
                            >
                              {{- total_active_values -}}
                            </span>
                          {%- endif -%}
                        </div>
                        <button
                          type="button"
                          is="button-close-model"
                          class="modal__close modal-button-close rounded-50 pointer btn-reset w-30 h-full content-flex content-center"
                          aria-label="Close"
                        >
                          <svg
                            width="12"
                            height="12"
                            viewBox="0 0 14 14"
                            fill="none"
                            class="icon-zoom transition-short will-change heading-color"
                          >
                            <use href="#icon-close"></use>
                          </svg>
                        </button>
                      </div>
                      <div class="drawer__inner overflow-y-auto custom-scrollbar grow-1 flex column">
                        <div class="facets-filters-drawer-active px-sp-5 px-1025-32">
                          {% if total_active_values > 0 %}
                            <div class="filters-count active-facets flex wrap gap-sp-2 fs-small pt-sp-5 pb-sp-1 pt-1025-sp-8 pb-1025-sp-8 border-bottom-1025">
                              {%- for filter in collection.filters -%}
                                {%- liquid
                                  assign is_color_option = false
                                  for cl in option_name
                                    if filter.label == cl
                                      assign is_color_option = true
                                    endif
                                  endfor
                                -%}
                                {%- for value in filter.active_values -%}
                                  <div class="facet-remove">
                                    <facet-remove>
                                      <a
                                        href="{{ value.url_to_remove }}"
                                        class="border overflow-hidden px-sp-4 h-custom btn-rounded pointer flex content-center gap-sp-2 lh-normal hover-heading-color relative"
                                        style="--height: 3.8rem;--color-swatch-width: 2rem;--color-swatch-height: 2rem;"
                                      >
                                        {%- if is_color_option == true -%}
                                          {%- liquid
                                            assign swatch_color = value.label
                                            assign is_swatch_image = false
                                            assign swatch_image = ''
                                            if color_swatch_custom != blank and product_enable_color_swatches
                                              assign string_value = color_swatch_custom
                                              assign pairs = string_value | split: ','
                                              for pair in pairs
                                                assign key_and_value = pair | split: ':'
                                                assign key = key_and_value[0] | strip
                                                assign v = key_and_value[1] | strip
                                                if key == value.label
                                                  if v contains '.png' or v contains '.jpg' or v contains '.webp'
                                                    assign image_url = v | file_img_url: 'medium'
                                                    assign swatch_image = 'url(' | append: image_url | append: ')'
                                                    assign is_swatch_image = true
                                                  else
                                                    assign swatch_color = v
                                                  endif
                                                endif
                                              endfor
                                            endif
                                            if value.swatch.image
                                              assign image_url = value.swatch.image | image_url: width: 120
                                              assign swatch_image = 'url(' | append: image_url | append: ')'
                                              assign is_swatch_image = true
                                            elsif value.swatch.color
                                              assign swatch_color = value.swatch.color
                                            endif
                                          -%}
                                          <span
                                            class="color-swatch-label relative pointer{% if is_swatch_image %} swatch-image{% endif %} filter-swatch hidden-before"
                                            style="--swatch-background: {{ swatch_color }};{% if is_swatch_image %}--swatch-background-image: {{ swatch_image }};{% endif %}{% if color_swatch_shape == 'round' %}--radius: 50%;{% else %}--radius: 3px;{% endif %}"
                                          >
                                          </span>
                                        {%- endif -%}
                                        {{ value.label | escape }}
                                        <span class="active-facets__button-inner">
                                          <svg width="10" height="10" viewBox="0 0 9 10" fill="none">
                                            <use href="#icon-close"></use>
                                          </svg>
                                          <span class="visually-hidden">{{ 'products.facets.clear_filter' | t }}</span>
                                        </span>
                                      </a>
                                    </facet-remove>
                                  </div>
                                {%- endfor -%}
                                {% if filter.type == 'price_range' %}
                                  {%- if filter.min_value.value != null or filter.max_value.value != null -%}
                                    <div class="facet-remove">
                                      <facet-remove>
                                        <a
                                          href="{{ filter.url_to_remove }}"
                                          class="border overflow-hidden px-sp-4 h-custom btn-rounded pointer flex content-center gap-sp-2 lh-normal hover-heading-color relative"
                                          style="--height: 3.8rem;--color-swatch-width: 2rem;--color-swatch-height: 2rem;"
                                        >
                                          {%- if filter.min_value.value -%}
                                            {{ filter.min_value.value | money }}
                                          {%- else -%}
                                            {{ 0 | money }}
                                          {%- endif -%}
                                          -
                                          {%- if filter.max_value.value -%}
                                            {{ filter.max_value.value | money }}
                                          {%- else -%}
                                            {{ filter.range_max | money }}
                                          {%- endif -%}
                                          <span class="active-facets__button-inner">
                                            <svg width="9" height="10" viewBox="0 0 9 10" fill="none">
                                              <use href="#icon-close"></use>
                                            </svg>
                                            <span class="visually-hidden">
                                              {{- 'products.facets.clear_filter' | t -}}
                                            </span>
                                          </span>
                                        </a>
                                      </facet-remove>
                                    </div>
                                  {%- endif -%}
                                {% endif %}
                              {%- endfor -%}
                            </div>
                          {% endif %}
                        </div>
                        {% if enable_sorting %}
                          <facet-filters-form class="facets facets-vertical-sort block hidden-1025 px-gutter-x">
                            <form class="facets-vertical-form relative" id="DrawerFacetSortForm">
                              {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
                              <div class="select-custom drawer-sort facet-filters heading-color mb-sp-1 pb-sp-6 pt-sp-5 border-bottom">
                                <select-sorter
                                  tabindex="0"
                                  class="select-selected flex gap-sp-4 align-center pointer rotate-animate relative not-highlight-tap"
                                >
                                  <span class="h7">
                                    {{- 'products.facets.sort_by_label' | t }}
                                  </span>
                                  <span class="like-select border rounded-30 fs-small-1 hidden flex-1025 align-center grow-1">
                                    {%- for option in collection.sort_options -%}
                                      {% if option.value == sort_by %}{{ option.name | escape }}{% endif %}
                                    {%- endfor -%}
                                  </span>
                                  <svg
                                    width="9"
                                    height="6"
                                    viewBox="0 0 9 6"
                                    fill="none"
                                    class="hidden flex-1025 flex-auto absolute icon icon-down icon-rotate transition-short w-custom"
                                    style="--width: 9px;"
                                  >
                                    <use href="#icon-arrow-down"></use>
                                  </svg>
                                </select-sorter>
                                <div
                                  class="select-custom__content select-sort-custom-mobile facet-filters__sort active-show absolute-1025 bg-white p-10 rounded z-2 min-w-custom transition-short opacity-0 pointer-none"
                                  id="DrawerSortBy"
                                  style="--min-width: 22rem;"
                                >
                                  <div
                                    class="facet-filters__select flex row wrap gap-sp-2 column-1025 gap-1025-2"
                                  >
                                    {%- for option in collection.sort_options -%}
                                      <filter-sort
                                        class="filter-sort border border-1025-0 hover-bg_second pointer rounded-10 transition px-sp-3 py-7{% if option.value != sort_by %} text-color{% else %} heading-color{% endif %}"
                                        value="{{ option.value | escape }}"
                                        {% if option.value == sort_by %}
                                          selected="selected"
                                        {% endif %}
                                      >
                                        {{ option.name | escape }}
                                      </filter-sort>
                                    {%- endfor -%}
                                  </div>
                                </div>
                              </div>
                            </form>
                          </facet-filters-form>
                        {% endif %}
                        {% render 'facets',
                          results: collection,
                          filter_layout: 'drawer',
                          paginate: paginate,
                          results_url: results_url,
                          total_active_values: total_active_values,
                          products_count: collection.products_count
                        %}
                      </div>
                    </div>
                  </div>
                </facet-drawer>
              </div>
            {%- endif -%}
            {%- if show_product_counts -%}
              <div
                class="collection-count heading-color flex"
                role="status"
              >
                <span>
                  {%- if collection.results_count -%}
                    {{
                      'sections.collection_template.results_with_count'
                      | t: terms: collection.terms, count: collection.results_count
                    }}
                  {%- elsif collection.products_count == collection.all_products_count -%}
                    {{ 'products.facets.product_count_simple' | t: count: collection.products_count }}
                  {%- else -%}
                    {{
                      'products.facets.product_count'
                      | t: product_count: collection.products_count, count: collection.all_products_count
                    }}
                  {%- endif -%}
                </span>
              </div>
            {%- endif -%}
            {% if enable_sorting %}
              <facet-filters-form class="facets facets-vertical-sort hidden block-1025">
                <form class="facets-vertical-form relative" id="FacetSortForm">
                  {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
                  <div class="select-custom select-sort facet-filters heading-color py-10">
                    <select-sorter
                      tabindex="0"
                      class="select-selected flex gap-10 align-center pointer rotate-animate not-highlight-tap"
                    >
                      <span>
                        {{- 'products.facets.sort_by_label' | t }}
                      </span>
                      <span class="inline-block-1025">
                        {%- for option in collection.sort_options -%}
                          {% if option.value == sort_by %}{{ option.name | escape }}{% endif %}
                        {%- endfor -%}
                      </span>
                      <svg
                        width="9"
                        height="6"
                        viewBox="0 0 9 6"
                        fill="none"
                        class="icon icon-down icon-rotate transition-short flex-auto w-custom"
                        style="--width: 9px;"
                      >
                        <use href="#icon-arrow-down"></use>
                      </svg>
                    </select-sorter>
                    <div
                      class="select-custom__content facet-filters__sort active-show absolute top-100 right-0 bg-white shadow p-10 rounded z-2 min-w-custom transition-short opacity-0 pointer-none"
                      id="SortBy"
                      style="--min-width: 22rem;"
                    >
                      <div
                        class="facet-filters__select flex column gap-2"
                      >
                        {%- for option in collection.sort_options -%}
                          <filter-sort
                            class="filter-sort hover-bg_second pointer rounded-10 transition px-sp-3 py-7{% if option.value != sort_by %} text-color{% else %} heading-color{% endif %}"
                            value="{{ option.value | escape }}"
                            {% if option.value == sort_by %}
                              selected="selected"
                            {% endif %}
                          >
                            {{ option.name | escape }}
                          </filter-sort>
                        {%- endfor -%}
                      </div>
                    </div>
                  </div>
                  <select
                    name="sort_by"
                    class="facet-filters__select hidden"
                    aria-label="{{ 'products.facets.sort_button' | t }}"
                    aria-describedby="a11y-refresh-page-message"
                  >
                    {%- for option in collection.sort_options -%}
                      <option
                        value="{{ option.value | escape }}"
                        {% if option.value == sort_by %}
                          selected="selected"
                        {% endif %}
                      >
                        {{ option.name | escape }}
                      </option>
                    {%- endfor -%}
                  </select>
                </form>
              </facet-filters-form>
            {% endif %}
          </sticky-toolbar>
          {%- if enable_filtering -%}
            <div class="facets-filters-active">
              {% if total_active_values > 0 %}
                <div class="filters-count active-facets flex wrap gap-10 mb-30 fs-small">
                  {%- for filter in collection.filters -%}
                    {%- liquid
                      assign is_color_option = false
                      for cl in option_name
                        if filter.label == cl
                          assign is_color_option = true
                        endif
                      endfor
                    -%}
                    {%- for value in filter.active_values -%}
                      <div class="facet-remove">
                        <facet-remove>
                          <a
                            href="{{ value.url_to_remove }}"
                            class="border overflow-hidden px-sp-4 h-custom btn-rounded pointer flex content-center gap-sp-2 lh-normal hover-heading-color relative"
                            style="--height: 3.8rem;--color-swatch-width: 2rem;--color-swatch-height: 2rem;"
                          >
                            {%- if is_color_option == true -%}
                              {%- liquid
                                assign swatch_color = value.label
                                assign is_swatch_image = false
                                assign swatch_image = ''
                                if color_swatch_custom != blank and product_enable_color_swatches
                                  assign string_value = color_swatch_custom
                                  assign pairs = string_value | split: ','
                                  for pair in pairs
                                    assign key_and_value = pair | split: ':'
                                    assign key = key_and_value[0] | strip
                                    assign v = key_and_value[1] | strip
                                    if key == value.label
                                      if v contains '.png' or v contains '.jpg' or v contains '.webp'
                                        assign image_url = v | file_img_url: 'medium'
                                        assign swatch_image = 'url(' | append: image_url | append: ')'
                                        assign is_swatch_image = true
                                      else
                                        assign swatch_color = v
                                      endif
                                    endif
                                  endfor
                                endif
                                if value.swatch.image
                                  assign image_url = value.swatch.image | image_url: width: 120
                                  assign swatch_image = 'url(' | append: image_url | append: ')'
                                  assign is_swatch_image = true
                                elsif value.swatch.color
                                  assign swatch_color = value.swatch.color
                                endif
                              -%}
                              <span
                                class="color-swatch-label relative pointer{% if is_swatch_image %} swatch-image{% endif %} filter-swatch hidden-before"
                                style="--swatch-background: {{ swatch_color }};{% if is_swatch_image %}--swatch-background-image: {{ swatch_image }};{% endif %}{% if color_swatch_shape == 'round' %}--radius: 50%;{% else %}--radius: 3px;{% endif %}"
                              >
                              </span>
                            {%- endif -%}
                            {{ value.label | escape }}
                            <span class="active-facets__button-inner">
                              <svg width="9" height="10" viewBox="0 0 9 10" fill="none">
                                <use href="#icon-close"></use>
                              </svg>
                              <span class="visually-hidden">{{ 'products.facets.clear_filter' | t }}</span>
                            </span>
                          </a>
                        </facet-remove>
                      </div>
                    {%- endfor -%}
                    {% if filter.type == 'price_range' %}
                      {%- if filter.min_value.value != null or filter.max_value.value != null -%}
                        <div class="facet-remove">
                          <facet-remove>
                            <a
                              href="{{ filter.url_to_remove }}"
                              class="border overflow-hidden px-sp-4 h-custom btn-rounded pointer flex content-center gap-sp-2 lh-normal hover-heading-color relative"
                              style="--height: 3.8rem;--color-swatch-width: 2rem;--color-swatch-height: 2rem;"
                            >
                              {%- if filter.min_value.value -%}
                                {{ filter.min_value.value | money }}
                              {%- else -%}
                                {{ 0 | money }}
                              {%- endif -%}
                              -
                              {%- if filter.max_value.value -%}
                                {{ filter.max_value.value | money }}
                              {%- else -%}
                                {{ filter.range_max | money }}
                              {%- endif -%}
                              <span class="active-facets__button-inner">
                                <svg width="9" height="10" viewBox="0 0 9 10" fill="none">
                                  <use href="#icon-close"></use>
                                </svg>
                                <span class="visually-hidden">{{ 'products.facets.clear_filter' | t }}</span>
                              </span>
                            </a>
                          </facet-remove>
                        </div>
                      {%- endif -%}
                    {% endif %}
                  {%- endfor -%}
                  <div class="facet-remove facet-clear-all">
                    <facet-remove class="active-facets__button-wrapper">
                      <a
                        href="{{ results_url }}"
                        class="underline overflow-hidden px-sp-2 h-custom heading-style pointer flex content-center gap-sp-2 lh-normal relative"
                        style="--height: 3.8rem;--color-swatch-width: 2rem;--color-swatch-height: 2rem;"
                      >
                        <span>{{ 'products.facets.clear_all' | t }}</span>
                      </a>
                    </facet-remove>
                  </div>
                </div>
              {% endif %}
            </div>
          {% endif %}
          <div id="CollectionGird" class="collection__gird relative">
            {%- if collection.products.size == 0 -%}
              <div class="collection collection--empty" id="product-grid" data-id="{{ section.id }}">
                <div class="title-wrapper text-center">
                  <h2 class="title title--primary mt-50" style="--height-outline: 2px;">
                    {{ 'sections.collection_template.no_products_found' | t -}}
                    <br>
                    {{
                      'sections.collection_template.use_fewer_filters_html'
                      | t: link: results_url, class: 'heading-color btn-link border-animation btn-clear-all'
                    }}
                  </h2>
                  <a
                    href="{{ routes.all_products_collection_url }}"
                    class="inline-block btn btn-primary mt-30"
                    aria-label="{{- 'general.continue_shopping' | t -}}"
                  >
                    {{- 'general.continue_shopping' | t -}}
                  </a>
                </div>
              </div>
            {%- else -%}
              {% if scroll_animation != 'disable' %}
                <motion-items-effect>
              {% endif %}
              <div
                class="collection grid-cols grid gap row-gap-30"
                id="product-grid"
                data-id="{{ section.id }}"
                style="{{ col_style | strip | strip_newlines }}"
              >
                {%- if collection.products.size > 0 -%}
                  {%- for product in collection.products -%}
                    {%- assign index = forloop.index0 -%}
                    {%- if show_promotion -%}
                      {%- for block in section.blocks -%}
                        {%- liquid
                          assign block_st = block.settings
                          assign image = block_st.image
                          assign subheading = block_st.subheading
                          assign highlight_text = block_st.highlight_text
                          assign heading = block_st.heading
                          assign description = block_st.description
                          assign button_label = block_st.button_label
                          assign promotion_link = block_st.promotion_link
                          assign promotion_position = block_st.promotion_position | minus: index_promotion
                        -%}
                        {%- if block.type == 'promotion' and promotion_position == index -%}
                          {%- assign index_promotion = index_promotion | plus: 1 -%}
                          <div
                            {{ block.shopify_attributes }}
                            class="product-item product-item-promotion relative motion-item"
                          >
                            {%- liquid
                              assign banner_alt = 'sections.collection_template.promotion_banner' | t
                              assign banner_alt = heading | default: banner_alt
                              assign banner_alt = image.alt | default: banner_alt
                            -%}
                            <div
                              class="promotion_inner h-full color-{{ block_st.color_scheme }} gradient"
                            >
                              <a
                                {% if promotion_link == blank %}
                                  role="link" aria-disabled="true"
                                {% else %}
                                  href="{{ promotion_link }}"
                                {% endif %}
                                aria-label="{{ banner_alt }}"
                                class="block banner__media rounded absolute inset-0"
                                style="--aspect-ratio: {% if image != blank %}{{ image.aspect_ratio }}{%- else -%}4/3{%- endif -%}"
                              >
                                {%- if image -%}
                                  {% render 'responsive-image',
                                    type: 'product',
                                    image: image,
                                    image_alt: banner_alt,
                                    container: section_width,
                                    column: items_per_row,
                                    column_mobile: 2,
                                    padding: column_gap_slide,
                                    motion: true
                                  %}
                                {%- else -%}
                                  {% render 'placeholder-render', type: 'product' %}
                                {%- endif -%}
                              </a>
                              {%- if subheading != blank or heading != blank or button_label != blank -%}
                                <div
                                  class="promotion-information h-full z-1 justify-center text-center relative p-sp-3 p-1025-30 flex column flex-end inset-0 z-1"
                                  style="--btn-padding-x: 1.5rem;"
                                >
                                  {%- if subheading != blank
                                    or heading != blank
                                    or button_label != blank
                                    or highlight_text != blank
                                  -%}
                                    <div class="banner__box">
                                      {%- if highlight_text != blank -%}
                                        <div
                                          class="block__highlight_text subheading_weight lh-normal inline-flex gap-5 bg-custom py-sp-2 px-15 content-center text-color btn-rounded mb-sp-2 mb-1025-sp-4 fs-small-1"
                                          style="--color-text: {{ block_st.text_color }};--bg-color-custom: {{ block_st.background_color }};"
                                          {{ block.shopify_attributes }}
                                        >
                                          {%- if block_st.highlight_text_icon == 'star' -%}
                                            {%- render 'icon-star' -%}
                                          {%- elsif block_st.highlight_text_icon == 'dot' -%}
                                            {%- render 'icon-dot' -%}
                                          {%- endif -%}
                                          <div class="max-w-100 lh-normal">{{ highlight_text | escape }}</div>
                                        </div>
                                      {%- endif -%}
                                      {%- if subheading != blank -%}
                                        <div class="suheading h7 mb-sp-1 mb-1025-sp-3">
                                          {{ block.settings.subheading }}
                                        </div>
                                      {%- endif -%}
                                      {%- if heading != blank -%}
                                        <h2 class="h3 px-0 px-1025-22">
                                          {{ block.settings.heading }}
                                        </h2>
                                      {%- endif -%}
                                      {%- if description != blank -%}
                                        <p class="description mt-sp-1 mt-1025-sp-3">{{ block.settings.description }}</p>
                                      {%- endif -%}
                                    </div>
                                  {%- endif -%}
                                  {%- if button_label != blank -%}
                                    <a
                                      {% if promotion_link == blank %}
                                        role="link" aria-disabled="true"
                                      {% else %}
                                        href="{{ promotion_link }}"
                                        aria-label="{{ banner_alt }}"
                                      {% endif %}
                                      class="btn btn-primary w-full mt-sp-2 mt-1025-sp-8"
                                    >
                                      {{ block.settings.button_label }}
                                    </a>
                                  {%- endif -%}
                                </div>
                              {%- endif -%}
                            </div>
                          </div>
                        {%- endif -%}
                      {%- endfor -%}
                      {% render 'card-product',
                        enable_motion: true,
                        card_product: product,
                        section_id: section.id,
                        container: section_width,
                        column: items_per_row,
                        column_mobile: 2,
                        class: ' motion-item',
                        padding: column_gap_slide,
                        indexFor: forloop.index
                      %}
                    {%- else -%}
                      {% render 'card-product',
                        enable_motion: true,
                        card_product: product,
                        section_id: section.id,
                        container: section_width,
                        column: items_per_row,
                        column_mobile: 2,
                        class: ' motion-item',
                        padding: column_gap_slide,
                        indexFor: forloop.index
                      %}
                    {%- endif -%}
                  {%- endfor -%}
                  {%- if show_promotion -%}
                    {%- for block in section.blocks -%}
                      {%- liquid
                        assign block_st = block.settings
                        assign image = block_st.image
                        assign subheading = block_st.subheading
                        assign highlight_text = block_st.highlight_text
                        assign heading = block_st.heading
                        assign description = block_st.description
                        assign button_label = block_st.button_label
                        assign promotion_link = block_st.promotion_link
                        assign promotion_position = block_st.promotion_position | minus: index_promotion
                      -%}
                      {%- if block.type == 'promotion' and promotion_position >= products_to_show -%}
                        <div
                          {{ block.shopify_attributes }}
                          class="product-item product-item-promotion relative motion-item"
                        >
                          <div
                            class="promotion_inner h-full color-{{ block_st.color_scheme }} gradient"
                          >
                            {%- liquid
                              assign banner_alt = 'sections.collection_template.promotion_banner' | t
                              assign banner_alt = heading | default: banner_alt
                              assign banner_alt = image.alt | default: banner_alt
                            -%}
                            <a
                              {% if promotion_link == blank %}
                                role="link" aria-disabled="true"
                              {% else %}
                                href="{{ promotion_link }}"
                              {% endif %}
                              aria-label="{{ banner_alt }}"
                              class="block banner__media rounded absolute inset-0"
                              style="--aspect-ratio: {% if image != blank %}{{ image.aspect_ratio }}{%- else -%}4/3{%- endif -%}"
                            >
                              {%- if image -%}
                                {% render 'responsive-image',
                                  type: 'product',
                                  image: image,
                                  image_alt: banner_alt,
                                  container: section_width,
                                  column: items_per_row,
                                  column_mobile: 2,
                                  padding: column_gap_slide,
                                  motion: true
                                %}
                              {%- else -%}
                                {% render 'placeholder-render', type: 'product' %}
                              {%- endif -%}
                            </a>
                            {%- if subheading != blank or heading != blank or button_label != blank -%}
                              <div
                                class="promotion-information h-full z-1 justify-center text-center relative flex column flex-end inset-0 z-1"
                                style="--btn-padding-x: 1.5rem;"
                              >
                                {%- if subheading != blank or heading != blank or button_label != blank -%}
                                  <div
                                    class="promotion-information h-full z-1 justify-center text-center relative p-sp-3 p-1025-30 fs-small-1 flex column flex-end inset-0 z-1"
                                    style="--btn-padding-x: 1.5rem;"
                                  >
                                    {%- if subheading != blank
                                      or heading != blank
                                      or button_label != blank
                                      or highlight_text != blank
                                    -%}
                                      <div class="banner__box">
                                        {%- if highlight_text != blank -%}
                                          <div
                                            class="block__highlight_text subheading_weight lh-normal inline-flex gap-5 bg-custom py-sp-2 px-15 content-center text-color btn-rounded mb-sp-2 mb-1025-sp-4"
                                            style="--color-text: {{ block_st.text_color }};--bg-color-custom: {{ block_st.background_color }};"
                                            {{ block.shopify_attributes }}
                                          >
                                            {%- if block_st.highlight_text_icon == 'star' -%}
                                              {%- render 'icon-star' -%}
                                            {%- elsif block_st.highlight_text_icon == 'dot' -%}
                                              {%- render 'icon-dot' -%}
                                            {%- endif -%}
                                            <div class="max-w-100 lh-normal">{{ highlight_text | escape }}</div>
                                          </div>
                                        {%- endif -%}
                                        {%- if subheading != blank -%}
                                          <div class="suheading h7 mb-sp-1 mb-1025-sp-3">
                                            {{ block.settings.subheading }}
                                          </div>
                                        {%- endif -%}
                                        {%- if heading != blank -%}
                                          <h2 class="h3 px-0 px-1025-22">
                                            {{ block.settings.heading }}
                                          </h2>
                                        {%- endif -%}
                                        {%- if description != blank -%}
                                          <p class="description mt-sp-1 mt-1025-sp-3">
                                            {{ block.settings.description }}
                                          </p>
                                        {%- endif -%}
                                      </div>
                                    {%- endif -%}
                                    {%- if button_label != blank -%}
                                      <a
                                        {% if promotion_link == blank %}
                                          role="link" aria-disabled="true"
                                        {% else %}
                                          href="{{ promotion_link }}"
                                          aria-label="{{ banner_alt }}"
                                        {% endif %}
                                        class="btn btn-primary w-full mt-sp-2 mt-1025-sp-8"
                                      >
                                        {{ block.settings.button_label }}
                                      </a>
                                    {%- endif -%}
                                  </div>
                                {%- endif -%}
                              </div>
                            {%- endif -%}
                          </div>
                        </div>
                      {%- endif -%}
                    {%- endfor -%}
                  {%- endif -%}
                {%- else -%}
                  {% for i in (0..products_to_show) %}
                    {% render 'card-product', section_id: section.id %}
                  {% endfor %}
                {%- endif -%}
              </div>
              {% if scroll_animation != 'disable' %}
                </motion-items-effect>
              {% endif %}
              {%- liquid
                assign cur_page = paginate.current_page | times: 1
                assign amount_products = products_to_show | times: cur_page
                if amount_products > all_product
                  assign amount_products = all_product
                endif
                assign collection_products_count = collection.products_count | times: 1.0
              -%}
              {%- if pagination_type == 'button' or pagination_type == 'infinity' -%}
                <div
                  class="pagination-load-more mt-60 block text-center"
                >
                  <div class="paginate-progress {{amount_products}}">
                    <p class="counting_product load-more-amount mb-sp-5">
                      {{-
                        'sections.collection_template.product_count.other'
                        | t: count: amount_products, product_count: collection.products_count
                      -}}
                    </p>
                    <div
                      class="load-more-progress-bar relative mx-auto h-custom rounded max-w-custom-all bg-custom"
                      style="--percent: {{ amount_products | divided_by: collection_products_count | times: 100 }}%; --amount: {{ amount_products }}; --count: {{ amount_products }};--height: 3px;--img-rounded: 5px;--max-width: 32rem;--bg-color-custom: #e5e5e5;"
                    ></div>
                  </div>
                  {% if all_product > products_to_show and amount_products < all_product %}
                    <loadmore-button
                      data-limit="{{ products_to_show }}"
                      data-pagination="{{ pagination_type }}"
                      data-limit="{{ products_to_show }}"
                      data-url="?page={{ paginate.current_page | plus: 1 }}"
                      class="relative btn btn-primary inline-flex content-center pointer transition w-custom max-w-100 mt-25"
                      style="--width: 20rem;"
                      aria-label="{{ 'sections.collection_template.load_more' | t }}"
                      tabindex="0"
                    >
                      <span class="btn-label hidden-on-load transition-short">
                        {{- 'sections.collection_template.load_more' | t -}}
                      </span>
                      {%- render 'loader' -%}
                    </loadmore-button>
                  {% endif %}
                </div>
              {%- else -%}
                {%- if paginate.pages > 1 -%}
                  {% render 'pagination', paginate: paginate, anchor: '' %}
                {%- endif -%}
              {%- endif -%}
            {%- endif -%}
            <div
              class="loading-filter opacity-0 pointer-none absolute inset-0 bg-white transition flex content-center"
              style="--opacity: 0.75"
            >
              <span class="loader"></span>
            </div>
          </div>
        </div>
      </div>
    {%- endpaginate -%}
    <script type="module" src="{{ 'facets.js' | asset_url }}"></script>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.main-collection.name",
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-collection.how_to_use"
    },
    {
      "type": "header",
      "content": "t:sections.all.general"
    },
    {
      "type": "select",
      "id": "section_width",
      "options": [
        {
          "value": "fix_width",
          "label": "t:sections.all.layout.fix_width"
        },
        {
          "value": "stretch_width",
          "label": "t:sections.all.layout.stretch_width"
        },
        {
          "value": "full_width",
          "label": "t:sections.all.layout.full_width"
        }
      ],
      "default": "fix_width",
      "label": "t:sections.all.layout.label"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 4,
      "max": 24,
      "step": 1,
      "default": 16,
      "label": "t:sections.main-collection.settings.items_per_page.label"
    },
    {
      "type": "range",
      "id": "items_per_row",
      "min": 2,
      "max": 5,
      "step": 1,
      "default": 4,
      "label": "t:sections.main-collection.settings.columns_desktop.label"
    },
    {
      "type": "select",
      "id": "column_gap",
      "options": [
        {
          "value": "no_gap",
          "label": "t:sections.all.padding.column_gap.no_gap"
        },
        {
          "value": "small",
          "label": "t:sections.all.padding.column_gap.small"
        },
        {
          "value": "medium",
          "label": "t:sections.all.padding.column_gap.medium"
        },
        {
          "value": "large",
          "label": "t:sections.all.padding.column_gap.large"
        }
      ],
      "default": "medium",
      "label": "t:sections.all.padding.column_gap.label"
    },
    {
      "type": "select",
      "id": "pagination_type",
      "options": [
        {
          "value": "default",
          "label": "t:sections.all.pagination_type.options__1.label"
        },
        {
          "value": "button",
          "label": "t:sections.all.pagination_type.options__2.label"
        },
        {
          "value": "infinity",
          "label": "t:sections.all.pagination_type.options__3.label"
        }
      ],
      "default": "default",
      "label": "t:sections.all.pagination_type.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "t:sections.main-collection.settings.enable_sorting.label"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:sections.main-collection.settings.enable_filtering.label",
      "info": "t:sections.main-collection.settings.enable_filtering.info"
    },
    {
      "type": "checkbox",
      "id": "show_product_counts",
      "default": true,
      "label": "t:sections.main-collection.settings.show_product_counts.label"
    },
    {
      "type": "select",
      "id": "filter_layout",
      "options": [
        {
          "value": "vertical",
          "label": "t:sections.main-collection.settings.filter_type.options__2.label"
        },
        {
          "value": "drawer",
          "label": "t:sections.main-collection.settings.filter_type.options__3.label"
        }
      ],
      "default": "vertical",
      "label": "t:sections.main-collection.settings.filter_type.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 48
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 48
    }
  ],
  "blocks": [
    {
      "type": "promotion",
      "limit": 3,
      "name": "t:sections.main-collection.blocks.promotion.name",
      "settings": [
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "t:sections.all.colors.label",
          "info": "t:sections.all.colors.info",
          "default": "default-color-scheme"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.all.image.label"
        },
        {
          "type": "text",
          "id": "highlight_text",
          "default": "t:sections.all.content_setting.highlight_text.label",
          "label": "t:sections.all.content_setting.highlight_text.label"
        },
        {
          "type": "select",
          "id": "highlight_text_icon",
          "options": [
            {
              "value": "none",
              "label": "t:sections.all.content_setting.highlight_text.settings.icons.options__1.label"
            },
            {
              "value": "star",
              "label": "t:sections.all.content_setting.highlight_text.settings.icons.options__2.label"
            },
            {
              "value": "dot",
              "label": "t:sections.all.content_setting.highlight_text.settings.icons.options__3.label"
            }
          ],
          "default": "none",
          "label": "t:sections.all.content_setting.highlight_text.settings.icons.label"
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "t:sections.image-with-text.settings.background_color",
          "default": "#C03E35",
          "alpha": true
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "t:sections.image-with-text.settings.text_color",
          "default": "#ffffff",
          "alpha": true
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "t:sections.all.content_setting.subheading.label"
        },
        {
          "type": "text",
          "id": "heading",
          "default": "Heading",
          "label": "t:sections.all.content_setting.heading.label"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "t:sections.all.content_setting.description.label"
        },
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "t:sections.all.content_setting.button_label.label"
        },
        {
          "type": "url",
          "id": "promotion_link",
          "label": "t:sections.all.content_setting.link.label"
        },
        {
          "type": "range",
          "id": "promotion_position",
          "min": 1,
          "max": 24,
          "step": 1,
          "default": 7,
          "label": "t:sections.main-collection.blocks.promotion.promotion_position.label"
        }
      ]
    },
    {
      "type": "steps",
      "limit": 5,
      "name": "t:sections.main-collection.blocks.steps.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.all.content_setting.image.label"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.all.content_setting.heading.label",
          "default": "Heading"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "t:sections.all.content_setting.description.label",
          "default": "<p>Description</p>"
        },
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "t:sections.all.content_setting.button_label.label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.all.content_setting.link.label"
        }
      ]
    }
  ]
}
{% endschema %}
