{{ 'banner.css' | asset_url | stylesheet_tag }}
{% liquid
  assign theme_st = settings
  assign section_st = section.settings
  assign scroll_animation = theme_st.scroll_animation
  if section_st.section_width == 'fix_width'
    assign section_width = 'container'
  elsif section_st.section_width == 'full_width'
    assign section_width = 'full-width'
  else
    assign section_width = 'fluid_container'
  endif

  assign column_gap_slide = 0
  assign column_gap_mb = 0
  if section_st.column_gap == 'x_large'
    assign column_gap_slide = 52
    assign column_gap_mb = 24
  elsif section_st.column_gap == 'large'
    assign column_gap_slide = 32
    assign column_gap_mb = 24
  elsif section_st.column_gap == 'medium'
    assign column_gap_slide = 24
    assign column_gap_mb = 16
  elsif section_st.column_gap == 'small'
    assign column_gap_slide = 16
    assign column_gap_mb = 8
  endif

  assign heading_size = section_st.heading_size
  assign header_size = ''
  if heading_size == 'small'
    assign header_size = 'h3'
  elsif heading_size == 'large'
    assign header_size = 'h1'
  endif
  assign data_free_scroll = 'false'
  if section_st.items_per_row > 1 and section_st.items_per_row < 2
    assign data_free_scroll = 'true'
  endif
  assign heading = section_st.heading
  assign drawn_underline = section_st.drawn_underline
  assign drawn_underline_type = section_st.drawn_underline_type
  assign drawn_underline_color = section_st.drawn_underline_color
  if drawn_underline
    assign scroll_animation = 'disable'
  endif
%}
{%- capture style -%}
  --section-pt: {{ section_st.padding_top }}; --section-pb: {{ section_st.padding_bottom }};
  
{%- endcapture -%}

{%- capture col_style -%}
  --col-number: {{ section_st.items_per_row }};
  --gap-desktop: {{ column_gap_slide }}px;--gap: {{ column_gap_mb }}px;
{%- endcapture -%}
{% style %}
  @media (max-width: 1024.99px) {
    .is-equal-one .col-md-w-custom-50 {
      --col-width: 100% !important;
    }
  }
{% endstyle %}
<div
  class="section__multi-content overflow-hidden section{% if section_st.show_divider %} border-top{% endif %}{% if data_free_scroll == 'true' and section_st.enable_carousel_mobile %} overflow-hidden{% endif %}"
  style="{{ style | strip | strip_newlines }}"
>
  <div
    class="{{ section_width }}"
  >
    {%- if section.settings.heading != blank
      or section.settings.description != blank
      or section.settings.subheading != blank
    -%}
      <div
        class="section-header text-{{ section_st.alignment }}"
      >
        {% assign animate_delay = 25 %}
        {%- if section.settings.subheading != blank -%}
          {%- if scroll_animation != 'disable' -%}
            <motion-effect
              data-animate="fade-up"
              data-animate-delay="{{ animate_delay }}"
              class="block"
            >
          {%- endif -%}
          <div class="section-subheading h7 mb-sp-1 mb-1025-sp-2 subheading_weight">
            {{ section.settings.subheading }}
          </div>
          {%- if scroll_animation != 'disable' -%}
            </motion-effect>
          {%- endif -%}
        {%- endif -%}
        {%- if section.settings.heading != blank -%}
          {% assign animate_delay = animate_delay | plus: 50 %}
          {% if scroll_animation != 'disable' or drawn_underline %}
            <motion-effect
              data-animate="{% if scroll_animation != 'disable' %}fade-up{% else %}highlighted-text{% endif %}"
              data-animate-delay="{{ animate_delay }}"
              class="block"
            >
          {%- endif -%}
          <h2 class="block section-heading {{ header_size }}">
            {% if drawn_underline %}
              {%- capture squiggle_svg_1 -%}
                <svg viewBox="0 0 184 26" fill="none"><use href="#squiggle-svg-1" /></svg>
              {%- endcapture -%}
              {%- capture squiggle_svg_2 -%}
               <svg viewBox="0 0 186 24" fill="none"><use href="#squiggle-svg-2" /></svg>
              {%- endcapture -%}
              {%- capture squiggle_svg_3 -%}
                 <svg viewBox="0 0 186 24" fill="none"><use href="#squiggle-svg-3" /></svg>
              {%- endcapture -%}
              {%- capture squiggle_svg_4 -%}
                <svg viewBox="0 0 220 50"fill="none"><use href="#squiggle-svg-4" /></svg>
              {%- endcapture -%}
              {%- capture squiggle_svg_5 -%}
                <svg viewBox="-347 -25 694 80" fill="none" role="presentation" preserveAspectRatio="none"><use href="#squiggle-svg-5" /></svg>
              {%- endcapture -%}
              {%- assign result = heading -%}
              {%- assign parts = result | split: '<em>' -%}
              {%- assign em_count = parts | size | minus: 1 -%}

              {%- for i in (1..em_count) -%}
                {%- assign idx = i | plus: 0 -%}
                {%- assign chunk = parts[idx] | default: '' -%}
                {%- assign text = chunk | split: '</em>' | first | strip_html | strip -%}
                {%- assign len_text = text | size -%}
                {%- capture open_em -%}
                {%- liquid
                  if drawn_underline_type == 'simple_underline'
                    assign svg = squiggle_svg_4 | append: '</em>'
                  elsif drawn_underline_type == 'curve_underline'
                    assign svg = squiggle_svg_5 | append: '</em>'
                  else
                    if len_text <= 4
                      assign svg = squiggle_svg_1 | append: '</em>'
                    elsif len_text <= 6
                      assign svg = squiggle_svg_2 | append: '</em>'
                    else
                      assign svg = squiggle_svg_3 | append: '</em>'
                    endif
                  endif
                -%}
                <em class="highlighted-text relative inline-flex{% if drawn_underline_type == 'simple_underline' %} simple_underline{% endif %} {{ drawn_underline_type }} not-italic" style="--animate-color:{{ drawn_underline_color }}">{{ svg }}</em>
              {%- endcapture -%}
                {%- assign open_em = open_em | remove: '</em>' -%}
                {%- assign heading = heading | replace_first: '<em>', open_em -%}
              {%- endfor -%}
            {% endif %}
            {{- heading -}}
          </h2>
          {% if scroll_animation != 'disable' or drawn_underline %}
            </motion-effect>
          {%- endif -%}
        {%- endif -%}
        {%- if section.settings.description != blank -%}
          {% assign animate_delay = animate_delay | plus: 50 %}
          {%- if scroll_animation != 'disable' -%}
            <motion-effect
              data-animate="fade-up"
              data-animate-delay="{{ animate_delay }}"
              class="block"
            >
          {%- endif -%}
          <div class="section-description mt-sp-4 prose">
            {{ section.settings.description }}
          </div>
          {%- if scroll_animation != 'disable' -%}
            </motion-effect>
          {%- endif -%}
        {%- endif -%}
      </div>
    {%- endif -%}
    <div
      class="promotion-banner__blocks relative{% if section.blocks.size == 1 %} is-equal-one{% endif %}"
    >
      {% if data_free_scroll == 'true' and section_st.enable_carousel_mobile %}
        <div class="free-scroll">
      {% endif %}
      <carousel-mobile
        class="promotion-banner__blocks row-gap gap-{{ section_st.column_gap }}{% if section_st.enable_carousel_mobile %} grid-cols grid promotion-banner__carousel{% else %} flex column flex-md-row wrap cols{% endif %}{% if data_free_scroll == 'true' and section_st.enable_carousel_mobile %} overflow-visible-mb{% endif %}"
        data-multicontent="true"
        data-flex="true"
        data-enable-carousel-mobile="{{ section_st.enable_carousel_mobile }}"
        data-mobile="{{ section_st.items_per_row }}"
        data-spacing="{{ column_gap_slide }}"
        style="{{ col_style | strip | strip_newlines }}"
        data-show-pagination="true"
        data-mobile-screen="767"
      >
        {% content_for 'blocks' %}
      </carousel-mobile>
      {% if data_free_scroll == 'true' and section_st.enable_carousel_mobile %}
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.multi_content.name",
  "tag": "section",
  "class": "multi-content",
  "disabled_on": {
    "groups": ["header", "footer", "custom.overlay"]
  },
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "_group-image-with-text"
    },
    {
      "type": "_group-text"
    },
    {
      "type": "_video"
    },
    {
      "type": "_image"
    }
  ],
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.multi_content.how_to_use"
    },
    {
      "type": "header",
      "content": "t:sections.all.general"
    },
    {
      "type": "select",
      "id": "section_width",
      "options": [
        {
          "value": "fix_width",
          "label": "t:sections.all.layout.fix_width"
        },
        {
          "value": "stretch_width",
          "label": "t:sections.all.layout.stretch_width"
        },
        {
          "value": "full_width",
          "label": "t:sections.all.layout.full_width"
        }
      ],
      "default": "fix_width",
      "label": "t:sections.all.layout.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.content_header.label"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.all.content_setting.subheading.label"
    },
    {
      "type": "richtext",
      "id": "heading",
      "label": "t:sections.all.content_setting.heading.label"
    },
    {
      "type": "checkbox",
      "id": "drawn_underline",
      "default": true,
      "label": "t:sections.all.content_setting.drawn_underline.label",
      "info": "t:sections.all.content_setting.heading.info"
    },
    {
      "type": "select",
      "id": "drawn_underline_type",
      "label": "t:sections.all.content_setting.drawn_underline.type",
      "default": "squiggle_underline",
      "visible_if": "{{ section.settings.drawn_underline != false }}",
      "options": [
        {
          "value": "simple_underline",
          "label": "t:sections.all.content_setting.drawn_underline.value.simple_underline"
        },
        {
          "value": "curve_underline",
          "label": "t:sections.all.content_setting.drawn_underline.value.curve_underline"
        },
        {
          "value": "squiggle_underline",
          "label": "t:sections.all.content_setting.drawn_underline.value.squiggle_underline"
        }
      ]
    },
    {
      "type": "color",
      "id": "drawn_underline_color",
      "label": "t:sections.all.content_setting.drawn_underline.color",
      "default": "#FFB005",
      "alpha": true,
      "visible_if": "{{ section.settings.drawn_underline != false }}"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.all.content_setting.description.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "large",
          "label": "t:sections.all.content_header.heading_size.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.all.content_header.heading_size.options__2.label"
        },
        {
          "value": "small",
          "label": "t:sections.all.content_header.heading_size.options__3.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.all.content_header.heading_size.label"
    },
    {
      "type": "select",
      "id": "alignment",
      "options": [
        {
          "value": "start",
          "label": "t:sections.all.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.text_alignment.options__2.label"
        },
        {
          "value": "end",
          "label": "t:sections.all.text_alignment.options__3.label"
        }
      ],
      "default": "start",
      "label": "t:sections.all.text_alignment.alignment"
    },
    {
      "type": "select",
      "id": "column_gap",
      "options": [
        {
          "value": "no_gap",
          "label": "t:sections.all.padding.column_gap.no_gap"
        },
        {
          "value": "small",
          "label": "t:sections.all.padding.column_gap.small"
        },
        {
          "value": "medium",
          "label": "t:sections.all.padding.column_gap.medium"
        },
        {
          "value": "large",
          "label": "t:sections.all.padding.column_gap.large"
        },
        {
          "value": "x_large",
          "label": "t:sections.all.padding.column_gap.x_large"
        }
      ],
      "default": "medium",
      "label": "t:sections.all.padding.column_gap.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.mobile_options.label"
    },
    {
      "type": "checkbox",
      "id": "enable_carousel_mobile",
      "default": false,
      "label": "t:sections.all.carousel.enable_carousel_mobile.label"
    },
    {
      "type": "range",
      "id": "items_per_row",
      "label": "t:sections.all.items.items_per_row",
      "min": 1,
      "max": 2,
      "step": 0.5,
      "default": 1
    },
    {
      "type": "header",
      "content": "t:sections.multi_content.blocks.label"
    },
    {
      "type": "checkbox",
      "id": "equal_height_adjustment",
      "label": "t:sections.multi_content.blocks.equal_height_adjustment.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 48
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 48
    },
    {
      "type": "header",
      "content": "t:sections.all.divider.section_divider_heading"
    },
    {
      "type": "checkbox",
      "id": "show_divider",
      "label": "t:sections.all.divider.show_divider",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "t:sections.multi_content.name",
      "category": "t:sections.group.storytelling",
      "blocks": [
        {
          "type": "_group-image-with-text",
          "blocks": [
            {
              "type": "heading"
            },
            {
              "type": "description"
            },
            {
              "type": "button"
            }
          ]
        },
        {
          "type": "_group-image-with-text",
          "blocks": [
            {
              "type": "heading"
            },
            {
              "type": "description"
            },
            {
              "type": "button"
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
