{% liquid
  assign section_st = section.settings
  assign enable_on_homepage = section_st.enable_on_homepage
  assign banner_image = section_st.newsletter_banner
  assign show_page = ''
  if enable_on_homepage
    if request.page_type == 'index'
      assign show_page = 'show-on-homepage'
    endif
  else
    assign show_page = 'show-all-page'
  endif
  assign design_mode = false
  if request.design_mode
    assign show_page = ''
    assign design_mode = true
  endif
  assign email_placeholder = section_st.newsletter_email_placeholder
  assign button_label = section_st.newsletter_button_label
%}
{% style %}
  @media (min-width: 768px) {
    newsletter-popup .image-with-text__media,
    .newsletter_inner {
      max-height: 80vh;
    }
  }
  newsletter-modal-popup.active {
    visibility: visible;
    opacity: 1;
  }
{% endstyle %}
{% if request.design_mode == false %}
  <template class="lazy-template-modal"><div class="content-element">
{% endif %}
<newsletter-popup data-enable="{{ show_page }}" data-section-id="{{ section.id }}">
  <newsletter-modal-popup
    data-remove-after="true"
    drawer
    class="newsletter-modal-popup modal modal_type_popup active-modal-js modal-newsletter-popup fixed inset-0 z-31 flex align-center invisible transition content-hidden"
  >
    <modal-overlay class="modal-overlay invisible transition-drawer cursor-crosshair"></modal-overlay>
    <div
      class="modal-popup-inner invisible-1025 modal-focus modal-body modal-draggable transition-drawer rounded max-w-custom m-auto w-full z-15"
      style="--max-width: 78rem;"
      tabindex="-1"
    >
      <button
        is="button-close-model"
        class="modal__close modal-button-close pointer btn-reset flex content-center absolute rounded-50 absolute top-12 right-12"
        aria-label="Close"
      >
        <svg
          width="12"
          height="12"
          viewBox="0 0 14 14"
          fill="none"
          class="transition-short will-change icon-zoom"
        >
          <use href="#icon-close"></use>
        </svg>
      </button>
      <div class="drawer__body drawer__body-item h-full">
        <div
          class="flex gap{% if section_st.image_desktop_position == 'right' %} row-reverse-md{% endif %}"
          style="--col-width: {% if banner_image != blank %}{{ section_st.desktop_image_width }}{% else %}0{% endif %}%;--gap-desktop: 0px;--gap: 0px;"
        >
          {% if banner_image != blank %}
            <div class="image-with-text__media-item w-full col-1025-w-custom block-1025 hidden">
              <div
                class="image-with-text__media banner__media h-full hidden block-md"
                style="--aspect-ratio: {{ banner_image.aspect_ratio }}"
              >
                {%- liquid
                  assign alt = 'general.image.image_alt_default' | t
                  if banner_image.alt
                    assign alt = banner_image.alt | escape
                  endif
                -%}
                {%- if banner_image != blank -%}
                  {% render 'responsive-image', type: 'other', image: banner_image, image_alt: alt %}
                {% endif %}
              </div>
            </div>
          {% endif %}
          <div class="newsletter_inner w-full col-1025-remaining relative flex bg-white">
            <div class="newsletter_content-inner text-center w-full flex column gap-sp-6 max-h-100 p-gutter-x p-md-40 overflow-y-auto custom-scrollbar align-self-center">
              {%- if section.settings.newsletter_heading != blank or section.settings.newsletter_sub_title != blank -%}
                <div class="newsletter-header">
                  {%- if section.settings.newsletter_heading != blank -%}
                    <div
                      class="section-heading h3"
                    >
                      {{ section.settings.newsletter_heading }}
                    </div>
                  {%- endif -%}
                  {%- if section.settings.newsletter_sub_title != blank -%}
                    <div
                      class="section-description mt-10 prose"
                    >
                      {{ section.settings.newsletter_sub_title }}
                    </div>
                  {%- endif -%}
                </div>
              {%- endif -%}
              <div
                class="newsletter__form-container flex column gap-20"
              >
                {%- assign newsletter_popup_id = 'NewsletterForm--' | append: section.id -%}
                {%- form 'customer', class: 'form-validation newsletter__form newsletter__form--popup flex' -%}
                  <input type="hidden" name="contact[tags]" value="newsletter">
                  <div class="flex gap-15 column w-full">
                    <div class="field relative flex wrap w-full">
                      <input
                        id="{{ newsletter_popup_id }}"
                        type="email"
                        required
                        class="field__input w-full newsletter-form-popup-input"
                        name="contact[email]"
                        autocomplete="email"
                        aria-required="true"
                        autocorrect="off"
                        autocapitalize="off"
                        value="{% if customer %}{{ customer.email }}{% endif %}"
                        placeholder="{% if email_placeholder != blank %}{{ email_placeholder }}{% else %}{{ 'newsletter.label' | t }}{% endif %}"
                        pattern=".+\.[a-zA-Z]{2,6}"
                      >
                      <label class="field__label" for="NewsletterForm--{{ section.id }}">
                        {% if email_placeholder != blank -%}
                          {{- email_placeholder -}}
                        {%- else -%}
                          {{- 'newsletter.label' | t -}}
                        {%- endif %}
                      </label>
                    </div>
                    <button
                      type="submit"
                      name=" {{ 'newsletter.button_label' | t }}"
                      class="btn w-full button-newletter-popup btn-primary newsletter__button w-full"
                      aria-label="{%- if button_label != blank -%}{{ button_label }} {%- else -%} {{ 'subscribe.button_label' | t }} {% endif %}"
                    >
                      <span
                        class="hidden-on-load"
                        {% if design_mode %}
                          data-live-text-setting="section.{{ section.id }}.newsletter_button_label"
                        {% endif %}
                      >
                        {%- if button_label != blank -%}
                          {{ section.settings.newsletter_button_label }}
                        {%- else -%}
                          {{ 'newsletter.button_label' | t }}
                        {% endif -%}
                      </span>
                      {%- render 'loader' -%}
                    </button>
                  </div>
                {%- endform -%}
              </div>
              <div
                class="pointer flex content-center gap-5 address-check not-highlight-tap"
                tabindex="0"
              >
                <input
                  type="checkbox"
                  id="newsletter-popup-do-not-show-again"
                  aria-label="{{ 'newsletter_popup.do_not_show_again' | t }}"
                  class="m-0 newsletter-action"
                >
                <label for="newsletter-popup-do-not-show-again" class="fs-small underline pointer">
                  {{- 'newsletter_popup.do_not_show_again' | t -}}
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </newsletter-modal-popup>
</newsletter-popup>
{% if request.design_mode == false %}
  </div>
  </template>
{% endif %}
{% schema %}
{
  "name": "t:sections.newsletter_popup.name",
  "tag": "section",
  "class": "overlay-section overlay-newsletter",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.newsletter_popup.how_to_use"
    },
    {
      "type": "header",
      "content": "t:sections.newsletter_popup.header.heading"
    },
    {
      "type": "checkbox",
      "id": "enable_on_homepage",
      "label": "t:sections.newsletter_popup.settings.show_on_homepage",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "newsletter_banner",
      "label": "t:sections.newsletter_popup.settings.banner_image",
      "info": "t:sections.featured_product_banner.blocks.image_effect.info"
    },
    {
      "type": "range",
      "id": "desktop_image_width",
      "min": 30,
      "max": 60,
      "step": 1,
      "unit": "%",
      "default": 40,
      "label": "t:sections.all.image.width"
    },
    {
      "type": "select",
      "id": "image_desktop_position",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.image.desktop_position.left"
        },
        {
          "value": "right",
          "label": "t:sections.all.image.desktop_position.right"
        }
      ],
      "default": "left",
      "label": "t:sections.all.image.desktop_position.label"
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "label": "t:sections.newsletter_popup.settings.heading",
      "default": "Enjoy 10% Off Your First Order"
    },
    {
      "type": "richtext",
      "id": "newsletter_sub_title",
      "label": "t:sections.newsletter_popup.settings.short_description",
      "default": "<p>Just enter your email. No spam, only skincare magic</p>"
    },
    {
      "type": "text",
      "id": "newsletter_email_placeholder",
      "label": "t:sections.newsletter_popup.settings.email_placeholder",
      "default": "Email placeholder"
    },
    {
      "type": "text",
      "id": "newsletter_button_label",
      "label": "t:sections.newsletter_popup.settings.button_label",
      "default": "Unlock My 10% Off"
    }
  ]
}
{% endschema %}
