{{ 'banner.css' | asset_url | stylesheet_tag }}
{% liquid
  assign section_st = section.settings
  assign theme_st = settings
  assign scroll_animation = theme_st.scroll_animation
  assign image = section_st.image
  assign mobile_image = section_st.mobile_image | default: image
  assign image_height = section_st.image_height
  if section_st.section_width == 'fix_width'
    assign section_width = 'container'
  elsif section_st.section_width == 'full_width'
    assign section_width = 'full-width'
  else
    assign section_width = 'fluid_container'
  endif
%}
{% liquid
  assign content_alignment = section_st.text_alignment
  assign section_content_alignment = section_st.content_alignment

  assign array_title = ''
  assign array_collection = ''
  assign unique_block_ids = ''
  assign url_default = ''
  assign block_collection = section.blocks | where: 'type', 'featured_collection'
  for block in block_collection
    assign block_st = block.settings
    assign collection_list = block_st.collection_list
    if block_st.title != blank and block_st.collection_list != blank
      assign block_id = block.id
      unless unique_block_ids contains block_id
        assign unique_block_ids = unique_block_ids | append: block_id | append: ','
      endunless
      assign array_title = array_title | append: block_st.title | append: '::' | append: block_id | append: ','
      for collection in collection_list
        assign array_collection = array_collection | append: collection.title | append: '::' | append: block_id | append: '::' | append: collection.url | append: ','
      endfor
    endif
  endfor
  assign split_array = array_title | split: ','
  assign split_collection = array_collection | split: ','
  assign unique_block_ids = unique_block_ids | split: ','
-%}
{%- capture style -%}
  --section-pt: {{ section_st.padding_top }}; --section-pb: {{ section_st.padding_bottom }};"
{%- endcapture -%}
{% style %}
  custom-options {
    top: calc(100% + 20px);
    --timming: 0.2s;
  }
  custom-options > * {
    max-height: 30rem;
  }
  .title-list,.collection-group {
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.10);
  }
  custom-options.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    top: calc(100% - 2px);
  }
  .recommend-prose {
    line-height: 2.15;
  }
  .title-group.active .title-item,
  .collection-item.active {
    color: var(--color-heading);
    background-color: var(--color-background-2);
  }
  @media screen and (max-width: 767.98px) {
    .recommend_collections_buttons {
      justify-content: center;
    }
    .block__description .fs-22 {
      font-size: 18px;
    }
    .collection-list.dropdown-right {
      left: auto;
      right: 0;
    }
  }
{% endstyle %}
{% capture title_replace %}
  <select-options class="title-select relative px-sp-4 pointer lh-normal inline-flex">
    {% if split_array.size > 0 %}
      {% liquid
        assign first_item = split_array[0]
        assign title_parts = first_item | split: '::'
        assign first_title = title_parts[0]
      %}
      <span class="title-select__text heading-style word-break select_option inline-flex align-center gap-20 border-bottom" style="--border-height: 2px; --color-border: var(--color-heading);">{{ first_title }}
        <svg class="icon icon-down icon-rotate transition-drawer w-custom flex-auto" width="12" height="6" viewBox="0 0 10 6" style="--width: 1rem;">
          <use href="#icon-arrow-down-mb"></use>
        </svg>
       </span>
      <custom-options class="title-list text-left visibility-hidden text-left rounded flex column gap-2 overflow-auto p-10 bg-white absolute transition-short z-2 shadow min-w-custom word-break left-0 opacity-0 pointer-none" style="--min-width: 21rem;">
        {% for item in split_array %}
             <div class="title-group custom-scrollbar">
          {% liquid
            assign title_parts = item | split: '::'
            assign title = title_parts[0]
            assign block_id = title_parts[1]
          %}
              <span class="title-item lh-global fs-big-2 py-sp-2 px-sp-4 rounded-10 hover-heading-color hover-bg_second block" data-block-id="{{ block_id }}">
                {{ title }}
              </span>
          </div>
        {% endfor %}
      </custom-options>
    {% else %}
      <span class="title-select__text">{{ 'recommended_collection.selected.title.default' | t }}</span>
    {% endif %}
  </select-options>
{% endcapture %}
{% capture replace_collection %}
  <select-options class="collection-select relative px-sp-4 pointer lh-normal inline-flex">
    {% if split_collection.size > 0 %}
      {% liquid
        assign first_item = split_collection[0]
        assign item_parts = first_item | split: '::'
        assign first_title = item_parts[0]
        assign first_block_id = item_parts[1]
        assign first_url = item_parts[2]
        assign url_default = first_url
      %}
      <span class="collection-select__text heading-style word-break select_option inline-flex align-center gap-20 border-bottom" style="--border-height: 2px; --color-border: var(--color-heading);" data-url="{{ first_url }}">{{ first_title }}
        <svg class="icon icon-down icon-rotate transition-drawer w-custom flex-auto" width="1" height="6" viewBox="0 0 10 6" style="--width: 1rem;">
          <use href="#icon-arrow-down-mb"></use>
        </svg>
      </span>
      <custom-options class="collection-list block shadow absolute visibility-hidden transition-short rounded z-2 min-w-custom word-break left-0 opacity-0 pointer-none" style="--min-width: 21rem;">
        {% for block_id in unique_block_ids %}
          <div class="collection-group text-left custom-scrollbar flex column gap-2 fs-big-2 bg-white rounded p-10 overflow-auto" id="{{ block_id }}" {% if block_id != first_block_id %}style="display: none;"{% endif %}>
            {% for item in split_collection %}
              {% liquid
                assign item_parts = item | split: '::'
                assign item_title = item_parts[0]
                assign item_block_id = item_parts[1]
                assign item_url = item_parts[2]
              %}
              {% if item_block_id == block_id %}
                  <div class="collection-item hover-heading-color lh-global text py-sp-2 px-sp-4 rounded-10 hover-bg_second" data-url="{{ item_url }}">
                    {{ item_title }}
                  </div>
              {% endif %}
            {% endfor %}
          </div>
        {% endfor %}
      </custom-options>
    {% else %}
      <span class="collection-select__text">{{ 'recommended_collection.selected.collection.default' | t }}</span>
    {% endif %}
  </select-options>
{% endcapture %}


{%- capture style_ratio -%}
  {% if image != blank %}--aspect-ratio: {{ image.aspect_ratio }};{% else %}--aspect-ratio: 5/2;{% endif %}
  {%- if mobile_image != blank -%} --aspect-ratio-mb: {{ mobile_image.aspect_ratio }};{%- endif -%}{% if mobile_image == blank and section_st.image != blank %}--aspect-ratio-mb: {{ section_st.image.aspect_ratio }};{% endif %}
{%- endcapture -%}
<div
  class="section section__image-with-text-overlay color-{{ section_st.color_scheme }} gradient{% if section_st.show_divider %} border-top{% endif %}"
  style="{{ style | strip | strip_newlines }}"
>
  <div class="{{ section_width }}">
    <div
      class="w-full flex relative h-{{ image_height }} overflow-unset"
      {%- if image_height == 'adapt' or image_height == 'full_screen' -%}
        style="{{ style_ratio | strip | strip_newlines }}"
      {%- endif -%}
    >
      <div
        class="banner__media absolute{% if section_width != "full-width" %} rounded{% endif %}{% if image == blank %} placeholder inset-0{% endif %}{% if image_height != 'adapt' %} inset-0{% endif %}"
        {%- if image_height == 'adapt' or image_height == 'full_screen' or image_height == 'base_on_content' -%}
          style="{{ style_ratio | strip | strip_newlines }}"
        {% else %}
          style="--aspect-ratio: {{ image_height }}; --aspect-ratio-mb: {{ image_height }};"
        {%- endif -%}
      >
        {%- if image != blank or mobile_image != blank -%}
          {%- liquid
            assign alt_default = 'accessibility.promotion_banner' | t
            assign alt = section_st.banner_image.alt | default: alt_default | escape
          -%}
          {% render 'responsive-image',
            type: 'banner',
            container: section_st.section_width,
            image: image,
            image_mobile: mobile_image,
            image_alt: alt,
            animate: 'zoom-out-small',
            motion: false
          %}
        {%- else -%}
          {%- render 'placeholder-render',
            type: 'lifestyle-2',
            class: 'img-placeholder h-full w-full',
            motion: false
          -%}
        {% endif %}
      </div>
      <div
        class="banner__content media__content relative z-2 flex w-full text-{{ section_st.text_alignment_mobile }} text-md-{{ section_st.text_alignment }}"
      >
        <div
          class="banner__box flex container image-with-text__text-item py-custom {{ section_st.desktop_content_position }}"
          style="--max-width: {{ section_st.max_width }}%;--padding-block: 60;"
        >
          <section-selected class="block w-full max-w-custom">
            {% for block in section.blocks %}
              {% liquid
                assign block_st = block.settings
              %}
              {% case block.type %}
                {% when 'heading' %}
                  {% if scroll_animation != 'disable' %}
                    <motion-effect
                      data-animate="fade-up"
                      data-animate-delay="{{ forloop.index | times: 5 | plus: 25 }}"
                      class="block"
                    >
                  {% endif %}
                  <div
                    class="block__heading mb-custom{% if block_st.spacing_bottom > 10 %} mb_auto-rsp{% endif %} {{ block_st.heading_size }}"
                    style="--space-bottom: {{ block_st.spacing_bottom }};"
                    {{ block.shopify_attributes }}
                  >
                    {{ block.settings.heading }}
                  </div>
                  {% if scroll_animation != 'disable' %}
                    </motion-effect>
                  {% endif %}
                {% when 'subheading' %}
                  {% if scroll_animation != 'disable' %}
                    <motion-effect
                      data-animate="fade-up"
                      data-animate-delay="{{ forloop.index | times: 5 | plus: 25 }}"
                      class="block"
                    >
                  {% endif %}
                  <div
                    class="block__heading mb-custom{% if block_st.spacing_bottom > 10 %} mb_auto-rsp{% endif %} heading-color fs-big-2"
                    style="--space-bottom: {{ block_st.spacing_bottom }};"
                    {{ block.shopify_attributes }}
                  >
                    {{ block.settings.subheading }}
                  </div>
                  {% if scroll_animation != 'disable' %}
                    </motion-effect>
                  {% endif %}
                {% when 'highlight_text' %}
                  {% if scroll_animation != 'disable' %}
                    <motion-effect
                      data-animate="left-to-right"
                      data-animate-delay="{{ forloop.index | times: 5 | plus: 25 }}"
                      class="block ltr-motion {% if scroll_animation != 'disable' %} desktop_only{% endif %}"
                    >
                  {% endif %}
                  <div
                    class="block__highlight_text subheading_weight lh-normal inline-flex gap-5 content-center mb-custom{% if block_st.spacing_bottom > 10 %} mb_auto-rsp{% endif %}{% if block_st.uppercase %} uppercase{% endif %} fs-{{ block_st.highlight_text_size }} text-color{% if scroll_animation == 'disable' %} bg-custom py-sp-2 px-15{% endif %} btn-rounded"
                    style="--space-bottom: {{ block_st.spacing_bottom }};--color-text: {{ block_st.text_color }};--bg-color-custom: {{ block_st.background_color }};"
                    {{ block.shopify_attributes }}
                  >
                    {%- if scroll_animation != 'disable' -%}
                      <div class="ltr-outer inline-flex">
                        <div class="ltr-inner inline-block overflow-hidden relative">
                          <div class="ltr-inner-content">
                            <div
                              class="ltr-wrap inline-flex align-center gap-5max-w-100 bg-custom py-sp-2 px-15"
                            >
                    {%- endif -%}
                    {%- if block_st.highlight_text_icon == 'star' -%}
                      {%- render 'icon-star' -%}
                    {%- elsif block_st.highlight_text_icon == 'dot' -%}
                      {%- render 'icon-dot' -%}
                    {%- endif -%}
                    <div class="max-w-100 lh-normal">{{ block.settings.highlight_text | escape }}</div>
                    {%- if scroll_animation != 'disable' -%}
                      </div>
                      </div>
                      </div>
                      </div>
                    {%- endif -%}
                  </div>
                  {% if scroll_animation != 'disable' %}
                    </motion-effect>
                  {% endif %}
                {% when 'description' %}
                  {% if scroll_animation != 'disable' %}
                    <motion-effect
                      class="block__description text-color block relative z-2 mb-custom{% if block_st.spacing_bottom > 10 %} mb_auto-rsp{% endif %} fs-{{ block_st.description_size }} {% if section.settings.hide_description_on_mobile %}hidden-mobile{% endif %}"
                      style="--space-bottom: {{ block_st.spacing_bottom }};"
                      {{ block.shopify_attributes }}
                      data-animate="fade-up"
                      data-animate-delay="{{ forloop.index | times: 5 | plus: 25 }}"
                      class="block"
                    >
                  {% endif %}
                  <div
                    class="block__description text-color prose recommend-prose block relative z-2 mb-custom{% if block_st.spacing_bottom > 10 %} mb_auto-rsp{% endif %} fs-{{ block_st.description_size }} {% if section.settings.hide_description_on_mobile %}hidden-mobile{% endif %}"
                    style="--space-bottom: {{ block_st.spacing_bottom }};"
                    {{ block.shopify_attributes }}
                    data-animate="fade-up"
                    data-animate-delay="{{ forloop.index | times: 5 | plus: 25 }}"
                    class="block"
                  >
                    {{
                      block_st.description
                      | replace: '[title]', title_replace
                      | replace: '[collection]', replace_collection
                    }}
                  </div>
                  {% if scroll_animation != 'disable' %}
                    </motion-effect>
                  {% endif %}
                {% when 'button' %}
                  {% liquid
                    assign first_button_label = block_st.first_button_label
                    assign first_button_type = block_st.first_button_type
                    assign second_button_label = block_st.second_button_label
                    assign second_button_link = block_st.second_button_link
                    assign second_button_type = block_st.second_button_type
                  %}
                  {% if first_button_label != blank or block_st.second_button_label != blank %}
                    {% if scroll_animation != 'disable' %}
                      <motion-effect
                        data-animate="fade-up"
                        data-animate-delay="{{ forloop.index | times: 5 | plus: 25 }}"
                        class="block"
                      >
                    {% endif %}
                    <div
                      class="block__buttons recommend_collections_buttons mb-custom{% if block_st.spacing_bottom > 10 %} mb_auto-rsp{% endif %} flex wrap gap text-center {% if section_content_alignment %} justify-content-{{ section_content_alignment }}{% else %} justify-content-{{ content_alignment }}{% endif %}{% if section_st.vertical_alignment_group %} justify-content-{{ section_st.vertical_alignment_group }}{% endif %}"
                      style="--space-bottom: {{ block_st.spacing_bottom }};--gap-desktop: 24px; --gap: 16px;"
                      {{ block.shopify_attributes }}
                    >
                      {% if first_button_label != blank %}
                        <a
                          {% if url_default == blank %}
                            role="link" aria-disabled="true"
                          {% else %}
                            href="{{ url_default | default: "#" }}"
                          {% endif %}
                          aria-label="{{ first_button_label }}"
                          class="btn-change-url btn-{{ first_button_type }}{% if first_button_type == "link" %} align-self-center border-animation{% else %} btn w-full min-w-md-custom w-md-auto max-w-100{% endif %} pointer"
                          {% if first_button_type != 'link' %}
                            style="--width: 20rem;"
                          {% else %}
                            style="--body-font-size: 15px;"
                          {% endif %}
                        >
                          {{ block.settings.first_button_label }}
                        </a>
                      {% endif %}
                      {% if second_button_label != blank %}
                        <a
                          {% if second_button_link == blank %}
                            role="link" aria-disabled="true"
                          {% else %}
                            href="{{ second_button_link | default: "#" }}"
                          {% endif %}
                          aria-label="{{ second_button_label }}"
                          class="btn-{{ second_button_type }}{% if second_button_type == "link" %} align-self-center border-animation{% else %} btn w-full min-w-md-custom w-md-auto max-w-100{% endif %} pointer"
                          {% if second_button_type != 'link' %}
                            style="--width: 20rem;"
                          {% else %}
                            style="--body-font-size: 15px;"
                          {% endif %}
                        >
                          {{ block.settings.second_button_label }}
                        </a>
                      {% endif %}
                    </div>
                    {% if scroll_animation != 'disable' %}
                      </motion-effect>
                    {% endif %}
                  {% endif %}
              {% endcase %}
            {% endfor %}
          </section-selected>
        </div>
      </div>
      <div
        class="overlay absolute inset-0 bg-dark{% if section_width != "full-width" %} rounded{% endif %}"
        style="--opacity: {{ section_st.overlay_opacity | times: 0.01 }}"
      ></div>
    </div>
  </div>
</div>
<script src="{{ 'section-recommended-collection.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "t:sections.recommended_collection.name",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer", "custom.overlay"]
  },
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.recommended_collection.how_to_use"
    },
    {
      "type": "header",
      "content": "t:sections.all.general"
    },
    {
      "type": "select",
      "id": "section_width",
      "options": [
        {
          "value": "fix_width",
          "label": "t:sections.all.layout.fix_width"
        },
        {
          "value": "stretch_width",
          "label": "t:sections.all.layout.stretch_width"
        },
        {
          "value": "full_width",
          "label": "t:sections.all.layout.full_width"
        }
      ],
      "default": "full_width",
      "label": "t:sections.all.layout.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.info",
      "default": "default-color-scheme"
    },
    {
      "type": "header",
      "content": "t:sections.all.image.label"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.all.image.label"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "t:sections.all.image.mobile_image"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.slideshow.settings.blocks.image.image_overlay_opacity.label",
      "default": 0
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__1.label"
        },
        {
          "value": "base_on_content",
          "label": "t:sections.main-collection-banner.settings.image_height.option__2"
        },
        {
          "value": "small",
          "label": "t:sections.slideshow.settings.slide_height.small"
        },
        {
          "value": "medium",
          "label": "t:sections.slideshow.settings.slide_height.medium"
        },
        {
          "value": "large",
          "label": "t:sections.slideshow.settings.slide_height.large"
        }
      ],
      "default": "adapt",
      "label": "t:sections.scrolling_text.settings.blocks.image.image_height.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.content_setting.label"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "default": "middle-left",
      "label": "t:sections.all.desktop_content_position.label",
      "info": "t:sections.all.desktop_content_position.info",
      "options": [
        {
          "group": "t:sections.all.desktop_content_position.group.top.label",
          "value": "top-left",
          "label": "t:sections.all.desktop_content_position.options__1.label"
        },
        {
          "group": "t:sections.all.desktop_content_position.group.top.label",
          "value": "top-center",
          "label": "t:sections.all.desktop_content_position.options__2.label"
        },
        {
          "group": "t:sections.all.desktop_content_position.group.top.label",
          "value": "top-right",
          "label": "t:sections.all.desktop_content_position.options__3.label"
        },
        {
          "group": "t:sections.all.desktop_content_position.group.middle.label",
          "value": "middle-left",
          "label": "t:sections.all.desktop_content_position.options__4.label"
        },
        {
          "group": "t:sections.all.desktop_content_position.group.middle.label",
          "value": "middle-center",
          "label": "t:sections.all.desktop_content_position.options__5.label"
        },
        {
          "group": "t:sections.all.desktop_content_position.group.middle.label",
          "value": "middle-right",
          "label": "t:sections.all.desktop_content_position.options__6.label"
        },
        {
          "group": "t:sections.all.desktop_content_position.group.bottom.label",
          "value": "bottom-left",
          "label": "t:sections.all.desktop_content_position.options__7.label"
        },
        {
          "group": "t:sections.all.desktop_content_position.group.bottom.label",
          "value": "bottom-center",
          "label": "t:sections.all.desktop_content_position.options__8.label"
        },
        {
          "group": "t:sections.all.desktop_content_position.group.bottom.label",
          "value": "bottom-right",
          "label": "t:sections.all.desktop_content_position.options__9.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_alignment",
      "options": [
        {
          "value": "start",
          "label": "t:sections.all.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.text_alignment.options__2.label"
        },
        {
          "value": "end",
          "label": "t:sections.all.text_alignment.options__3.label"
        }
      ],
      "default": "start",
      "label": "t:sections.all.text_alignment.label"
    },
    {
      "type": "range",
      "id": "max_width",
      "min": 40,
      "max": 100,
      "unit": "%",
      "default": 100,
      "label": "t:sections.rich-text.settings.max_width.label",
      "info": "t:sections.rich-text.settings.max_width.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.mobile_options.mobile_layout.label"
    },
    {
      "type": "select",
      "id": "text_alignment_mobile",
      "options": [
        {
          "value": "start",
          "label": "t:sections.all.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.text_alignment.options__2.label"
        },
        {
          "value": "end",
          "label": "t:sections.all.text_alignment.options__3.label"
        }
      ],
      "default": "start",
      "label": "t:sections.all.text_alignment.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 48
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 48
    },
    {
      "type": "header",
      "content": "t:sections.all.divider.section_divider_heading"
    },
    {
      "type": "checkbox",
      "id": "show_divider",
      "label": "t:sections.all.divider.show_divider",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "limit": 1,
      "name": "t:sections.all.content_setting.heading.label",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Perfect Picks for You!",
          "label": "t:sections.all.content_setting.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h4",
              "label": "t:sections.all.content_header.heading_size.options__4.label"
            },
            {
              "value": "h3",
              "label": "t:sections.all.content_header.heading_size.options__3.label"
            },
            {
              "value": "h2",
              "label": "t:sections.all.content_header.heading_size.options__2.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.content_header.heading_size.options__1.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.content_header.heading_size.options__0.label"
            }
          ],
          "default": "h2",
          "label": "t:sections.all.content_header.heading_size.label",
          "info": "t:sections.custom_section.blocks.heading.info.edit_presets_in_theme_settings"
        },
        {
          "type": "range",
          "id": "spacing_bottom",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "t:sections.all.padding.spacing_bottom",
          "default": 40
        }
      ]
    },
    {
      "type": "subheading",
      "limit": 1,
      "name": "t:sections.all.content_setting.subheading.label",
      "settings": [
        {
          "type": "text",
          "id": "subheading",
          "default": "subheading",
          "label": "t:sections.all.content_setting.subheading.label"
        },
        {
          "type": "range",
          "id": "spacing_bottom",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "t:sections.all.padding.spacing_bottom",
          "default": 40
        }
      ]
    },
    {
      "type": "highlight_text",
      "limit": 1,
      "name": "t:sections.all.content_setting.highlight_text.label",
      "settings": [
        {
          "type": "text",
          "id": "highlight_text",
          "default": "Highlight text",
          "label": "t:sections.all.content_setting.highlight_text.label"
        },
        {
          "type": "select",
          "id": "highlight_text_size",
          "options": [
            {
              "value": "12",
              "label": "t:sections.all.content_header.heading_size.xs_small.label"
            },
            {
              "value": "small",
              "label": "t:sections.all.content_header.heading_size.x_small.label"
            },
            {
              "value": "small-1",
              "label": "t:sections.all.content_header.heading_size.small.label"
            },
            {
              "value": "",
              "label": "t:sections.all.content_header.heading_size.base.label"
            },
            {
              "value": "big-2",
              "label": "t:sections.all.content_header.heading_size.large.label"
            }
          ],
          "default": "small-1",
          "label": "t:sections.all.content_header.heading_size.size"
        },
        {
          "type": "select",
          "id": "highlight_text_icon",
          "options": [
            {
              "value": "none",
              "label": "t:sections.all.content_setting.highlight_text.settings.icons.options__1.label"
            },
            {
              "value": "star",
              "label": "t:sections.all.content_setting.highlight_text.settings.icons.options__2.label"
            },
            {
              "value": "dot",
              "label": "t:sections.all.content_setting.highlight_text.settings.icons.options__3.label"
            }
          ],
          "default": "star",
          "label": "t:sections.all.content_setting.highlight_text.settings.icons.label"
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "t:sections.image-with-text.settings.background_color",
          "default": "#C03E35",
          "alpha": true
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "t:sections.image-with-text.settings.text_color",
          "default": "#ffffff",
          "alpha": true
        },
        {
          "type": "checkbox",
          "id": "uppercase",
          "default": false,
          "label": "t:settings_schema.typography.settings.heading.text_transform.uppercase"
        },
        {
          "type": "range",
          "id": "spacing_bottom",
          "min": 0,
          "max": 30,
          "step": 1,
          "unit": "px",
          "label": "t:sections.all.padding.spacing_bottom",
          "default": 15
        }
      ]
    },
    {
      "type": "description",
      "limit": 1,
      "name": "t:sections.all.content_setting.description.label",
      "settings": [
        {
          "type": "textarea",
          "id": "description",
          "default": "I have [title] skin and my top skin concern is [collection]",
          "label": "t:sections.all.content_setting.description.label",
          "info": "t:sections.recommended_collection.blocks.button.info"
        },
        {
          "type": "select",
          "id": "description_size",
          "options": [
            {
              "value": "12",
              "label": "t:sections.all.content_header.heading_size.xs_small.label"
            },
            {
              "value": "small",
              "label": "t:sections.all.content_header.heading_size.x_small.label"
            },
            {
              "value": "small-1",
              "label": "t:sections.all.content_header.heading_size.small.label"
            },
            {
              "value": "",
              "label": "t:sections.all.content_header.heading_size.base.label"
            },
            {
              "value": "big-2",
              "label": "t:sections.all.content_header.heading_size.large.label"
            },
            {
              "value": "22",
              "label": "t:sections.all.content_header.heading_size.x_large.label"
            }
          ],
          "default": "22",
          "label": "t:sections.all.content_header.heading_size.size"
        },
        {
          "type": "range",
          "id": "spacing_bottom",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "t:sections.all.padding.spacing_bottom",
          "default": 50
        }
      ]
    },
    {
      "type": "button",
      "limit": 1,
      "name": "t:sections.all.content_setting.button_label-block.label",
      "settings": [
        {
          "type": "header",
          "content": "t:sections.all.content_setting.first_button_label.name"
        },
        {
          "type": "text",
          "id": "first_button_label",
          "default": "Button label",
          "label": "t:sections.all.content_setting.first_button_label.label"
        },
        {
          "type": "select",
          "id": "first_button_type",
          "label": "t:sections.all.content_setting.button_type.label",
          "default": "primary",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.all.content_setting.button_type.primary.label"
            },
            {
              "value": "outline",
              "label": "t:sections.all.content_setting.button_type.outline.label"
            },
            {
              "value": "link",
              "label": "t:sections.all.content_setting.button_type.link.label"
            }
          ]
        },
        {
          "type": "header",
          "content": "t:sections.all.content_setting.second_button_label.name"
        },
        {
          "type": "text",
          "id": "second_button_label",
          "label": "t:sections.all.content_setting.second_button_label.label",
          "default": "Button label"
        },
        {
          "type": "url",
          "id": "second_button_link",
          "label": "t:sections.all.content_setting.second_button_label.link"
        },
        {
          "type": "select",
          "id": "second_button_type",
          "label": "t:sections.all.content_setting.button_type.label",
          "default": "link",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.all.content_setting.button_type.primary.label"
            },
            {
              "value": "outline",
              "label": "t:sections.all.content_setting.button_type.outline.label"
            },
            {
              "value": "link",
              "label": "t:sections.all.content_setting.button_type.link.label"
            }
          ]
        },
        {
          "type": "range",
          "id": "spacing_bottom",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "label": "t:sections.all.padding.spacing_bottom",
          "default": 0
        }
      ]
    },
    {
      "type": "featured_collection",
      "name": "t:sections.collection-list.blocks.featured_collection.name",
      "limit": 5,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.collection-list.blocks.featured_collection.settings.title.label"
        },
        {
          "type": "collection_list",
          "id": "collection_list",
          "limit": 5,
          "label": "t:sections.collection-list.blocks.featured_collection.settings.collection.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.recommended_collection.name",
      "category": "t:sections.group.collection",
      "blocks": [
        {
          "type": "highlight_text"
        },
        {
          "type": "heading"
        },
        {
          "type": "description"
        },
        {
          "type": "button"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        }
      ]
    }
  ]
}
{% endschema %}
