{{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}
{%- liquid
  assign theme_st = settings
  assign section_st = section.settings
  assign scroll_animation = theme_st.scroll_animation
  assign rounded = ' rounded'
  assign section_width = section_st.section_width
  if section_st.section_width == 'fix_width'
    assign section_width = 'container'
  elsif section_st.section_width == 'full_width'
    assign section_width = 'full-width'
    assign rounded = ''
  else
    assign section_width = 'fluid_container'
  endif
  assign alt = 'sections.video.load_video' | t
  assign poster = section_st.video_local.preview_image | default: section_st.video_poster
  assign aspect_ratio = section_st.aspect_ratio
  if aspect_ratio != 'adapt'
    assign aspect_ratio = section_st.aspect_ratio
  else
    assign aspect_ratio = section_st.video_local.aspect_ratio
  endif
  assign video_id = section_st.video_url.id
  assign heading_size = section_st.heading_size

  assign header_size = ''
  if heading_size == 'small'
    assign header_size = 'h3'
  elsif heading_size == 'large'
    assign header_size = 'h1'
  endif

  assign loop = false
  if section_st.looping
    assign loop = true
  endif
  assign heading = section_st.heading
  assign drawn_underline = section_st.drawn_underline
  assign drawn_underline_type = section_st.drawn_underline_type
  assign drawn_underline_color = section_st.drawn_underline_color
  if drawn_underline
    assign scroll_animation = 'disable'
  endif
-%}

{%- capture style -%}
  --section-pt: {{ section_st.padding_top }}; --section-pb: {{ section_st.padding_bottom }};
  {% if heading_size == 'large' %}--font-size: 40;{% endif %}
  {%- endcapture -%}

<div
  class="color-{{ section_st.color_scheme }} section gradient section__video{% if section_st.show_divider %} border-top{% endif %}"
  style="{{ style | strip | strip_newlines }}"
>
  <div class="{{ section_width }}">
    {% assign animate_delay = 50 %}
    {%- if section.settings.heading != blank or section.settings.description != blank -%}
      <div class="section-header text-{{ section_st.text_alignment }}">
        {%- if section.settings.heading != blank -%}
          {% if scroll_animation != 'disable' or drawn_underline %}
            <motion-effect
              data-animate="{% if scroll_animation != 'disable' %}fade-up{% else %}highlighted-text{% endif %}"
              data-animate-delay="{{ animate_delay }}"
              class="block"
            >
          {% endif %}
          <h2 class="block section-heading {{ header_size }}">
            {% if drawn_underline %}
              {%- capture squiggle_svg_1 -%}
                <svg viewBox="0 0 184 26" fill="none"><use href="#squiggle-svg-1" /></svg>
              {%- endcapture -%}
              {%- capture squiggle_svg_2 -%}
               <svg viewBox="0 0 186 24" fill="none"><use href="#squiggle-svg-2" /></svg>
              {%- endcapture -%}
              {%- capture squiggle_svg_3 -%}
                 <svg viewBox="0 0 186 24" fill="none"><use href="#squiggle-svg-3" /></svg>
              {%- endcapture -%}
              {%- capture squiggle_svg_4 -%}
                <svg viewBox="0 0 220 50"fill="none"><use href="#squiggle-svg-4" /></svg>
              {%- endcapture -%}
              {%- capture squiggle_svg_5 -%}
                <svg viewBox="-347 -25 694 80" fill="none" role="presentation" preserveAspectRatio="none"><use href="#squiggle-svg-5" /></svg>
              {%- endcapture -%}
              {%- assign result = heading -%}
              {%- assign parts = result | split: '<em>' -%}
              {%- assign em_count = parts | size | minus: 1 -%}

              {%- for i in (1..em_count) -%}
                {%- assign idx = i | plus: 0 -%}
                {%- assign chunk = parts[idx] | default: '' -%}
                {%- assign text = chunk | split: '</em>' | first | strip_html | strip -%}
                {%- assign len_text = text | size -%}
                {%- capture open_em -%}
                {%- liquid
                  if drawn_underline_type == 'simple_underline'
                    assign svg = squiggle_svg_4 | append: '</em>'
                  elsif drawn_underline_type == 'curve_underline'
                    assign svg = squiggle_svg_5 | append: '</em>'
                  else
                    if len_text <= 4
                      assign svg = squiggle_svg_1 | append: '</em>'
                    elsif len_text <= 6
                      assign svg = squiggle_svg_2 | append: '</em>'
                    else
                      assign svg = squiggle_svg_3 | append: '</em>'
                    endif
                  endif
                -%}
                <em class="highlighted-text relative inline-flex{% if drawn_underline_type == 'simple_underline' %} simple_underline{% endif %} {{ drawn_underline_type }} not-italic" style="--animate-color:{{ drawn_underline_color }}">{{ svg }}</em>
              {%- endcapture -%}
                {%- assign open_em = open_em | remove: '</em>' -%}
                {%- assign heading = heading | replace_first: '<em>', open_em -%}
              {%- endfor -%}
            {% endif %}
            {{- heading -}}
          </h2>
          {% if scroll_animation != 'disable' or drawn_underline %}
            </motion-effect>
          {% endif %}
        {%- endif -%}
        {%- if section.settings.description != blank -%}
          {% if scroll_animation != 'disable' %}
            {% assign animate_delay = animate_delay | plus: 50 %}
            <motion-effect
              data-animate="fade-up"
              data-animate-delay="{{ animate_delay }}"
              class="block"
            >
          {% endif %}
          <div
            class="section-description mt-sp-4"
          >
            {{ section.settings.description }}
          </div>
          {% if scroll_animation != 'disable' %}
            </motion-effect>
          {% endif %}
        {%- endif -%}
      </div>
    {%- endif -%}
    {%- if section_st.video_local == null and section_st.video_url != null -%}
      <video-section class="video-section block relative overflow-hidden">
        <div
          class="video-has-bg video-section relative{{ rounded }}"
          style="{% if section_st.aspect_ratio != 'adapt' %}--aspect-ratio: {{ aspect_ratio }}{% else %}--aspect-ratio: 16/9;{% endif %}"
        >
          {%- if section_st.video_url.type == 'youtube' -%}
            <iframe
              src="https://www.youtube.com/embed/{{ video_id }}?autoplay={% if section_st.autoplay -%}1{% else %}0{%- endif -%}&loop={% if loop %}1{% else %}0{% endif %}&playlist={{ video_id }}&mute={% if section_st.autoplay -%}1{% else %}0{%- endif -%}&playsinline=1"
              class="js-youtube no-js-hidden"
              allow="autoplay; encrypted-media"
              title="{{ section_st.alt_description | escape }}"
              allowfullscreen
            ></iframe>
          {%- else -%}
            <iframe
              src="https://player.vimeo.com/video/{{ video_id }}?autoplay={% if section_st.autoplay -%}1{% else %}0{%- endif -%}&loop={% if loop %}1{% else %}0{% endif %}&muted={% if section_st.autoplay -%}1{% else %}0{%- endif -%}"
              class="js-vimeo no-js-hidden"
              allow="autoplay; encrypted-media"
              title="{{ section_st.alt_description | escape }}"
              allowfullscreen
            ></iframe>
          {%- endif -%}
        </div>
      </video-section>
    {%- elsif section_st.video_local != null -%}
      {%- if section_st.autoplay -%}
        <video-local
          class="video-section block relative overflow-hidden"
          style="--aspect-ratio: {{ aspect_ratio }}"
          aria-label="{{ section_st.alt_description | escape }}"
        >
      {%- else -%}
        <video-local-play
          class="video-section block relative overflow-hidden"
          style="--aspect-ratio: {{ aspect_ratio }}"
          aria-label="{{ section_st.alt_description | escape }}"
        >
      {%- endif -%}
      {% liquid
        assign poster = section_st.video_poster | default: section_st.video_local.preview_image
      %}
      <div
        class="video-thumbnail z-3 absolute banner__media overflow-hidden{{rounded}}"
        style="{% if section_st.aspect_ratio != 'adapt' %}--aspect-ratio: {{ aspect_ratio }}{% else %}--aspect-ratio: 16/9;{% endif %}"
      >
        {%- if poster != null -%}
          {%- liquid
            assign image_alt_default = 'general.image.image_alt_default' | t
            assign image_alt = poster.alt | default: image_alt_default | escape
          -%}
          {% render 'responsive-image', type: 'other', container: section_width, image: poster, image_alt: image_alt %}
        {%- else -%}
          {%- render 'placeholder-render', type: 'lifestyle-1' -%}
        {%- endif -%}
        {%- if section_st.autoplay == blank -%}
          <div class="deferred-media__poster-button absolute z-3 flex content-center wh-55">
            <button
              class="p-0 btn-white w-full h-full rounded-50 border-0 flex content-center pointer shadow transition"
              type="button"
              aria-label="{{ 'sections.video.alt_text' | t }}"
            >
              {% render 'icon-play' %}
            </button>
          </div>
        {%- endif -%}
      </div>
      <template>
        {{
          section_st.video_local
          | video_tag:
            image_size: '1100x',
            autoplay: true,
            loop: loop,
            controls: true,
            muted: true,
            alt: alt,
            class: rounded
        }}
        <span class="focus-video absolute inset-0 pointer-none"></span>
      </template>
      <noscript>
        {% liquid
          assign autoplay = false
          assign muted = false
          if section_st.autoplay
            assign autoplay = true
            assign muted = true
          endif
        %}
        {{
          section_st.video_local
          | video_tag:
            image_size: '1100x',
            autoplay: autoplay,
            loop: loop,
            controls: true,
            muted: muted,
            alt: alt,
            class: rounded
        }}
        <span class="focus-video absolute inset-0 pointer-none"></span>
      </noscript>
      {%- if section_st.autoplay -%}
        </video-local>
      {%- else -%}
        </video-local-play>
      {%- endif -%}
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.video.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer", "custom.overlay"]
  },
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.video.how_to_use"
    },
    {
      "type": "header",
      "content": "t:sections.all.general"
    },
    {
      "type": "select",
      "id": "section_width",
      "options": [
        {
          "value": "fix_width",
          "label": "t:sections.all.layout.fix_width"
        },
        {
          "value": "stretch_width",
          "label": "t:sections.all.layout.stretch_width"
        },
        {
          "value": "full_width",
          "label": "t:sections.all.layout.full_width"
        }
      ],
      "default": "fix_width",
      "label": "t:sections.all.layout.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.info",
      "default": "default-color-scheme"
    },
    {
      "type": "header",
      "content": "t:sections.all.content_header.label"
    },
    {
      "type": "richtext",
      "id": "heading",
      "default": "<p>Video</p>",
      "label": "t:sections.all.content_setting.heading.label"
    },
    {
      "type": "checkbox",
      "id": "drawn_underline",
      "default": true,
      "label": "t:sections.all.content_setting.drawn_underline.label",
      "info": "t:sections.all.content_setting.heading.info"
    },
    {
      "type": "select",
      "id": "drawn_underline_type",
      "label": "t:sections.all.content_setting.drawn_underline.type",
      "default": "squiggle_underline",
      "visible_if": "{{ section.settings.drawn_underline != false }}",
      "options": [
        {
          "value": "simple_underline",
          "label": "t:sections.all.content_setting.drawn_underline.value.simple_underline"
        },
        {
          "value": "curve_underline",
          "label": "t:sections.all.content_setting.drawn_underline.value.curve_underline"
        },
        {
          "value": "squiggle_underline",
          "label": "t:sections.all.content_setting.drawn_underline.value.squiggle_underline"
        }
      ]
    },
    {
      "type": "color",
      "id": "drawn_underline_color",
      "label": "t:sections.all.content_setting.drawn_underline.color",
      "default": "#FFB005",
      "alpha": true,
      "visible_if": "{{ section.settings.drawn_underline != false }}"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.all.content_setting.description.label",
      "default": "<p>Add a short description for this section.</p>"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "large",
          "label": "t:sections.all.content_header.heading_size.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.all.content_header.heading_size.options__2.label"
        },
        {
          "value": "small",
          "label": "t:sections.all.content_header.heading_size.options__3.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.all.content_header.heading_size.label"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.text_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.text_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.all.text_alignment.alignment"
    },
    {
      "type": "header",
      "content": "t:sections.video.name"
    },
    {
      "type": "video_url",
      "id": "video_url",
      "accept": ["youtube", "vimeo"],
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
      "label": "t:sections.video.settings.video_link.label",
      "info": "t:sections.video.settings.video_link.info"
    },
    {
      "type": "video",
      "id": "video_local",
      "label": "t:sections.video.settings.video_local.label",
      "info": "t:sections.video.settings.video_local.info_2"
    },
    {
      "type": "image_picker",
      "id": "video_poster",
      "label": "t:sections.video.settings.video_poster.label"
    },
    {
      "type": "text",
      "id": "alt_description",
      "label": "t:sections.video.settings.alt_description.label",
      "info": "t:sections.video.settings.alt_description.info",
      "default": "Video alt text"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "t:sections.video.settings.autoplay.label",
      "info": "t:sections.video.settings.autoplay.info",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "looping",
      "label": "t:sections.video.settings.looping.label",
      "default": false
    },
    {
      "type": "select",
      "id": "aspect_ratio",
      "options": [
        {
          "value": "16/9",
          "label": "t:sections.video.settings.aspect_ratio.option__1"
        },
        {
          "value": "21/9",
          "label": "t:sections.video.settings.aspect_ratio.option__2"
        },
        {
          "value": "adapt",
          "label": "t:sections.video.settings.aspect_ratio.option__3"
        }
      ],
      "default": "16/9",
      "label": "t:sections.video.settings.aspect_ratio.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 48
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 48
    },
    {
      "type": "header",
      "content": "t:sections.all.divider.section_divider_heading"
    },
    {
      "type": "checkbox",
      "id": "show_divider",
      "label": "t:sections.all.divider.show_divider",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "t:sections.video.name",
      "category": "t:sections.group.banners"
    }
  ]
}
{% endschema %}
